{% extends 'vote/baseVote.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row justify-content-center">
	<div class="col col-sm-10 col-md-8 textcenter">
        <h3>Ajouter un suffrage à l'article : <a href="{{article.get_absolute_url}}">{{article.titre}}</a></h3>
</div>
</div>
	<hr>

<div class="row justify-content-center">
	<div class="col col-sm-10 col-md-8 textcenter">
        <a class="btn btn-sm btn-block  btn-info textleft textnoir" href="{% url 'vote:ajouterSondageBinaire' article_slug=article.slug %}"><i class="fa fa-plus"></i>  Ajouter un Sondage (oui/non) à l'article</a>
    </div>
</div>
<div class="row justify-content-center">
	<div class="col col-sm-10 col-md-8 textcenter">
<a class="btn btn-sm btn-block  btn-info textleft textnoir" href="{% url 'vote:ajouterSuffrage' article_slug=article.slug %}"><i class="fa fa-plus"></i>  Ajouter un suffrage au groupe</a>

    </div>
</div>

{% endblock %}
