{% extends 'vote/baseVote.html' %}
{% load static %}
{% load blog_filters %}
{% load vote_filters %}
{% load app_filters %}
{% load fontawesome_5 %}

{% load activity_tags %}

{%block subtitle%}
<div class="row align-items-center justify-content-center">
    <div class="offset-md-3 col-md-6 textcenter">
        <h4>Suffrages: sondages, votes et élections</h4>
    </div>
    <div class="col-md-3 textcenter">
        <a href="{% url 'vote:suivre_suffrages' %}">
            {% if request.user|is_following:suivis %}
            <button class="btn btn-light btn-sm" data-placement="bottom" data-toggle="tooltip" title="Vous êtes abonné : Cliquez pour arreter de recevoir un mail à chaque nouvel article"
                    type="button">
                {% fa5_icon 'bell' title='abonnement' %}
            </button>
            {% else %}
            <button class="btn btn-light btn-sm" data-placement="bottom" data-toggle="tooltip" title="Vous n'êtes pas abonné : Cliquez pour recevoir un mail à chaque nouvel article"
                    type="button">
                {% fa5_icon 'bell-slash' title='abonnement' %}
            </button>
            {% endif %}
        </a>
        <button class="btn btn-light btn-sm" data-target="#help" data-toggle="modal" title="En savoir plus..."
                type="button">
            {% fa5_icon 'question-circle' %}
        </button>
    </div>
</div>
<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="help" role="dialog"
     tabindex="-1">
    <div class="modal-dialog textaide" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row justify-content-center">
                    <h5> Les suffrages sur Perma.cat</h5>
                </div>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body textleft">
                <p>Vous pouvez ici voir les différents suffrages : élection, sondage auprès des
                    sympathisants (inscrits sur le site), vote d'une proposition, vote d'un projet, etc.</p>
                <p>Les suffrages peuvent être ajoutés dans les articles du Forum. Ils peuvent être liés juste à
                    l'article ou bien à un des groupe du site. </p>
                <p>Un suffrage peut comporter plusieurs questions. Il y a 2 types de questions possibles :
                <ol>
                    <li>des questions de type "binaire", c'est-à-dire que les questions
                        posées pourront être répondues par "oui" ou par "non" (ou "ne se prononce pas")</p>
                    </li>
                    <li>des questions "majoritaires" c'est-à-dire une question où vous proposez
                        plusieurs solutions (candidats ou propositions), et les votants indiquent pour chaque
                        proposition son niveau d'adhésion (de "tout à fait d'accord" à "pas du tout d'accord", ou bien
                        sur une échelle de 0 à 4).
                        La proposition avec la mention majoritaire la plus haute remporte l'élection. C'est ce
                        qu'on appelle le "<a href="https://fr.wikipedia.org/wiki/Jugement_majoritaire"
                                             rel="noopener noreferrer nofollow" target="_blank">vote par
                            jugement majoritaire</a></li>
                </ol>
                <hr>
                <p>Si vous préférez, ou si vous souhaitez faire un suffrage avec des personnes non inscrites sur
                    Perma.Cat, vous pouvez aussi utiliser la plateforme <a href="https://www.balotilo.org/"
                                                                           rel="noopener noreferrer nofollow"
                                                                           target="_blank">
                        balotilo.org</a> pour organiser des scrutins par mail</p>
            </div>
        </div>
    </div>
</div>

<div class="anchor_blank" id="ref-navbargroupe"></div>
<div class="row justify-content-center">
    <nav class="navbar navbar-expand-lg justify-content-center">
        <div class="navbar-header">
            <button aria-controls="navbarProduitContent"
                    aria-expanded="false" aria-label="Toggle navigation" class="btn btn-lg navbar-toggler dropdown-toggle btn-groupe" data-target="#navbar_asso"
                    data-toggle="collapse" type="button">
                {% if request.session.asso_slug %} Groupe : {{request.session.asso_slug | getNomGroupeFromSlug}} {% else %} Choisir un groupe {% endif %}
            </button>
        </div>
        <div class="navbar-collapse collapse justify-content-center" id="navbar_asso">
            <ul class="navbar-nav subnavbar2 align-items-center btn-block">
                <a href="{% url 'vote:index' %}?base#ref-titre">
                    <li class="nav-item btn-choixgroupe btn shadow-trespetit btn-light">
                        <i class="fa fa-home"></i>
                    </li>
                </a>
                {% for asso_id, asso_nom in asso_list %}
                <a href="{% url 'vote:index' %}?asso={{asso_id}}#ref-titre">
                    <li class="nav-item btn-choixgroupe btn shadow-trespetit {%if request.session.asso_slug == asso_id %} btn-warning{% else %}btn-info{% endif %}">
                        <h6>{{asso_nom}}</h6>
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>

{%endblock%}
{% block content %}

<div class="row align-items-center">
    <div class="col-md-12 justify-content-center">
        <nav class="navbar justify-content-center navbar-expand-sm ">
            <ul class="navbar-nav justify-content-center">

                <li class="nav-item dropdown ">
                    <a class="nav-item dropdown" data-toggle="dropdown" href="#" id="navbarDropdownCategorie">
                        <button class="btn btn-primary" type="button">
                            {% if request.GET.type_vote %}
                            Type de suffrage : {{type_vote_courant}}
                            {%elif request.GET.asso %}
                            Suffrages {{asso_courante}}
                            {%elif request.GET.auteur %}
                            Suffrages de {{request.GET.auteur}}
                            {%elif typeFiltre == 'archives' %}
                            Archives
                            {%else%}
                            Catégorie
                            {%endif%}
                        </button>
                    </a>
                    <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
                        <a class=" dropdown-item " href="{%url 'vote:index' %}" style="background:white;">Toutes les
                            catégories</a>
                        <div class="dropdown-divider"></div>
                        {% for type_vote_id, cat_nom, cat_coul in type_vote_list %}
                        <a class=" dropdown-item " href="?type_vote={{type_vote_id}}"
                           ><span>{{cat_nom}}</span></a>
                        {% endfor %}
                        <div class="dropdown-divider"></div>
                        <a class=" dropdown-item " href="?archives=True" style="background:grey;"><span>Archives</span></a>
                    </div>

                </li>


                <li class="nav-item dropdown">
                    <a class="nav-item" data-toggle="dropdown" href="#" id="menuOrdreTri">

                        <button class="btn btn-light dropdown-toggle">
                            {% if request.GET.ordreTri %}
                            Trié par : {{ request.GET.ordreTri|ordreTriStr }}
                            {%else%}
                            Trier par...
                            {%endif%}
                        </button>
                    </a>
                    <div aria-labelledby="menuOrdreTri" class="dropdown-menu" id="idOrdreTri">
                        {% for titre, ordre in ordreTriPossibles.items %}
                        <a class="dropdown-item" href="?{{ request.GET.urlencode|sansOrdreTri }}&ordreTri={{ordre}}">{{titre}}</a>
                        {% endfor %}
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-item" data-toggle="dropdown" href="#" id="menuFiltre">

                        <button class="btn btn-light dropdown-toggle">
                            {% if request.GET.statut %}
                            Statut : {{ request.GET.statut|vote_statut }}
                            {%else%}
                            Filtrer...
                            {%endif%}
                        </button>
                    </a>
                    <div aria-labelledby="menuOrdreTri" class="dropdown-menu" id="idFiltre">
                        {% for titre, ordre in filtresPossibles.items %}
                        <a class="dropdown-item" href="?{{ request.GET.urlencode }}&statut={{ordre}}">{{titre}}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>

{% include 'pagination_new.html' %}
<div class="infinite-container">
    {% for suffrage in suffrage_list %}
    <div class="infinite-item">
        {% include "vote/suffrage_template.html" with suffrage=suffrage %}
        <hr>
    </div>
    {% empty %}
    <div class="infinite-item">
        <p class="textcenter">Il n'y a pas encore de suffrage</p>
    </div>
    {% endfor %}
</div>
{% include 'pagination_new.html' %}

{% endblock %}
