{% extends 'base_profil.html' %}
{% block header%}
{% load leaflet_tags %}
{% load static %}
{% load app_filters %}
{% load avatar_tags %}
{% load fontawesome_5 %}
{%endblock%}
{%block header2 %}
{% leaflet_js %}
{% leaflet_css %}
{%endblock%}
{% block title %} - {% if request.user.username == user.username %} Mon Profil {% else %}Profil de {{ user.get_username }} {% endif %}
{% endblock %}
{% block subtitle %}
<div class="row">
  <div class="col-md-12 textcenter" id="titre">

    <h3> {% if request.user.username == user.username %} Mon Profil {% else %}Profil de {{ user.get_username }} {% endif %}
    </h3>
  </div>
  </div>

<div class="row">
    <div class="col-md-12 textcenter">
        {% if  user.username != request.user.username %}
            <a href="{% url 'agora_conversation' user.username %}" class="btn btn-success">
              <span class="glyphicon glyphicons-conversation"></span> Message
            </a>
            <a href="{% url 'profil_contact' user.id %}" class="btn btn-success">
              <span class="glyphicon glyphicon-envelope"></span> Email
            </a>
            <a href="{% url 'activite' pseudo=user.username %}" class="btn btn-success">
              <span class="glyphicon glyphicon-shopping-cart"></span> Son activité
            </a>
        {%else%}
            <a href="{% url 'conversations' %}" class="btn btn-success">
              <span class="glyphicon glyphicon-shopping-cart"></span> Mes conversations
            </a>
            <a href="{% url 'mesSuivis' %}" class="btn btn-success">
              <span class="glyphicon glyphicon-shopping-cart"></span> Mes abonnements
            </a>
            <a href="{% url 'mesActions' %}" class="btn btn-success">
              <span class="glyphicon glyphicon-shopping-cart"></span> Mes actions
            </a>
        {%endif%}
            {% if request.user.is_superuser %}
            <a href="https://www.perma.cat/gestion/bourseLibre/profil/{{user.id}}/" class="btn btn-success">
              <span class="glyphicon glyphicon-shopping-cart"></span> Admin
            </a>
            {%endif%}
        <a href="{% url 'marche' %}?producteur={{ user.username }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>&nbsp; {%if  user.username != request.user.username %}Ses {%else%}Mes {%endif%}annonces
            </a>
    </div>
  </div>
{% if  user.username == request.user.username %}
{% if nbExpires %}
<hr>
<div class="row" >
  <div class="col-sm-12 textcenter" style ="color:#0f7407;">
	  <b><a href="{% url 'supprimerProduits_expires_confirmation' %}">Vous avez {{nbExpires}} offre{{nbExpires|pluralize:",s"}} du marché qui {{nbExpires|pluralize:"a,ont"}}  expiré. Cliquez ici pour l{{nbExpires|pluralize:"a,es"}} supprimer ou l{{nbExpires|pluralize:"a,es"}}  modifier</a></b>
  </div>
</div>
<hr>
{%endif%}
{%endif%}
{% endblock %}

{% block content %}

<div class="row justify-content-center" id="titre2">
  <div class="col-sm-12 col-md-10">
      {%if request.user == user or request.user.is_superuser%}
        <a href="{% url 'profil_modifier' %}">
            <button type="button" class="btn btn-sm btn-warning">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Modifier
            </button>
        </a>
      {%endif%}
      {% include 'profil_tableau.html' %}
      </div>
</div>

<div class="row">
  <div class="col-md-6">
      {%if request.user.id == user.id %}
        <a href="{% url 'profil_modifier_adresse' %}">
            <button type="button" class="btn btn-sm btn-warning">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Modifier
            </button>
        </a>
      {%endif%}
      {%if request.user.is_superuser %}
        <a href="https://www.perma.cat/gestion/bourseLibre/adresse/{{user.adresse.id}}/change/">
            <button type="button" class="btn btn-sm btn-warning">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Admin Modifier
            </button>
        </a>
      {% if user.adresse %}
              <a href="{{user.adresse.get_update_url}}">
            <button type="button" class="btn btn-sm btn-warning">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Admin Pick
            </button>
        </a>
      {%endif%}
      {%endif%}
    <table class="table table-condensed tablepanier table-striped table-middle">
    <tbody>
        {%if user.accepter_annuaire  or request.user == user %}
            {% if request.user == user %}
                {%if user.adresse.rue %}
                <tr>
                    <td style="width:250px">Adresse ^:</td>
                    <td>{{ user.adresse.rue }}</td>
                </tr>
                {% endif %}
            {% endif %}
            {%if user.adresse.commune %}
            <tr>
                <td style="width:250px">Commune :</td>
                <td>{{ user.adresse.commune }}</td>
            </tr>
            {% endif %}
            {%if user.adresse.code_postal %}
            <tr>
                <td style="width:250px">Code postal :</td>
                <td>{{ user.adresse.code_postal }}</td>
            </tr>
            {% endif %}
            {% if user.accepter_annuaire or request.user == user %}
                {%if request.user == user %}
                <tr>
                    <td style="width:200px">lat/lon ^:</td>
                    <td>{{ user.adresse.latitude }} / {{ user.adresse.longitude }} </td>
                </tr>
                {% endif %}
                {% if distance %}
                <tr>
                    <td style="width:200px">Distance <small>(à vol d'oiseau)</small> :</td>
                    <td>{{distance | floatformat }} km
                </tr>
                {% endif %}
            {% endif %}
        {% endif %}

    </tbody>
    </table>
      <small> {% if  request.user == user %}Les champs notés par un ^ ne sont visibles que par vous et l'administrateur du site. {%endif%}Les champs notés par un * ne sont visibles que par les membres du collectif concerné</small>
  </div>

  <div class="col-md-6" id="titre3">
{% if user.accepter_annuaire or request.user == user%}
    <style>leaflet-container {width:  100%;height: 90vh;}</style>
              <script type="text/javascript">
                function map_init_basic (map, options) {

          var greenIcon = L.icon({
            iconUrl: '{% static 'img/leafgreen.png' %}',
            shadowUrl: '{% static 'img/leafshadow.png' %}',

            iconSize:     [38, 95], // size of the icon
            shadowSize:   [50, 64], // size of the shadow
            iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
        });

                var lat = {{user.adresse.get_latitude}};
                var lon = {{user.adresse.get_longitude}};
                L.marker([lat, lon], {icon: greenIcon}).addTo(map);
                map.panTo(new L.LatLng(lat, lon));
            }
        </script>
        {% leaflet_map "yourmap" callback="window.map_init_basic" %}
    {% endif %}
</div>
</div>


{% comment %}
<script src="{% static 'js/scrollTo.js' %}"></script>
<script src="{% static 'js/aSimpleTour.js' %}"></script>
    <script>
    var tour = {
        autoStart: true,
        data: [{
            element: '#titre',
            tooltip: "ça c'est le titre",
            position: 'T',
            text: 'la ICI'
        }, {
            element: '#titre2',
            text: 'On peut voir la djhfdfqdq',
            tooltip: "ça c'est pour chercher dans le forum",
            position: 'T',
        },{
            element: '#titre3',
            text: 'On peut voir la djhfdfqdq',
            position: 'T',
            tooltip: 'Please use it'
        },{
            element: '#titre3',
            text: 'On peut voir la djhfdfqdq',
            position: 'T',
            tooltip: 'Please use it'
        },{
            element: '#titre4',
            position: 'R',
            tooltip: 'Wanna see some demos?',
            text: '<h2>Look out for our demos</h2>',
            callback: function() {
                $('[data-toggle=dropdown]').dropdown('toggle');
            }
        },
        ],
        controlsPosition: 'TR',
        buttons: {
            next: {
                text: 'Next &rarr;',
                class: 'btn btn-default'
            },
            prev: {
                text: '&larr; Previous',
                class: 'btn btn-default'
            },
            start: {
                text: 'Start',
                class: 'btn btn-primary'
            },
            end: {
                text: 'End',
                class: 'btn btn-primary'
            }
        },
        controlsCss: {
            background: 'rgba(55, 59, 65, 0.95)',
            color: '#fff',
            width: '400px',
            'border-radius': 0
        }
    };

$(document).ready(function() {
    $.aSimpleTour(tour);
});

{% endcomment %}
</script>
{% endblock %}

    
