{% extends 'base_profil.html' %}
{% block navbar%}
{% endblock %}
{% block content %}
<h2 class="textcenter">Bravo ! Et merci pour votre inscription, votre compte a bien été créé !
    </h2>
              <h3 class="textcenter">Vous pouvez vous <a href="{% url 'login' %}?{{request.GET.urlencode}}">connecter</a> avec votre pseudo : "{{pseudo}}" et découvrir la plateforme</h3>
<h4 class="textcenter">
Vous pouvez consulter les annonces, le forum, en publier, et discuter avec les autres !
</h4>

<p class="textcenter">
 <a href="{% url 'login' %}?{{request.GET.urlencode}}">
        <button type="button" class="btn btn-primary" >
               Se connecter...
            </button>
 </a>
</p>
</div>
</div>
{% endblock %}
