sjango3.2
django-hitcount==1.3.5
django-infinite-scroll-pagination==1.2.1
django-js-asset==2.0.0
django-jsonfield==1.4.1
django-jsonfield-compat==0.4.4
django-leaflet==0.29.1
django-model-utils
django-mptt
django-notifications-hq
django-phonenumber-field
django-qr-code
django-ranged-response
django-scheduler
django-sekizai
django-simple-captcha
django-smuggler
django-social-share
django-sortedm2m
django-stdimage
django-summernote
django-tagging-autocomplete
django-taggit
django-widget-tweaks
djangorestframework
djangorestframework-jwt
gunicorn
helloasso-apiv5
html5lib
http-ece
icalendar
idna
importlib_metadata
jsonfield
multidict
oauthlib
psycopg2
psycopg2-binary
pywebpush
requests
requests-oauthlib
simplejson
six
sorl-thumbnail
sqlparse
tzdata
tzlocal
uni-slugify
unicodecsv
Unidecode
urllib3
webencodings
whitenoise
Whoosh
yarl
zipp
