{% extends 'blog/base_blog.html' %}
{% load static %}
{% load app_filters %}
{%block bodyEntete%} style="visibility: collapse;" {%endblock%}
{%block banniere %}
{% endblock  %}

{% block panel-heading %}{%endblock%}
{% block submenu %}
<div class="sticky-top">
    <nav class="navbar  navbar-light bg-light navbar-expand-xl  shadow-petit">
        <button class="navbar-toggler navbar-toggler-right navbar-btn" type="button" data-toggle="collapse"
                data-target="#navbar2" aria-controls="navbar2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse mx-auto" id="navbar2">
            <ul class="navbar-nav mx-auto subnavbar align-items-center">
                {% comment %}<li class="nav-item nav-jardin">{{asso_slug | getLogoGroupeFromSlug }}</li> {% endcomment %}
                <li class="nav-item nav-jardin"><a class="dropdown-item" href="{% url 'adherents:accueil' asso_slug=request.session.asso_slug  %}">
                    Adhérents</a></li>
                <li class="nav-item nav-jardin"><a class="dropdown-item" href="{% url 'adherents:monProfil' asso_slug=request.session.asso_slug  %}"> Mon
                    profil</a></li>
                <li class="nav-item nav-jardin"><a class="dropdown-item" href="{% url 'adherents:mesListesMails' asso_slug=request.session.asso_slug  %}">
                    Mes Abonnements Mails</a></li>
                <li class="nav-item nav-jardin"><a class="dropdown-item"
                                                   href="{% url 'adherents:listeDiffusion_liste' asso_slug=request.session.asso_slug %}"> Les Listes
                    Mails</a></li>
                {% if request.user.estmembre_bureau_conf %}
                <li class="nav-item nav-jardin"><a class="dropdown-item" href="{% url 'adherents:adhesion_liste' asso_slug=request.session.asso_slug %}">
                    Gérer les Adhésions</a></li>

                {% else %}
                {% endif %}
                {% if request.user.is_superuser %}
                <li class="nav-item nav-jardin"><a class="dropdown-item" href="{% url 'adherents:accueil_admin'  asso_slug=request.session.asso_slug %}">
                    Admin</a></li>
                {% endif %}
                </li>
            </ul>
        </div>
    </nav>
</div>

{% endblock %}