
{% extends 'base_profil.html' %}
{% load static %}
{% load i18n %}
{% load fontawesome_5 %}

{% block content %}

<div class="row">
    <div class="col-sm-12 textcenter">
<h3>S'inscrire à la Newsletter</h3>
<hr class="grd1">
<p class="lead">Recevez un emails de Perma.cat de temps en temps !</p>


<div class="section wb">
    <div class="container-fluid">
        {% include 'form_template.html' %}

        <hr class="hr1">

    </div><!-- end container -->
</div><!-- end section -->
    </div>
</div>
{% endblock %}