{% load static %}
{% load cookielaw_tags %}
<!DOCTYPE HTML>
<html lang="fr">
	<head>
		<title>Collectif SSA 66</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta name="description" content="Collectif pour une SSA 66"/>
		<meta name="author" content="Eloi"/>
		<link rel="stylesheet" href="{% static 'collectifssa/css/main.css' %}" />
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Logo -->
						<h1><a href="" id="logo">Collectif SSA 66</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="index.html">Acceuil</a></li>
								{% comment %}
								<li>
									<a href="#">Dropdown</a>
									<ul>
										<li><a href="#">Lorem dolor</a></li>
										<li><a href="#">Magna phasellus</a></li>
										<li><a href="#">Etiam sed tempus</a></li>
										<li>
											<a href="#">Submenu</a>
											<ul>
												<li><a href="#">Lorem dolor</a></li>
												<li><a href="#">Phasellus magna</a></li>
												<li><a href="#">Magna phasellus</a></li>
												<li><a href="#">Etiam nisl</a></li>
												<li><a href="#">Veroeros feugiat</a></li>
											</ul>
										</li>
										<li><a href="#">Veroeros feugiat</a></li>
									</ul>
								</li>
								<li class="current"><a href="left-sidebar.html">Left Sidebar</a></li>
								<li><a href="right-sidebar.html">Right Sidebar</a></li>
								<li><a href="two-sidebar.html">Two Sidebar</a></li>
								{% endcomment %}
								<li><a href="{% url 'blog:index_asso' asso='ssa' %}">Forum</a></li>
							</ul>
						</nav>

				</div>

			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-4 col-12-narrower">
								<div id="sidebar">

									<!-- Sidebar -->

										<section>
											<h3>Just a Subheading</h3>
											<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
												Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
												Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis et nisi etiam.</p>
											<footer>
												<a href="#" class="button">Continue Reading</a>
											</footer>
										</section>

									<section>
										<h3>Another Subheading</h3>
										<ul class="links">
											<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
											<li><a href="#">Ornare in hendrerit in lectus</a></li>
											<li><a href="#">Semper mod quis eget mi dolore</a></li>
											<li><a href="#">Consequat etiam lorem phasellus</a></li>
											<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
											<li><a href="#">Semper mod quisturpis nisi</a></li>
										</ul>
										<footer>
											<a href="#" class="button">More Random Links</a>
										</footer>
									</section>

								</div>
							</div>
							<div class="col-8  col-12-narrower imp-narrower">
								<div id="content">

									<!-- Content -->

									<article>
										<header>
											<h2>Collectif SSA 66</h2>
											<p>Pour l'expérimentation d'une Caisse Locale inspirée de la Sécurité Sociale de l'Alimentation</p>
										</header>

										<span class="image featured"><img src="images/banner.jpg" alt="" /></span>


										<p><strong>? Aujourd'hui, à Elne et ses alentours, comment répondre à ces questions....?</strong></p>
										<ul>
											<li>&gt; le droit à chacun, chacune de choisir ce qu'on mange ?</li>
											<li>&gt; le droit de vivre dignement du métier d'agriculteur ?</li>
											<li>&gt; la nécessité de veiller au respect du vivant, et donc à une agriculture</li>
											<li>&gt; le droit de chacun, chacune de contribuer à la décision de ce qui arrive dans nos assiettes</li>
										</ul>
										<br>
										<p>Depuis le printemps 2025 quelques dizaines de "mangeurs" et paysans se réunissent pour trouver collectivement des réponses à ces questions .</p>
										<p>Ce collectif citoyen travaille à la création localement d'un <strong>Système Alimentaire Commun, juste et respectueux du vivant</strong>, inscrit dans la dynamique nationale à plus long terme de Sécurité Sociale de l'Alimentation.( https://securite-sociale-alimentation.org/)</p>
										<p>La raison d'être let les valeurs de ce Système à inventer sont :</p>
										<ul>
											<li>- le libre choix et l'accès à une alimentation saine et durable, par la démocratie impliquant la citoyenneté alimentaire</li>
											<li>- l'aide à la structuration de filières et l'appui à une agriculture locale qui respecte le vivant par un mode de production agro-écologique et responsable</li>
											<li>- la justice sociale par la solidarité, l'accessibilité au plus grand nombre, le partage, l'inclusion</li>
											<li>- le droit à l'expérimentation, à l'invention.</li>
										</ul>
										<br>
										<p>Ce projet est en cours de construction pour aller, dans une 1ere étape, vers la création d'un système concret de distribution solidaire et équitable basé sur :</p>
										<ul>
											<li> l'<strong>universalité </strong>: tout le monde y à droit</li>
											<li> le <strong>conventionnement </strong>avec les producteurs et distributeurs organisé démocratiquement</li>
											<li> le financement basé sur la <strong>cotisation sociale</strong></li>
										</ul>
										<p><strong>Cela vous concerne ? Vous questionne ? </strong></p>
										<p><strong>Venez partager cette réflexion/expérimentation et contribuer à la création de ce Système Alimentaire Commun modestement ambitieux, urgent et généreux... </strong></p>
									</article>

								</div>
							</div>
						</div>
					</div>
				</section>

			<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row">
						{% comment %}
						<section class="col-3 col-6-narrower col-12-mobilep">
							<h3>Links to Stuff</h3>
							<ul class="links">
								<li><a href="#">Mattis et quis rutrum</a></li>
								<li><a href="#">Suspendisse amet varius</a></li>
								<li><a href="#">Sed et dapibus quis</a></li>
								<li><a href="#">Rutrum accumsan dolor</a></li>
								<li><a href="#">Mattis rutrum accumsan</a></li>
								<li><a href="#">Suspendisse varius nibh</a></li>
								<li><a href="#">Sed et dapibus mattis</a></li>
							</ul>
						</section>
						<section class="col-3 col-6-narrower col-12-mobilep">
							<h3>More Links to Stuff</h3>
							<ul class="links">
								<li><a href="#">Duis neque nisi dapibus</a></li>
								<li><a href="#">Sed et dapibus quis</a></li>
								<li><a href="#">Rutrum accumsan sed</a></li>
								<li><a href="#">Mattis et sed accumsan</a></li>
								<li><a href="#">Duis neque nisi sed</a></li>
								<li><a href="#">Sed et dapibus quis</a></li>
								<li><a href="#">Rutrum amet varius</a></li>
							</ul>
						</section>
						{% endcomment %}
						<section class="col-12">
							<h3>Si cela vous intéresse, rejoignez-nous sur le Forum, ou envoyez nous un message :</h3>
							<div class="row">
								<form id="contact" action="" method="post">
									{% csrf_token %}
									<div class="row">
										<div class="col-md-6">
											<input name="nom" type="text" class="form-control"
												   id="id_nom" placeholder="Nom" required="" {% if not request.user.is_anonymous %}value="{{request.user.username}}"{% endif %}/>
										</div>
										<div class="col-md-6">
											<input name="email" type="text" class="form-control"
												   id="id_email" placeholder="Email" required=""  {% if not request.user.is_anonymous %}value="{{request.user.email}}"{% endif %}/>
										</div>
										<div class="col-md-12">
                        <textarea name="msg" rows="6" class="form-control"
								  id="id_msg" placeholder="Message" required=""></textarea>
										</div>
										{% if request.user.is_anonymous %}
										<div class="col-md-12 textcenter">
											<div class="container"  style="width:150px">
												{% include 'form_template2bis.html' with form=form_captcha %}
											</div>
										</div>
										{% endif %}
										<div class="col-md-12">
											<fieldset>

												<button type="submit" id="form-submit" class="button">
													Envoyer le Message
												</button>
											</fieldset>
											{% if msg2 %}
											<p>{{msg2|safe}}</p>
											{% endif %}
										</div>
									</div>
								</form>
							</div>
						</section>
					</div>
					</div>

					<!-- Icons -->
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
							<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							<li><a href="#" class="icon brands fa-google-plus-g"><span class="label">Google+</span></a></li>
						</ul>

					<!-- Copyright -->
						<div class="copyright">
							<ul class="menu">
								<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>

				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>