{% extends 'base_defraiement2.html' %}

{% block subtitle %}
<div class="row">
	<div class="col col-md-12 textcenter"><h3>Ajouter une reunion</h3></div>
	</div>
{% endblock %}
{% block content %}

{% if error_message %}
<p>
	<strong>{{ error_message }}</strong>
</p>
{% endif %}
<div class="row">
	<div class="col-sm-12">
	<form id="reunionForm" class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data" >
		{% csrf_token %}
		{% include 'form_template.html'%}
	</form>
	</div>
</div>

{% endblock %}
{% block scriptblock %}
<script>
function updateChoix() {
	var url = "{% url 'defraiement:ajax_categories' %}";
    var asso = $("#id_asso").val(); // get the selected country ID from the HTML input

    if (asso){
		$.ajax({ // initialize an AJAX request
		  url: url,
		  data: {
			'asso': asso,
		  },
		  success: function(data) { // `data` is the return of the `load_cities` view function
			$("#id_categorie").html(data); // replace the contents of the city input with the data that came from the server
		  }
		});


		var url2 = "{% url 'defraiement:ajax_projets' %}";
		$.ajax({ // initialize an AJAX request
		  url: url2,
		  data: {
			'asso': asso,
		  },
		  success: function(data) { // `data` is the return of the `load_cities` view function
			$("#id_projet").html(data); // replace the contents of the city input with the data that came from the server
		  }
		});
    }
};

$(document).ready(function() {
    $("#id_asso").change(updateChoix);
    $('reunionForm').areYouSure();
  });

</script>
{% endblock %}
