{% extends 'base_defraiement2.html' %}

{% block subtitle %}
<div class="row justify-content-center">
	<div class="col col-md-12 textcenter"><h3>Ajouter un participant de la réunion '{{reunion.titre}}'</h3>
	</div>

</div>
{% endblock  %}
{% block content %}
{% if error_message %}
<p>
	<strong>{{ error_message }}</strong>
</p>
{% endif %}
<div class="row justify-content-sm-center">
<div class="col-sm-12 col-md-10 col-lg-9 text-center">
<form method="post">
  {% csrf_token %}
    <h4>Choisissez un participant existant : </h4>
 {% include 'form_template2.html'  with form=form_choice %}
  <button type="submit" name="choicebtn" class="btn btn-primary">Valider le participant</button>
</form>
    <h4>Ou bien créez un nouveau participant (vous pourrez ensuite l'ajouter à la réunion)</h4>

        <a href="{% url 'defraiement:ajouterParticipant' asso_slug=request.session.asso_slug %}">
        <button type="button" class="btn btn-success" >
                <i class="fa fa-plus"></i> Ajouter un participant
            </button>
        </a>&ensp;
</div>
</div>
{% endblock %}