{% extends 'base_defraiement2.html' %}
{% load fontawesome_5 %}
{% load hitcount_tags %}

{% block content %}
<div class="anchor_blank" id="ref-annee"></div>
<p class="textcenter">
<a href="?{{ request.GET.urlencode }}&annee=2022#ref-annee">
    <button type="button" class="btn {% if request.GET.annee == '2022' %} btn-warning {%else%}btn-info{%endif%} ">2022</button></a>
<a href="?{{ request.GET.urlencode }}&annee=2023#ref-annee">
    <button type="button" class="btn {% if request.GET.annee == '2023' %} btn-warning {%else%}btn-info{%endif%} ">2023</button></a>
<a href="?{{ request.GET.urlencode }}&annee=2024#ref-annee">
    <button type="button" class="btn {% if request.GET.annee == '2024' %} btn-warning {%else%}btn-info{%endif%} ">2024</button></a>
<a href="?{{ request.GET.urlencode }}&annee=2024#ref-annee">
    <button type="button" class="btn {% if request.GET.annee == '2025' %} btn-warning {%else%}btn-info{%endif%} ">2025</button></a>
 <a href="?{{ request.GET.urlencode }}&annee=2025#ref-annee">
    <button type="button" class="btn {% if request.GET.annee == '2026' %} btn-warning{% elif not request.GET.annee %} btn-warning  {%else%}btn-info{%endif%} ">2026</button></a>
 {% comment %}
<form class="form-inline justify-content-center  navbar-form " action="{% url 'defraiement:recapitulatif' asso_slug=request.session.asso_slug %}?" method="get" role = "search">
     <span class="input-group-append">
        <input class="form-control fmr-sm-2" name="annee" type="text" placeholder="Année...">
        <button class="btn navbar-btn btn-light my-2 my-sm-0" type="submit" data-toggle="tooltip" data-placement="bottom" title="Année...">ok</button>
    </span>
 </form>
{% endcomment %}
</p>
<h4  class="textcenter">Récapitulatif {% if 'annee' in request.GET %} ({{request.GET.annee}}) {% elif not request.GET.annee %} {% now "Y" %} {% else%} (toutes années) {% endif%} </h4>


<hr>
<div class="row justify-content-center">
<nav class="navbar  navbar-expand-md navbar-light justify-content-center">
    <div class="collapse navbar-collapse" id="navbarType">
            <ul class="nav navbar-nav justify-content-center ">
                <li class="nav-item  ">
                      <a  href="{% url 'defraiement:recapitulatif' asso_slug=request.session.asso_slug %}?{% if request.GET.annee %}annee={{ request.GET.annee }}{% endif%}">
                          <button type="button" class="btn  btn-block {%if type_courant == '999' %} btn-warning{% else %}btn-info{% endif %}" >
                              <h6>Tout</h6>
                       </button>
                    </a>
                </li>
            {% for type_id, type_nom  in type_list %}
                <li class="nav-item  ">
                      <a  href="?{{ request.GET.urlencode }}&type_reunion={{type_id}}">
                          <button type="button" class="btn  btn-block {%if type_courant == type_id %} btn-warning{% else %}btn-info{% endif %}" >
                              <h6>{{type_nom}}</h6>
                       </button>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
</nav>
</div>
<div class="row contenu reunion">
<div class="col justify-content-center">
<table class="table table-condensed tableprofils table-striped table-middle sortable">
        <thead class="thead-inverse">
            <tr>
                {% for ll in entete %}
                <th>{{ll|safe}}</th>
        {% endfor %}
            </tr>
        </thead>
        <tbody>
    {% for ll in lignes %}
    <tr>
        {% for l in ll %}
        <td>{{l|safe}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
        </tbody>
</table>

</div>
</div>


<hr>
<div class="row-sm-12">
<div class="col-sm-12 textcenter">
    <h6>Calculer les frais en euros (frais max et/ou bareme kilometrique):</h6>
	<form id="reunionForm" class="form-horizontal" role="form" action="" method="post"
		enctype="multipart/form-data">
		{% csrf_token %} <input type="hidden" name="Reunion"
			value="{{ reunion }}"> {% include 'form_template.html'%}
	</form>
</div>
</div>
<hr>
{% if unite == euros %}
<p class="textcenter">
    <a href="{% url 'defraiement:recapitulatif' asso_slug=request.session.asso_slug %}" >
        <button type="button" class="btn btn-sm btn-primary">
         Kilométrages
        </button>
    </a>
</p>
<hr>
{% endif %}

<p class="textcenter">
    <a href="{% url 'defraiement:export_recapitulatif' asso=request.session.asso_slug type_reunion=type_courant type_export=unite  %}?{% if request.GET.tarifKilometrique %}tarifKilometrique={{ request.GET.tarifKilometrique }}{% endif%}{% if request.GET.prixMax %}&prixMax={{ request.GET.prixMax }}{% endif%}{% if request.GET.annee %}&annee={{ request.GET.annee }}{% endif%}" target="_blank" rel="noopener noreferrer nofollow">
        <button type="button" class="btn btn-sm btn-primary">
        &nbsp;Exporter en CSV
        </button>
    </a>
</p>

{% endblock %}
