{% extends 'base_atelier.html' %}
{% load static %}
{% load fontawesome %}
{% block titreBlog %}
<h1>Ateliers </h1>
{% endblock  %}
{%block banniere %}
	<div class="row row_banniere_ordi" >
		<div class="col col-xs-12 d-flex justify-content-around">
            <img  src="{% static 'img/banniere/ateliers_ordi.png' %}" width="224" height="120" alt="Logo_ateliers"/>
            <img  src="{% static 'img/banniere/ateliers.png' %}" height="120" alt="Logo_ateliers"/>
        </div>
    </div>
	<div class="row row_banniere_smartphone">
		<div class="col col-xs-12 d-flex justify-content-center">
            <img class="img_banniere_smartp" src="{% static 'img/banniere/ateliers_smart.png' %}" height="120" alt="Logo_ateliers"/>
        </div>
    </div>
{% endblock  %}

{% block clspanel %}claspanel{% endblock %}
 {% block content %}
{% block sidebar %}
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky textcenter">
            <a href="{% url 'ateliers:index_ateliers' %}" >
            <button type="button" class="btn  btn-success" >
               {% fontawesome_icon 'home' %} Ateliers
            </button>
            </a>
      <div class="list-group list-group-flush mx-3 mt-4">
        <!-- Collapse 1 -->
        <!-- Collapsed content -->
        <ul id="sidebar_menu" class="collapse show list-group list-group-flush">
          <li class="list-group-item py-1">
              <a href="{% url 'ateliers:ajouterAtelier' %}">
                <button type="button" class="btn btn-success" >
                <i class="fa fa-plus"></i> Ajouter un atelier
            </button>
            </a>&ensp;
          </li>
            {% block sidebar_menu %}
            {% endblock %}
        </ul>
        <!-- Collapse 2 -->
      </div>
    </div>
  </nav>
  <!-- Sidebar -->
{% endblock  %}
{% block contenu %}
{% endblock %}
{% endblock %}