{% extends 'base_profil.html' %}
{% load fontawesome_5 %}


{% block subtitle %}
<div class="row align-items-center">
    <div class="col-sm-12 col-md-2 textcenter">
        <a href="{% url 'favoris_ajouter' %}">
            <button type="button" class="btn btn-sm btn-success">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Ajouter un favori
            </button>
        </a>
    </div>
    <div class="col-sm-12 col-md-8 textcenter">
        <h3>Mes Favoris</h3>
    </div>
    <div class="col-sm-12 col-md-2 textcenter">

                <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#help"
                        title="En savoir plus...">
                    {% fa5_icon 'question-circle' %}
                </button>
                <!-- Modal -->
                <div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog textaide" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="row justify-content-center">
                                    <h5> Aide à propos des Favoris</h5>
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body textleft">
                                <p>Les favoris permettent d'enregistrer un raccourci vers une page de votre choix,
                                    afin de pouvoir accéder directement là où vous allez le plus souvent, grâce au lien automatiquement créé
                                </p>
                                <p>
                                    Sur n'importe quelle page du site Perma.Cat vous pouvez "ajouter la page actuelle" directement dans le menu (en haut l'icone en forme de coeur).
                                    Choisissez le nom du raccourci et retrouvez-le dans le menu.
                                </p>
                                <p>Sur cette page, vous pouvez ajouter / modifier / supprimer vos favoris. Vous pouvez aussi ajouter des liens vers des pages exterieures au site ;)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>

{% endblock %}
{% block content %}

<div class="row">
    <div class="col textcenter">
        <table class="table table-condensed tableprofils table-striped table-middle sortable">
            <thead><tr>
                <th>Nom</th>
                <th>Url</th>
                <th>Edit</th>
            </tr></thead>
            <tbody>
{% for fav in favoris_list %}
            <tr>
                <td>{{fav.nom}}</td>
                <td><a href="{{fav.url}}" rel="noopener noreferrer nofollow">{{fav.url}}</a></td>
                <td>
                    <a class="btn btn-sm btn-warning textleft" href="{{fav.get_update_url}}" ><i class="fa fa-edit"></i> </a>
                    <a class="btn btn-sm btn-danger textleft" href="{{fav.get_delete_url}}" ><i class="fa fa-times"></i> </a>
                </td>
            </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}