{% load static %}
{% load cookielaw_tags %}
<!DOCTYPE HTML>
<html lang="fr">
<head>
    <title>Collectif SSA 66</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Collectif pour une SSA 66"/>
    <meta name="author" content="Eloi"/>

    <title>Collectif SSA 66</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap"
          rel="stylesheet">

    <link href="{% static 'collectifssa/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'collectifssa/css/bootstrap-icons.css' %}" rel="stylesheet">

    <link href="{% static 'collectifssa/css/templatemo-topic-listing.css' %}" rel="stylesheet">

</head>

<body id="top">

<main>

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#section_1">
                <i class="bi-back"></i>
                <span>Collectif SSA 66</span>
            </a>

            <div class="d-lg-none ms-auto me-4">
                <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-lg-5 me-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#ref-titre">Nos valeurs</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_2">Introduction</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_3">Principes de la SSA</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_4">FAQs</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_5">Infolettre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_6">Contact</a>
                    </li>

                    {% comment %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Pages</a>

                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                            <li><a class="dropdown-item" href="topics-listing.html">Topics Listing</a></li>

                            <li><a class="dropdown-item" href="contact.html">Contact Form</a></li>
                        </ul>
                    </li>
                    {% endcomment %}

                </ul>

                <div class="d-none d-lg-block">
                    <a href="{% url 'blog:index_asso' asso='ssa' %}" class="navbar-icon bi-person"></a>
                </div>
            </div>
        </div>
    </nav>

    <section class="hero-section d-flex justify-content-center align-items-center" >
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 mx-auto">
                    <h1 class="text-white text-center">Collectif SSA 66</h1>

                    <h6 class="text-center">Pour une expérimentation d'une Sécurité Sociale de l'Alimentation dans les
                        Pyrénées-Orientales</h6>

                </div>

            </div>
        </div>
    </section>


            <section class="featured-section" id="section_1">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-12">
                            <div class="custom-block custom-block-overlay">
                                <div class="d-flex flex-column h-100">
                                    <img src="{% static 'collectifssa/images/valeursRE_ssa66.jpeg' %}" class="custom-block-image img-fluid" alt="">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

    <section class="explore-section section-padding" id="section_2">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 m-auto">
                    <h3 class="mb-4">Aujourd'hui, dans les PO comment répondre à ces questions...?</h3>
                    <ul>
                        <li> le droit à chacun, chacune de choisir ce qu'on mange ?</li>
                        <li> le droit de vivre dignement du métier d'agriculteur ?</li>
                        <li> la nécessité de veiller au respect du vivant, et donc à une agriculture durable</li>
                        <li> le droit de chacun, chacune de contribuer à la décision de ce qui arrive dans nos
                            assiettes
                        </li>
                    </ul>
                    <br>
                    <p>Depuis le printemps 2025 quelques dizaines de "mangeurs" et paysans se réunissent pour trouver
                        collectivement des réponses à ces questions .</p>
                    <p>Ce collectif citoyen travaille à la création localement d'un <strong>Système Alimentaire Commun,
                        juste et respectueux du vivant</strong>, inscrit dans la dynamique nationale à plus long terme
                        de Sécurité Sociale de l'Alimentation.( https://securite-sociale-alimentation.org/)</p>
                    <p>La raison d'être et les valeurs de ce Système à inventer sont :</p>
                    <ul>
                        <li> le libre choix et l'accès à une alimentation saine et durable, par la démocratie impliquant
                            la citoyenneté alimentaire
                        </li>
                        <li> l'aide à la structuration de filières et l'appui à une agriculture locale qui respecte le
                            vivant par un mode de production agro-écologique et responsable
                        </li>
                        <li> la justice sociale par la solidarité, l'accessibilité au plus grand nombre, le partage,
                            l'inclusion
                        </li>
                        <li> le droit à l'expérimentation, à l'invention.</li>
                    </ul>
                    <br>
                    <p>Ce projet est en cours de construction pour aller, dans une 1ère étape, vers la création d'un
                        Comité Local de l'Alimentation regroupant un maximum d'acteurs afin de mettre en place
                        l'expérimentation d'un système concret de production, de distribution et de consommation
                        solidaire et équitable.</p>

                    <blockquote>
                        Cela vous concerne ? Vous questionne ? <br>Venez partager cette réflexion/expérimentation et
                        contribuer à la création de ce Système Alimentaire Commun modestement ambitieux, urgent et
                        généreux...
                    </blockquote>

                </div>

            </div>
        </div>
    </section>



    <section class="timeline-section section-padding" id="section_3">
        <div class="section-overlay"></div>

        <div class="container">
            <div class="row">

                <div class="col-12 text-center">
                    <h2 class="text-white mb-4">Les principes de base de la SSA :</h2>
                </div>

                <div class="col-lg-10 col-12 mx-auto">
                    <div class="timeline-container">
                        <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                            <div class="list-progress">
                                <div class="inner"></div>
                            </div>

                            <li>
                                <h4 class="text-white mb-3">l'<strong>universalité </strong>:</h4>

                                <p class="text-white">Instituer un droit pour toutes et tous à une alimentation saine, de
                                    qualité et choisie.</p>

                                <div class="icon-holder">
                                    <i class="bi-search"></i>
                                </div>
                            </li>

                            <li>
                                <h4 class="text-white mb-3">le <strong>conventionnement </strong></h4>

                                <p class="text-white">Choisir démocratiquement des
                                    producteurs et des distributeurs participant au réseau</p>

                                <div class="icon-holder">
                                    <i class="bi-bookmark"></i>
                                </div>
                            </li>

                            <li>
                                <h4 class="text-white mb-3">la <strong>cotisation sociale</strong></h4>

                                <p class="text-white">Créer une caisse commune sur la base d'une cotisation, chacun
                                     selon ses moyens. Chacun a droit à un même montant de dépense
                                    mensuelle auprès des producteurs/distributeurs conventionnés</p>

                                <div class="icon-holder">
                                    <i class="bi-book"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 text-center mt-5">
                    <p class="text-white">
                        Pour en savoir plus
                        <a href="{% url 'blog:lireArticle' slug='documentation-generale' %}" class="btn custom-btn custom-border-btn ms-3">accéder à la documentation</a>
                    </p>
                </div>
            </div>
        </div>
    </section>


    <section class="faq-section section-padding" id="section_4">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                    <h2 class="mb-4">Questions fréquentes</h2>
                </div>

                <div class="clearfix"></div>

                <div class="col-lg-5 col-12">
                    <img src="{% static 'collectifssa/images/faq_graphic.jpg' %}" class="img-fluid" alt="FAQs">
                </div>

                <div class="col-lg-6 col-12 m-auto">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Qui sommes nous ?
                                </button>
                            </h2>

                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Un collectif de citoyen-nes regroupés après la diffusion du film "Manger pour Vivre" à Elne
                                    pour réfléchir à la mise en palce d'une expérimentation locale.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Sur quel territoire ?
                                </button>
                            </h2>

                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Nos réunions ont pour l'instant eu lieu à Elne, mais le territoire d'expérimentation n'est pas encore défini.
                                    Avec d'autres collectifs, nous pourrions envisager un réseau à l'échelle du département.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    Comment être tenu informé-e ?
                                </button>
                            </h2>

                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Connectez-vous à notre forum sur le site Perma.cat, et inscrivez-vous dans le groupe "SSA 66", vous aurez accès à tous nos comptes rendus et toute la documentation.
                                    Vous pourrez participer aux discussions et être tenu-e au courant. Sinon vous pouvez vous inscrire à l'infolettre (liste de diffusion par mail) ci-dessous.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="section-padding section-bg" id="section_5">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-5 col-12">
                    <img src="{% static 'collectifssa/images/rear-view-young-college-student.jpg' %}"
                         class="newsletter-image img-fluid" alt="">
                </div>

                <div class="col-lg-5 col-12 subscribe-form-wrap d-flex justify-content-center align-items-center">
                    <form class="custom-form subscribe-form" action="https://framagroupes.org/sympa/subscribe/ssa66" method="post" role="form">
                        <h4 class="mb-4 pb-2">S'inscrire à l'infolettre</h4>

                            <button type="submit" class="form-control">S'inscrire</button>
                    </form>
                </div>

            </div>
        </div>
    </section>

    <section class="contact-section section-padding section-bg" id="section_6">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 text-center">
                    <h2 class="mb-5">Contactez-nous :</h2>
                </div>
                <div class="col-12 text-center subscribe-form-wrap d-flex justify-content-center align-items-center">
                    <form class="custom-form subscribe-form"  method="post" role="form" >
                        <h4 class="mb-4 pb-2">Envoyer un message</h4>
{% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <input name="nom" type="text" class="form-control"
                                       id="id_nom" placeholder="Nom" required="" {% if not request.user.is_anonymous %}value="{{request.user.username}}" {% endif %}/>
                            </div>
                            <div class="col-md-6">
                                <input name="email" type="text" class="form-control"
                                       id="id_email" placeholder="Email" required="" {% if not request.user.is_anonymous %}value="{{request.user.email}}" {% endif %}/>
                            </div>
                            <div class="col-md-12">
                        <textarea name="msg" rows="6" class="form-control" style="border-radius: 15px;"
                                  id="id_msg" placeholder="Message" required=""></textarea>
                            </div>
                            {% if request.user.is_anonymous %}
                            <div class="col-md-12 textcenter">
                                <div class="container" style="width:150px">
                                    {% include 'form_template2bis.html' with form=form_captcha %}
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-md-12">
                                <fieldset>

                                    <button type="submit" id="form-submit" class="form-control">
                                        Envoyer le Message
                                    </button>
                                </fieldset>
                                {% if msg2 %}
                                <p>{{msg2|safe}}</p>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</main>
<footer class="site-footer section-padding">
    <div class="container">
        <div class="row">

{% comment %}
            <div class="col-lg-3 col-12 mb-4 pb-2">
                <a class="navbar-brand mb-2" href="index.html">
                    <i class="bi-back"></i>
                    <span>Topic</span>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <h6 class="site-footer-title mb-3">Resources</h6>

                <ul class="site-footer-links">
                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Home</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">How it works</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">FAQs</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                <h6 class="site-footer-title mb-3">Information</h6>

                <p class="text-white d-flex mb-1">
                    <a href="tel: 305-240-9671" class="site-footer-link">
                        305-240-9671
                    </a>
                </p>

                <p class="text-white d-flex">
                    <a href="mailto:info@company.com" class="site-footer-link">
                        info@company.com
                    </a>
                </p>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        English
                    </button>

                    <ul class="dropdown-menu">
                        <li>
                            <button class="dropdown-item" type="button">Thai</button>
                        </li>

                        <li>
                            <button class="dropdown-item" type="button">Myanmar</button>
                        </li>

                        <li>
                            <button class="dropdown-item" type="button">Arabic</button>
                        </li>
                    </ul>
                </div>

                <p class="copyright-text mt-lg-5 mt-4">Copyright © 2048 Topic Listing Center. All rights reserved.
                    <br><br>Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a></p>

            </div>

{% endcomment %}
        </div>
    </div>
</footer>


<!-- JAVASCRIPT FILES -->
<script src="{% static 'collectifssa/js/jquery.min.js' %}"></script>
<script src="{% static 'collectifssa/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'collectifssa/js/jquery.sticky.js' %}"></script>
<script src="{% static 'collectifssa/js/click-scroll.js' %}"></script>
<script src="{% static 'collectifssa/js/custom.js' %}"></script>

</body>
</html>
