{% extends 'base_asso.html' %}
{% load fontawesome_5 %}
{% load blog_filters %}
{% load activity_tags %}
{%block message%}{%endblock%}
{%block title%}- Salons de discussion{%endblock%}
{% block subtitle %}
<div class="row">
    <div class="col-md-4 ">
         <a href="{{salon.get_absolute_url}}">
            <button type="button" class="btn  btn-info" >
               {% fa5_icon 'home' title='home' %}
            </button>
         </a>
    </div>
</div>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-sm-12 textcenter ">
        <h3>Inviter une personne inscrite dans le salon "{{salon.titre}}"</h3>
    </div>
</div>

<div class="row justify-content-center">
<div class="col-sm-12 col-md-10 col-lg-8 form_class">
    <p>Rechercher dans les noms, prénoms ou pseudonime (tapez les premières lettres puis cliquer sur le pseudonyme)...</p>
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% include 'form_template2.html' %}
{% if invite %}
<div class="row justify-content-center" id="titre2">
  <div class="col-sm-12 col-md-10">
      {% include 'profil_tableau.html' with user=invite%}
    </div>
</div>
{% endif %}
            <div class="row ">
            <div class="col col-sm-12 textright">
{% if not invite %}
                <input id="btn-profil" type="submit" class="btn btn-secondary" type="submit" name="voirprofil" value="Voir profil">
{% endif %}
                <input id="btn-valider" type="submit" class="btn btn-primary" name="valider" value="Inviter">
            </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

