{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Nouvelle proposition (GPC)</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="title">Titre de la proposition</label>
            <input class="form-control" id="title" name="title" required type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="context">Contexte & Problème</label>
            <textarea class="form-control" id="context" name="context" placeholder="Quel problème cette proposition cherche-t-elle à résoudre ?"
                      required rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label" for="content">Proposition initiale</label>
            <textarea class="form-control" id="content" name="content" placeholder="La solution concrète soumise au groupe..."
                      required rows="4"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label" for="content">Nombre minimum de Votants (pour valider la phase
                d'objections)</label>
            <input class="form-control" id="id_nbMinVote" name="nbMinVote" placeholder="1" type="number">
        </div>
        <button class="btn btn-success" type="submit">Soumettre pour clarification</button>
    </form>
</div>
{% endblock %}

