{% extends 'base_ateliers.html' %}

{% block subtitle %}
<h3>Proposer un atelier</h3>
{% endblock %}
{% block contenu %}


{% if error_message %}
<p>
    <strong>{{ error_message }}</strong>
</p>
{% endif %}
<div class="row">
    <div class="col-sm-12">
        <form action="" class="form-horizontal" enctype="multipart/form-data" id="myForm" method="post"
              role="form">
            {% include 'form_template.html' %}
        </form>
    </div>
</div>


<script>
    $(function() {
    // Enable on all forms
    $('form').areYouSure();
    });

</script>

{% endblock %}
