{% extends 'base_plantes.html' %}
{% load static %}

{% block header %}
<link href="{% static 'css/style_list.css'%}" rel="stylesheet" />
{%endblock%}

{% block subtitle %}

<div class="row">
    <div class="col textcenter">
       <h2> Bienvenue sur le portail des jardins et des grainothèques</h2>
       <h4> (!! Plateforme en cours de construction !!)</h4>
    </div>
</div>

<div class="row">
    <div class="col textcenter">
        <img src="{% static 'img/jardins/perma.jpeg' %}" alt="perma" class="img-fluid mx-auto">
    </div>
</div>
{% endblock %}
{% block content %}

{% if request.user.is_anonymous %}
			<p class="textcenter">
				 <a class="btn btn-warning" href="{% url 'login'%}" disabled> Il faut être connecté à la plateforme Perma.Cat pour pouvoir s'inscrire dans ce groupe</a>
			</p>
		{% else %}

			{% if request.user.adherent_jp %}
			<p class="textcenter">
				 <a class="btn btn-success" href="{% url 'inscription_jp' %}"> Je suis inscrit -> Je me désinscris du groupe en cliquant ici</a>
			</p>
			{% else %}
                <p class="textcenter">
                     <a class="btn btn-warning" href="{% url 'inscription_jp' %}">Vous ne faites pas partie du groupe -> Inscrivez-vous en cliquant ici</a>
                </p>
			{% endif %}
		{% endif %}
<hr>
<div class="row justify-content-center">
    <div class="col-sm-12 textcenter">
        <h4>Inscrivez votre jardin et/ou votre grainothèque, ou contactez un jardin pour participer !</h4>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-8">
        <ul class="check-list">
            <li> Cette plateforme (gratuite et sans publicité) a pour but de créer le réseau en ligne des jardins du Pays Catalan.
            </li>
            <li> Elle a été développée bénévolement par PermAgora, dans le cadre de la collaboration avec PermaCat et le groupe de travail initié par le Pays Pyrenées Mediterannée, afin de contribuer au développement de la résilience alimentaire de notre territoire, par le développement de l'agro-écologie.
            </li>
                <li> Vous pouvez visualiser la <a href="{% url 'jardins:carte_graino'  %}">carte des grainothèques</a> ou <a href="{% url 'jardins:carte_jardins'  %}">celle des jardins</a>. Certains sont visibles par tous, mais certains ne sont visibles que par les inscrits, alors inscrivez-vous !
            Certains jardins sont invisibles mais ils participent aussi au réseau ;)</li>
            <li>Vous avez un jardin ou une grainothèque ? Inscrivez-les ici afin de pouvoir échanger avec d'autres. Ensemble on est plus forts !</li>
            <li>Vous pouvez aussi vous inscrire à la newsletter afin de recevoir des informations par mail (quelques uns par an)</li>
        </ul>
    </div>
</div>
{% comment %}
<div class="row justify-content-center">
    <div class="col-sm-12 textcenter">
        <div class="btn-group btn-group-justified">
         <a href="{% url 'jardins:jardin_ajouter' %}">
        <button type="button" class="btn btn-success" >
               Ajouter un jardin
            </button>
         </a>
         <a href="{% url 'jardins:carte_jardins' %}">
        <button type="button" class="btn btn-success" >
              Voir les jardins
            </button>
         </a>
         <a href="{% url 'jardins:jardin_ajouter' %}">
        <button type="button" class="btn btn-success" >
               Ajouter une Grainothèque
            </button>
         </a>
    </div>
   </div>
</div>
{% endcomment %}

{% if request.user.is_superuser %}
<div class="row justify-content-center">
    <div class="col-sm-12 textcenter">
        {{msg|safe}}
   </div>
</div>
{% endif %}

{% endblock %}

