{% extends 'base_plantes.html' %}
{% load carto_filters %}
{% load app_filters %}
{% load widget_tweaks %}
{% block header%}
{% load leaflet_tags %}
{% endblock %}
{% block header %}
{% load static %}
{% leaflet_js %}
{% leaflet_css %}
<link rel="stylesheet" href="{% static 'leaflet/MarkerCluster.css' %}" />
<link rel="stylesheet" href="{% static 'leaflet/MarkerCluster.Default.css' %}" />
<script src="{% static 'js/leaflet.markercluster.js' %}"></script>
{% endblock %}
{% block title %} - Carte des jardins du 66
{% endblock %}

{%block bodyEntete%} style="visibility: collapse;" {%endblock%}
{% block subtitle %}
<div class="row textcenter">
  <div class="col-sm-12 textcenter">
    <h4> {{titre}} </h4>
  </div>
</div>

<div class="row textcenter">
  <div class="col-sm-12 textcenter">
<a href="{% url 'jardins:ajouterJardin_intro' %}">
    <button type="button" class="btn  btn-success" >
        <i class="fa fa-plus"></i>&nbsp; Ajouter un jardin
    </button>
</a>
{% if request.user.get_jardins %}
<a href="{% url 'jardins:voir_monJardin' %}">
    <button type="button" class="btn  btn-success" >
        <i class="fa fa-arrow-right"></i>&nbsp; Mon Jardin
    </button>
</a>
{% endif %}
  </div>
  </div>

{% endblock %}
{% block content %}

<hr>
<div class="row cartePleinePage justify-content-center">
  <div class="col-md-12" >
    <style>.leaflet-container {width:  100%;min-height: 80vh;}</style>
      <script type="text/javascript">

        function map_init_basic (map, options) {
          var leafIcon = L.icon({
            iconUrl: '{% static 'img/leafgreen.png' %}',
            shadowUrl: '{% static 'img/leafshadow.png' %}',

            iconSize:     [38, 95], // size of the icon
            shadowSize:   [50, 64], // size of the shadow
            iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
        });
          var greenIcon = L.icon({
              iconUrl: '{% static 'img/marker-icon-2x-green.png' %}',
              shadowUrl: '{% static 'img/marker-shadow.png' %}',
              iconSize: [25, 41],
              iconAnchor: [12, 41],
              popupAnchor: [1, -34],
              shadowSize: [41, 41]
        });

        var markers = L.markerClusterGroup({ maxClusterRadius: 30 });
        {% for jardin in filter.qs %}
            {% if jardin.adresse.get_latitude %}
                var lat = {{ jardin.adresse.get_latitude }};
                var lon = {{ jardin.adresse.get_longitude }};
                var marker = L.marker([lat, lon], {icon: leafIcon}).bindPopup('<a href="{% url 'jardins:jardin_lire' jardin.slug%}"> {{jardin.titre}} </a>');
                markers.addLayer(marker);
            {% endif %}
        {%endfor%}

        map.addLayer(markers);
        {% if filter.qs|length == 1 %}
        map.panTo(new L.LatLng(lat, lon));
        {%else%}
        map.panTo(new L.LatLng(42.62914, 2.49939));
        {%endif%}

}

</script>


{% leaflet_map "yourmap" callback="window.map_init_basic" %}
</div>
</div>

<hr>
<div class="row">
    <div class="col-sm-12 textcenter">
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#help" title="Filtrer">
Filtrer / rechercher...
</button>
<!-- Modal -->
<div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog textaide" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <div class="row justify-content-center">
           <h5 > Filtrer/rechercher </h5>
          </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body textleft">
<form method="get">
    <div class="well">
      <div class="row">
        <div class="form-group col-sm-12">
            <label>Rechercher :</label>
          {% render_field filter.form.compet_descrip class="form-control" %}
          {% render_field filter.form.categorie class="form-control" %}
        </div>
          <br>
      </div>

    <div class="row">
    <div class="col-md-12 textcenter">
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Rechercher...
      </button>
    </div>
    </div>
</div>
  </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<hr>
{% include "template_annuaire_jardin.html" with jardins=filter.qs %}

{% endblock %}

    
