{% extends 'base_plantes.html' %}
{%block header%}
{{ form.media }}
{%endblock%}
{% block subtitle %}

<div class="row">
    <div class="col textcenter">
       <h3> Modifier la plante {{plante.plante.NOM_VERN}} du jardin "{{jardin}}" </h3>
        <p>{{plante.plante}}</p>
    </div>
</div>

{% endblock %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-8">
        <form id="myForm" class="form-horizontal" role="form" action="" method="post"
            enctype="multipart/form-data">
              {% csrf_token %}
                <h4 class="textcenter">Infos complémentaires :</h4>
                {% include 'form_template.html' with form=form_infos %}
        </form>
    </div>
</div>
{% endblock %}