{% extends 'base_plantes.html' %}
{% block subtitle %}

<div class="row">
    <div class="col textcenter">
       <h3> Ajouter un jardin </h3>
    </div>
</div>

{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col col-sm-12 col-md-10 col-lg-8">
        <p class="textcenter">Bonjour ! Vous n'êtes pas connecté à la plateforme perma.cat. Pas de panique, il y a plusieurs solutions : </p>
        <ul>
        <li>Si vous avez déjà un compte, <a href="{% url 'login'%}?next={%url 'jardins:ajouterJardin_intro'%}">merci de vous connecter </a> avant d'ajouter un jardin à la jardinothèque :)</li>
        <li>Si vous n'avez pas de compte, vous pouvez <a href="{% url 'senregistrer'%}?next={%url 'jardins:ajouterJardin_intro'%}">vous inscrire à la plateforme</a>. C'est 100% gratuit !</li>
        <li>Sinon vous pouvez simplement <a href="{% url 'jardins:jardin_ajouter'%}">ajouter un jardin</a> à la Jardinothèque (l'annuaire des jardins des PO). Mais dans ce cas, vous ne pourrez plus modifier les informations du jardin, et vous ne serez pastenu au courant de ce qu'il se passe dans le réseau des jardins. C'est un peu dommage, mais vous pouvez !</li>
            </ul>
    </div>
</div>
{% endblock %}