{% extends 'base_plantes.html' %}
{% load fontawesome %}

{% load jardins_filters %}

{% block subtitle %}

<div class="row justify-content-center">
    <div class="col textcenter">
         <p>
             <button type="cancel" onclick="window.history.back();" class="btn btn-success btn-sm"><i class="fa fa-arrow-left"></i> </button>
        </p>
       <h3> {{plante.NOM_VERN}}</h3>
       <h4> <a {% if plante.get_inpi_url %}href="{{plante.get_inpi_url}}" {% endif %}>{{plante.NOM_COMPLET_HTML|safe}}</a></h4>

        <p><i class="fa fa-link" aria-hidden="true"></i> Voir sur : <a  href="https://fr.wikipedia.org/w/index.php?search={{plante.LB_NOM|rechercher_nom_plante}}"  target="_blank" >Wiki</a>
        - <a  href="http://www.wikiphyto.org/w/index.php?search=={{plante.LB_NOM|rechercher_nom_plante}}"  target="_blank" rel="noopener noreferrer nofollow">Phyto</a>
         - <a  href="https://www.ekopedia.fr/index.php?search={{plante.LB_NOM|rechercher_nom_plante}}"  target="_blank" rel="noopener noreferrer nofollow" >Eko</a>
         - <a  href="https://jardinage.ooreka.fr/plante/recherche?motsClefs={{plante.LB_NOM|rechercher_nom_plante}}"  target="_blank" rel="noopener noreferrer nofollow">Ooreka</a>
        - <a  href="https://www.tela-botanica.org/?in=flore&s={{plante.LB_NOM|rechercher_nom_plante}}"  target="_blank" rel="noopener noreferrer nofollow">Tela</a>
       - <a  href="https://www.google.com/search?q={{plante.LB_NOM|rechercher_nom_plante}}"  target="_blank" rel="noopener noreferrer nofollow"">Ggl</a>
        &nbsp<i class="fa fa-link" aria-hidden="true"></i> </p>
        <hr>
</div></div>
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6 textcenter">
    <table class="table table-condensed ">
        <tbody>
            <tr><td>Rang</td><td>{{plante.get_rang}}</td></tr>
            {% if plante.SOUS_FAMILLE %}
            <tr><td>Sous-famille</td><td>{{plante.SOUS_FAMILLE}}</td></tr>
            {% endif %}
            {% if plante.FAMILLE %}
            <tr><td>Famille</td><td>{{plante.FAMILLE}}</td></tr>
            {% endif %}
            {% if plante.ORDRE %}
            <tr><td>Ordre</td><td>{{plante.ORDRE}}</td></tr>
            {% endif %}
            {% if plante.CLASSE %}
            <tr><td>Classe</td><td>{{plante.CLASSE}}</td></tr>
            {% endif %}
            {% if plante.get_nomvern %}
            <tr><td>Autres noms</td><td>{{plante.get_nomvern}}</td></tr>
            {% endif %}
            <tr><td>Habitat</td><td>{{plante.get_habitat}}</td></tr>
        </tbody>
    </table >
</div></div>
{% if plante.has_info_supp %}
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-9 col-lg-7 textcenter">
            <p>(Cf :
                {% for p in plante.get_info_supp_html2 %}
                <a href="{{p}}">{{forloop.counter}}</a>,
            {% endfor %})
            </p>
    </div>
</div>
{% endif %})

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6 textcenter">

    </div>
</div>


{% endblock %}
{% block content %}

{% endblock %}

