{% extends 'base_plantes.html' %}
{% load fontawesome %}


{% block subtitle %}

<div class="row">
    <div class="col textcenter">
       <h2> Chercher une plante (espèce)</h2>
    </div>
</div>
{% if request.user.is_authenticated %}
<div class="row justify-content-center">
    <div class="col-sm-12 textcenter">
        <h4>1) Recherche rapide </h4>
        <p>Tapez le début du nom commun dans la boite ci-dessous :</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-12 textcenter">
        <form class="form-horizontal" role="form" action="{% url 'jardins:voir_plante_recherche' %}" method="get"
            enctype="multipart/form-data">
        <div class="row justify-content-center">
            <div class="col-sm-10 textcenter">
                {% include 'form_template2.html' with form=plant_form %}
            </div>
            <div class="col-sm-2 textcenter">
                <button id ="btn-valider" type="submit" class="btn btn-primary">Voir la fiche</button>
            </div>
        </div>
        </form>
    </div>
</div>
{% endif %}

{% endblock %}
{% block content %}

<div class="row justify-content-center">
   </div>
{%if msg %}
<div class="row justify-content-center">
    <div class="col-sm-12 textcenter">
        {{msg}}
    </div>
</div>
{% endif %}
<hr>
<div class="row justify-content-center">
    <div class="col-sm-12 textcenter">
<h4>ou 2) Rechercher dans la base de données</h4>
        <p>Rechercher un mot ou une syllabe dans l'ensemble de la base de donnée (nom scientifique, nom commun, etc.)</p>
     <form class="form-inline justify-content-center" action="{% url 'jardins:chercher_plante' %}" method="get" role = "search">
        {% csrf_token %}
            <input class="form-control fmr-sm-2" name="id_recherche" type="text" placeholder="Rechercher...">
            <button class="btn navbar-btn btn-primary my-2 my-sm-0" type="submit" data-toggle="tooltip" data-placement="bottom" title="Recherche rapide...">{% fontawesome_icon 'search' title='chercher' %}</button>
        </div>
     </form>
</div>
<hr>
<div class="row justify-content-center">
    <div class="col-sm-12 textcenter">
<h4>ou 3) Rechercher un arbre</h4>
        <p><a href="http://www.reconnaitre-les-arbres.fr/recherche/pages/fiche_plante.php?" target="_blank" rel="noopener noreferrer nofollow"> Site web avec des fiches pour les arbres</a></p>
</div>
<hr>
<div class="row justify-content-center">
    <div class="col-sm-12 textcenter">
        <h4>ou 4) Recherche alphabétique</h4>
        <p>Rechercher une plante par la première lettre de son nom</p>
    </div>
</div>
{%include 'pagination_alphabet.html' %}

<div class="row justify-content-center">
    <div class="col-sm-12 textcenter justify-content-center">
        <table class="table sortable" style="width:100%;">
            <thead>
                <tr>
                    <td><i>Nom(s) vernaculaire(s)</i></td>
                    <td><i>Nom scientifique</i></td>
                </tr>
            </thead>
            <tbody>
                {% for plante in plantes_list %}
                    <tr>
                        <td class="" ><a class="" href="{{ plante.get_absolute_url }}">{{plante.NOM_VERN}}</a></td>
                        <td class="" ><a href="{{ plante.get_absolute_url }}">{{plante.LB_NOM}}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
    </div>
</div>

{% endblock %}

