{% extends 'base_plantes.html' %}
{% load fontawesome %}


{% block subtitle %}

<div class="row">
    <div class="col textcenter">
       <h2> Chercher une plante (espèce)</h2>
        <p>Accédez à toutes les ressources associées à chaque plante (infos, jardins, grainothèques...) </p>
    </div>
</div>
{% if request.user.is_authenticated %}
{% endif %}

{% endblock %}
{% block content %}

{%if msg %}
<div class="row justify-content-center">
    <div class="col-sm-12 textcenter">
        {{msg}}
    </div>
</div>
{% endif %}

<div class="anchor_blank" id="idContenu"></div>
<nav class="nav nav-tabs justify-content-center">
    <a class="nav-item nav-link active" href="#alpha" data-toggle="tab"> Alphabétique</a>
{% if request.user.is_authenticated %}
    <a class="nav-item nav-link " href="#rapide" data-toggle="tab">Rapide </a>
{% endif %}
    <a class="nav-item nav-link" href="#appro" data-toggle="tab"> Approfondie</a>
    <a class="nav-item nav-link" href="#arbres" data-toggle="tab"> Arbres</a>
    <a class="nav-item nav-link" href="#jardins" data-toggle="tab"> Jardins</a>
</nav>

<div class="tab-content">
  <div class="tab-pane fade show active" id="alpha">
      <div class="row justify-content-center">
        <div class="col-sm-12 textcenter">
            <p>Rechercher une plante par la première lettre de son nom commun</p>
        </div>
    </div>
    {%include 'pagination_alphabet.html' %}

    <div class="row justify-content-center">
        <div class="col-sm-12 textcenter justify-content-center">
            <table class="table sortable" style="width:100%;">
                <thead>
                    <tr>
                        <td><i>Nom(s) vernaculaire(s)</i></td>
                        <td><i>Nom scientifique</i></td>
                    </tr>
                </thead>
                <tbody>
                    {% for plante in plantes_list %}
                        <tr>
                            <td class="" ><a class="" href="{{ plante.get_absolute_url }}">{{plante.NOM_VERN}}</a></td>
                            <td class="" ><a href="{{ plante.get_absolute_url }}">{{plante.LB_NOM}}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
        </div>
    </div>
  </div>
  <div class="tab-pane fade" id="rapide">
    <div class="row justify-content-center">
        <div class="col-sm-12 textcenter">
            <p>Tapez un mot ou une syllabe du nom de la plante :</p>
        </div>
    </div>
    <div class="row justify-content-center">
    <div class="col-sm-12 textcenter">
        <form class="form-horizontal" role="form" action="{% url 'jardins:voir_plante_recherche' %}" method="get"
            enctype="multipart/form-data">
        <div class="row justify-content-center">
            <div class="col-sm-10 textcenter">
                {% include 'form_template2.html' with form=plant_form %}
            </div>
            <div class="col-sm-2 textcenter">
                <button id ="btn-valider" type="submit" class="btn btn-primary">Voir la fiche</button>
            </div>
        </div>
        </form>
    </div>
    </div>
</div>
  <div class="tab-pane fade" id="appro">
      <div class="row justify-content-center">
        <div class="col-sm-12 textcenter">
        <p>Rechercher un mot ou une syllabe dans l'ensemble de la base de donnée (nom scientifique, nom commun, etc.)</p>
     <form class="form-inline justify-content-center" action="{% url 'jardins:chercher_plante' %}" method="get" role = "search">
        {% csrf_token %}
            <input class="form-control fmr-sm-2" name="id_recherche" type="text" placeholder="Rechercher...">
            <button class="btn navbar-btn btn-primary my-2 my-sm-0" type="submit" data-toggle="tooltip" data-placement="bottom" title="Recherche rapide...">{% fontawesome_icon 'search' title='chercher' %}</button>
     </form>
    </div>
    </div>
  </div>
  <div class="tab-pane fade" id="arbres">
          <div class="row justify-content-center">
        <div class="col-sm-12 textcenter">
                <p>Accéder à cesuper site sur les arbres : <a href="http://www.reconnaitre-les-arbres.fr/recherche/pages/fiche_plante.php?" target="_blank" rel="noopener noreferrer nofollow"> http://www.reconnaitre-les-arbres.fr</a></p>
        </div>
        </div>
  </div>
  <div class="tab-pane fade" id="jardin">
  </div>
</div>



{% endblock %}

