{% extends 'base.html' %}
{% block title %} - Contact{% endblock %}
{% block subtitle %}
<h3 style="text-align:center">Contacter {%if isContactProducteur %} {{producteur}}{%else%}les administrateurs{%endif%}
</h3>
{% endblock %}
{% block content %}

{% include 'form_template.html'%}

{% if request.user.is_anonymous %}
<p class="textcenter">
    <button class='js-captcha-refresh btn btn-info btn-small'> Rafraichir le captcha</button>
</p>
{% endif %}

<script>
    $('.js-captcha-refresh').click(function () {
    $.getJSON("/captcha/refresh/", function (result) {
        $('.captcha').attr('src', result['image_url']);
        $('#id_captcha_0').val(result['key'])
    });
});

</script>
{% endblock %}

    