{% load static %}

<!--Core Javascript-->
<script src="{% static 'dashboard/assets/vendor/libs/jquery/jquery.js' %}"></script>
<script src="{% static 'dashboard/assets/vendor/libs/popper/popper.js' %}"></script>
<script src="{% static 'dashboard/assets/vendor/js/bootstrap.js' %}"></script>
<script src="{% static 'dashboard/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<script src="{% static 'dashboard/assets/vendor/js/menu.js' %}"></script>
<script src="{% static 'dashboard/assets/js/main.js' %}"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
