{% extends 'layout/layout_vertical_menu.html' %}
{% load app_filters %}


{% block content %}
<div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container">
            <a class="navbar-brand" href="{% url 'compta:tableau_de_bord' %}">
                <i class="bi bi-calculator-fill me-2"></i>Compta {{ request.session.asso_slug | getNomGroupeFromSlug }}
            </a>
            {% block navcompta %}
            {% endblock  %}
        </div>
    </nav>

    <div class="container">
        {% block content_compta %}
        {% endblock %}
    </div>
</div>
{% endblock content %}