{% extends 'base.html' %}
{% load app_filters %}

{% block navbar_principal %}
    <a class="navbar-brand" href="{% url 'compta:tableau_de_bord' %}">
        <i class="bi bi-calculator-fill me-2"></i>Compta {{ request.session.asso_slug | getNomGroupeFromSlug }}
    </a>
    {% block navcompta %}
    {% endblock navcompta %}
{% endblock navbar_principal %}

{% block content_total %}
<div class="row">
    <div class="container">
        {% block content_compta %}
        {% endblock %}
    </div>
</div>
{% endblock content_total %}