{% extends 'layout/layout_vertical_menu.html' %}


{% load static %}

  {% block page_css %}
    {% if request.user.css_dark %}
    <link rel="stylesheet" href="{% static 'css/bootstrap_dark.min.css' %}" type='text/css'/>
    <link href="{% static 'css/style_dark.css' %}" type="text/css" rel="stylesheet" />
    {% else %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type='text/css'/>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" />
    {% endif %}
{% endblock %}

{% load app_filters %}


{% block content %}
<div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container">
            <a class="navbar-brand" href="{% url 'compta:tableau_de_bord' %}">
                <i class="bi bi-calculator-fill me-2"></i>Compta {{ request.session.asso_slug | getNomGroupeFromSlug }}
            </a>
            {% block navcompta %}
            {% endblock  %}
        </div>
    </nav>

    <div class="container">
        {% block content_compta %}
        {% endblock %}
    </div>
</div>
{% endblock content %}