{% extends 'blog/base_blog_index.html' %}
{% load blog_filters %}
{% load app_filters %}
{% load fontawesome_5 %}
{% load activity_tags %}
{% load static %}

{% block title %} Forum |{% endblock  %}
{% block content %}

<script>
function get_derniers_commentaires(url_tag) {

    $.ajax({
        url: url_tag,
        type: "GET",
        contentType: "application/x-www-form-urlencoded",
        async: false,
        data: { },
        error: function(response, status, error_msg) {
            console.log(error_msg);
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#derniers_comm").html(data);  // replace the contents of the city input with the data that came from the server
        }
    });
}

</script>
<div class="row justify-content-center">

    <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="justify-content-center">
            <a href="{% url 'blog:filtrer_articles' %}">
                <button class="btn  btn-success" type="button">
                    {% fa5_icon 'search' title='chercher' %}&nbsp; Recherche avancée...
                </button>
            </a>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
        <form action="" class="form-horizontal" enctype="multipart/form-data" method="post" role="form">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-sm-10 textcenter" style="padding-right:0;margin:0;">
                    {% include 'form_template2.html' with form=form_article_recherche %}
                </div>

                <div class="col-sm-2 textleft" style="padding-left:0;">
                    <button class="btn btn-success my-2 my-sm-0" data-placement="bottom" data-toggle="tooltip"
                            title="Lire" type="submit">Go
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">

        <button class="btn btn-light btn-sm" data-target="#suivre" data-toggle="modal" title="En savoir plus..."
                type="button">
            {% fa5_icon 'bell' title='abonnement' %}
        </button>
        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="suivre" role="dialog"
             tabindex="-1">
            <div class="modal-dialog textaide" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row justify-content-center">
                            <h5> Abonnements au forum</h5>
                            <p>Cliquez sur la cloche barrée pour vous abonner. Si la cloche n'est pas barrée, alors vous
                                êtes abonné. Si la cloche n'est asp barrée, cliquez dessus pour vous désabonner.
                            </p>
                            <p>L'abonnement consiste à recevoir un mail à chaque nouvel article. Vous pouvez aussi
                                recevoir une notification, en cliquant sur le bouton bleu de la page des <a
                                        href="{% url 'mesSuivis' %}">abonnements</a>.</p>
                        </div>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body textleft">
                        {% for nom_asso, slug, suivi in suivis %}
                        <p><a href="{% url 'blog:suivre_articles' asso_slug=slug %}">
                            {% if request.user|is_following:suivi %}
                            <button class="btn btn-light btn-sm" data-placement="bottom" data-toggle="tooltip"
                                    title="Vous êtes abonné : Cliquez pour arreter de recevoir un mail à chaque nouvel article '{{nom_asso}}'"
                                    type="button">
                                {% fa5_icon 'bell' title='abonnement' %}Articles '{{nom_asso}}'
                            </button>
                            {% else %}
                            <button class="btn btn-light btn-sm" data-placement="bottom" data-toggle="tooltip"
                                    title="Vous n'êtes pas abonné : Cliquez pour recevoir un mail à chaque nouvel article '{{nom_asso}}'"
                                    type="button">
                                {% fa5_icon 'bell-slash' %}Articles '{{nom_asso}}'
                            </button>
                            {% endif %}
                        </a></p>
                        {% endfor%}
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-light btn-sm" data-target="#help" data-toggle="modal" title="En savoir plus..."
                type="button">
            {% fa5_icon 'question-circle' %}
        </button>
        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="help" role="dialog"
             tabindex="-1">
            <div class="modal-dialog textaide" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row justify-content-center">
                            <h5> Qu'est-ce que le Forum  ?</h5>
                        </div>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body textleft">
                        <p>Le forum est un blog collaboratif. C'est un lieu virtuel d'échange d'idées, d'annonce d'un
                            evenement, de partage de connaissainces, d'expression personnelle et de discussion. </p>
                        <p>Chacun est libre de publier un article au forum ou de réagir en commentaire d'un article
                            posté. </p>
                        <p>Vous pouvez choisir de voir la liste des articles d'un "dossier" en particuler (agenda,
                            ecovillage, documentation, etc) en cliquant sur "Tous les dossiers..."</p>
                        <p>Pour vous tenir au courant des nouveaux articles postés dans le forum, vous pouvez vous
                            "abonner" en cliquant sur la cloche. Vous recevrez alors des informations par mail sur les
                            nouveaux articles.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row justify-content-center">
    <nav class="navbar navbar-expand-lg justify-content-center">
        <div class="navbar-header">
            <button aria-controls="navbarProduitContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="btn btn-lg navbar-toggler dropdown-toggle btn-groupe" data-target="#navbar_asso" data-toggle="collapse"
                    type="button">
                Choisir un groupe
            </button>
        </div>
        <div class="navbar-collapse collapse justify-content-center" id="navbar_asso">
            <ul class="navbar-nav subnavbar2 align-items-center">
                {% for asso_id, asso_nom in asso_list %}
                <a href="{% url 'blog:index_asso' asso=asso_id%}#ref-titre">
                    <li class="nav-item btn-choixgroupe btn shadow-trespetit btn-info">
                        <h6>{{asso_nom}}</h6>
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>
<hr>

<nav class="nav nav-tabs justify-content-center">
    <a class="nav-item nav-link active" data-toggle="tab" href="#der_articles"> Derniers Articles</a>
    <a class="nav-item nav-link" data-toggle="tab"
       href="#der_comm" id="navtab_archives"
       onclick="get_derniers_commentaires('{% url 'blog:ajax_dernierscommentaires' %}')"> Derniers Commentaires</a>
</nav>

<div class="tab-content">
    <div class="tab-pane fade show active " id="der_articles">
        <div class="row justify-content-center">
            <div class="col ">

                {% include "blog/articles_template_tableau.html" with article_list=derniers_articles %}

            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="der_comm">
        <div class="row justify-content-center">
            <div class="col contenu " id="derniers_comm">
            </div>
        </div>
    </div>
</div>


{% comment %}
<hr>
<div class="row justify-content-center">
    <div class="col-sm-12">
        <div class="row justify-content-center">
            <h5>Ailleurs sur le site : </h5>
        </div>
        <nav class="navbar justify-content-center textcenter">
            <div class="justify-content-center " id="navbarSalons">
                <ul class="nav navbar-nav justify-content-center">
                    <li class="nav-item dropdown">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'conversations' %}">
                            Conversations privées
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <button aria-expanded="false" aria-haspopup="true"
                                class="btn dropdown-toggle btn-primary btn-block btn-menu-forum" data-target="#idProjets" data-toggle="collapse"
                                type="button"> Fiches Projet
                        </button>
                        <div aria-labelledby="menuAuteur"
                             class="dropdown-menu dropdown-menu-forum textcenter btn-menu-forum" id="idProjets">
                            <a class="dropdown-item" href="{% url 'blog:index_projets' %}"
                               style="background-color:#cbdff0;"><i class='fa fa-folder-open iconleft'></i> Voir
                                tous les projets </a>

                            <div class="dropdown-divider"></div>
                            {% for projet_slug, cat_nom, cat_coul in projets_list %}
                            <a class=" dropdown-item " href="{% url 'blog:lireProjet' slug=projet_slug %}"><span>{{cat_nom|truncatechars:50}}</span></a>
                            {% endfor %}
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <button aria-expanded="false" aria-haspopup="true"
                                class="btn dropdown-toggle btn-primary btn-block btn-menu-forum" data-target="#idJardins" data-toggle="collapse"
                                type="button"> Jardins Partagés
                        </button>
                        <div aria-labelledby="menuAuteur"
                             class="dropdown-menu dropdown-menu-forum textcenter btn-menu-forum" id="idJardins">
                            <a class="dropdown-item" href="{% url 'jardinpartage:index' %}"
                               style="background-color:#cbdff0;"><i class='fa fa-pagelines'></i> Blog des
                                jardins</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'jardinpartage:index_jardin' jardin=1 %}"><i
                                    class='fa fa-pagelines'></i> Jardi Per tots</a>
                            <a class="dropdown-item" href="{% url 'jardinpartage:index_jardin' jardin=2 %}"><i
                                    class='fa fa-pagelines'></i> Jardin de Palau </a>
                            <a class="dropdown-item" href="{% url 'jardinpartage:index_jardin' jardin=3 %}"><i
                                    class='fa fa-pagelines'></i> Jardin de Lurçat </a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                    {% if ateliers_list %}
                    <li class="nav-item dropdown">
                        <button aria-expanded="false" aria-haspopup="true"
                                class="btn dropdown-toggle btn-primary btn-block btn-menu-forum" data-target="#idAteliers" data-toggle="collapse"
                                type="button"> Prochains Ateliers
                        </button>
                        <div aria-labelledby="menuAuteur"
                             class="dropdown-menu dropdown-menu-forum textcenter btn-menu-forum" id="idAteliers" style="padding:0; background=#e6fbc0;">
                            <a class="dropdown-item" href="{% url 'ateliers:index_ateliers' %}"
                               style="background-color:#cbdff0;"><i class='fa fa-folder-open iconleft'></i>
                                Voir les ateliers </a>
                            <div class="dropdown-divider"></div>
                            {% for categorie_id, cat_nom, cat_coul in ateliers_list %}
                            <a class=" dropdown-item " href="?categorie={{categorie_id}}"><span>{{cat_nom}}</span></a>
                            {% endfor %}
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                    {% endif %}

                </ul>

            </div>
        </nav>

    </div>
</div>

{% endcomment %}
{% endblock %}

