{% extends 'blog/base_blog2.html' %}
{% load app_filters %}

{% block subtitle %}
<h3>Ajouter un événement à l'agenda du collectif {{request.session.asso_slug | getNomGroupeFromSlug}}</h3>
<p>L'événement doit être associé à un article du forum qui décrit l'évènement (ou alors ajouté à un <a href="{% url 'salon_accueil' %}" >salon de discussion</a> ou un <a href="{% url 'ateliers:index_ateliers' %}" >atelier</a>). </p>
<p>Si l'article n'existe pas encore, alors <a class="btn btn-light" href="{% url 'blog:ajouterNouvelArticle' %}" >ajoutez un article</a> et spécifiez-y la date directement (ainsi que le texte, l'affiche, le covoiturage, ou toute info complémentaire...)</p>
{% endblock  %}
{% block content %}
{% if error_message %}
<p>
	<strong>{{ error_message }}</strong>
</p>
{% endif %}
<div class="row">
	<div class="col-sm-12">
<form class="form-horizontal" role="form" action="" method="post"
	enctype="multipart/form-data">
	{% csrf_token %} <input type="hidden" name="Evenement" value="{{ article }}"> {% include 'form_template.html'%}
</form>
</div>
    </div>
{% endblock %}
