{% extends 'blog/base_blog2.html' %}

{% block subtitle %}
<h3>Ajouter un salon de discussion</h3>
<p>Vous pouvez créer un salon de discussion qui sera associé à l'article {{article}}</p>
{% endblock  %}
{% block content %}

{% include 'form_template.html'%}
<hr>
<div class="row justify-content-center">
<div class="col-sm-12 textcenter">
	<p>Ou bien :</p>
	<a class="btn btn-success" href="{% url 'blog:associerSalonArticle' slug_article=article.slug %}">Associer un Salon de discussion existant</a>
</div>
</div>

{% endblock %}
