{% extends 'base_forum.html' %}
{% load static %}
{% load fontawesome_5 %}
{% block titreBlog %}
<h1>Forum</h1>
{% endblock  %}
{%block banniere %}
{% endblock  %}

{%block bodyEntete%} style="visibility: collapse;" {%endblock%}
 {% block panel-heading %}{%endblock%}

{% block clspanel %}claspanel{% endblock %}
{% block content %}
{% block sidebar %}
  <!-- Sidebar -->
<div class="area"></div>
{% comment %}
  <nav id="sidebarMenu2" class="main-menu d-lg-block sidebar ">
            <ul>
                <li>
                    <a href="https://jbfarrow.com">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                           Community Dashboard
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-globe fa-2x"></i>
                        <span class="nav-text">
                            Global Surveyors
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-comments fa-2x"></i>
                        <span class="nav-text">
                            Group Hub Forums
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-camera-retro fa-2x"></i>
                        <span class="nav-text">
                            Survey Photos
                        </span>
                    </a>

                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-film fa-2x"></i>
                        <span class="nav-text">
                            Surveying Tutorials
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-book fa-2x"></i>
                        <span class="nav-text">
                           Surveying Jobs
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                       <i class="fa fa-cogs fa-2x"></i>
                        <span class="nav-text">
                            Tools & Resources
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Member Map
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>
            </ul>
        </nav>

{% endcomment %}
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar ">
    <div class="position-sticky textcenter">
        {% if article %}
        <a href="{% url 'blog:index_asso' asso=article.asso.slug %}#ref-titre" >
        <button type="button" class="btn  btn-info" >
           {% fa5_icon 'home' title='home' %}
        </button>
        </a>
        {% else %}
        <a href="{% url 'blog:acceuil' %}" >
        <button type="button" class="btn  btn-info" >
           {% fa5_icon 'home' title='home' %}
        </button>
        </a>
        {% endif %}
      <div class="">
        <!-- Collapse 1 -->
        <!-- Collapsed content -->
        <ul id="sidebar_menu" class="">
            {% block sidebar_menu %}
            {% endblock %}
        </ul>
        <!-- Collapse 2 -->
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

{% endblock  %}

{% block contenu %}
{% endblock %}

{% endblock %}