{% extends 'blog/base_blog.html' %}

{% block submenu %}
<div class="container">
<div class="row justify-content-center" >
    <nav class="navbar navbar-expand-md" >
        <div class="navbar-header">
             <button class="btn btn-groupe navbar-toggler dropdown-toggle btn-warning" style="background-color:#ffc241;" type="button" data-toggle="collapse" data-target="#navbar_asso" aria-controls="navbarProduitContent" aria-expanded="false" aria-label="Toggle navigation">
             <h6>{% if asso_courante %} Groupe : {{asso_courante}} {% else %} Choisir un groupe {% endif %} </h6> </button>
        </div>
        <div class="navbar-collapse collapse " id="navbar_asso">
            <ul class="navbar-nav subnavbar2">
                {% for  asso_id, asso_nom in asso_list %}
                <a  href="{% url 'blog:index_asso' asso=asso_id%}#ref-titre">
                    <li class="nav-item btn-choixgroupe btn {%if asso_courante_abreviation == asso_id %} btn-warning{% else %}btn-info{% endif %}">
                          <h6>{{asso_nom}}</h6>
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>
</div>
{% endblock %}

