<div class="row justify-content-center">
    <div class="col-sm-12 textcenter">
        <h4>Album : </h4>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6 textcenter">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for photo in article.album.public %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter}}"
                    {% if forloop.first %} class="active" {% endif %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for photo in article.album.public %}
                <div class="carousel-item textcenter {% if forloop.first %} active {% endif %} ">
                    <a href="{{ photo.get_absolute_url }}">
                        <img class="d-block w-100 {% if forloop.first %} active {% endif %} "
                             src="{{ photo.get_display_url }}" class="thumbnail"
                             alt="{{ photo.title }}">
                    </a>
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
               data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
               data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
        </div>
    </div>
</div>
<hr>
<div class="row justify-content-center">
    <div class="col-sm-12 textcenter">
        {% if article.album.description %}<p>{{ article.album.description|safe }}</p>{% endif %}

    </div>
</div>
<div class="row">
    <div class="col-sm-12 offset-md-1 col-md-10 textcenter">
        <small>
            {%if not article.album %}
            {%if article.auteur == request.user or article.estModifiable or request.user.is_superuser %}
            <a class="btn btn-sm btn-success textleft"
               href="{% url 'blog:ajouterAlbumArticle' slug=article.slug %}"><i class="fa fa-plus"></i>
                Ajouter un album photo</a>
            {% endif%}
            {%else%}
            <a class="btn btn-sm btn-success textleft" href="{{ article.album.get_absolute_url }}"><i
                    class="fa fa-arrow-right"></i> Voir tout l'album photo</a>

            {%if article.auteur == request.user or article.estModifiable or request.user.is_superuser %}
            <a class="btn btn-sm btn-danger textleft"
               href="{% url 'blog:supprimerAlbumArticle' slug=article.slug%}"><i
                    class="fa fa-times"></i> Enlever l'album photo de l'article</a>
            {% endif %}
            {%endif%}
        </small>
    </div>
</div>