{% extends 'blog/base_blog2.html' %}
{% load activity_tags %}
{% load blog_filters %}
{% load app_filters %}
{% load fontawesome_5 %}
{% load static %}
{% load hitcount_tags %}
{% load carto_filters %}
{% load social_share %}
{% load qr_code %}

{% block header%}
{% load leaflet_tags %}
{% load static %}
{% leaflet_js %}
{% leaflet_css %}

<meta property="og:title" content="{{article.titre}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{article.get_absolute_url_site}}" />
<meta property="og:description" content="{{article.contenu|couperTexte:150}}"/>
<meta property="og:site_name" content="Perma.Cat" />
<meta property="og:image" content="{% static 'android-chrome-256x256.png' %}" />
{%endblock%}

{% block title %}- Forum - {{article.titre|couperTexte:50}}{% endblock %}

{% block subtitle %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 textcenter">
                {%if article.auteur == request.user or request.user.is_superuser %}
            <div class="btn-group">
                <a href="{% url 'blog:modifierArticle' slug=article.slug %}">
                    <button type="button" class="btn btn-sm btn-warning">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp;Modifier
                    </button>
                </a>
                <a href="{% url 'blog:supprimerArticle' slug=article.slug %}">
                    <button type="button" class="btn btn-sm btn-danger">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp;Supprimer
                    </button>
                </a>
            </div>
            {%elif article.estModifiable%}
            <a href="{% url 'blog:modifierArticle' slug=article.slug %}">
                <button type="button" class="btn btn-sm btn-warning">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Modifier
                </button>
            </a>
            {%endif%}
            {%if request.user.is_superuser%}
            <a href="https://www.perma.cat/gestion/blog/article/{{article.id}}/change/">
                <button type="button" class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Admin
                </button>
            </a>
            <a href="{% url 'blog:archiverArticleAdmin' slug=article.slug %}">
                <button type="button" class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Archiver (Admin)
                </button>
            </a>
            {%endif%}
        </div>
    </div>

</div>

{% endblock %}

{% block sidebar_menu %}
<li class="sidebarli">
    <a href="#ref-titre">
       <i class="fa fa-angle-up"></i>
    </a>
</li>
<li class="sidebarli">
    <a href="#idContenu">
       <i class="fa fa-book"></i>
    </a>
</li>

{% if commentaires %}
<li class="sidebarli">
    <a href="#idConversation">
       <i class="fa fa-comments"></i>
    </a>
</li>
{% endif %}
<li class="sidebarli">
    <a href="#idComenter">
        <i class="fa fa-edit"></i>
    </a>
</li>


{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-sm-12 offset-md-2 col-md-8 textcenter">
            <p class="infos textepetit textcenter">
            <span>
                <a href="{% url 'blog:index_asso' asso=article.asso.slug %}#ref-titre">{{ article.get_logo_nomgroupe_html|safe }}</a>
            </span>
                {% if article.partagesAsso %} <span>{% for p in article.get_logo_nomgroupespartages_html %}{{ p|safe }}{% endfor %}</span>
                {% endif %}
                / <span class="badge badge-success" style="background-color:{{article.get_couleur}}"><a
                    href="{% url 'blog:index_asso' asso=article.asso.slug %}?categorie={{article.categorie}}&ancre_navtab=dossier#ref-navbargroupe">{% if article.get_logo_categorie %}  <img
                    src="{% static article.get_logo_categorie %}" height="16px"/>  {% endif %} {{ article.get_categorie_display2 }}</a>
            </span> -

                <a href="{% url 'blog:suivre_article' article.slug %}">
                    {% if request.user|is_following:article %}
                    <button type="button" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="bottom"
                            title="Vous êtes abonné :  Cliquez pour arrêter de recevoir des notifications concernant cet article par mail">
                        {% fa5_icon 'bell' %}
                    </button>
                    {% else %}
                    <button type="button" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="bottom"
                            title="Vous n'êtes pas abonné :  Cliquez pour recevoir les notifications concernant cet article par mail">
                        {% fa5_icon 'bell-slash' %}
                    </button>
                    {% endif %}
                </a>
                {% comment %}
                <button class="btn btn-light btn-sm"
                        onclick="copyToClipboard('https://www.perma.cat{{article.get_absolute_url}}')"
                        title="Copier l'adresse de l'article"><i class="fa fa-link" aria-hidden="true"></i></button>
                {% endcomment %}

                <a href="{% url 'blog:suiveursArticle' article.slug %}">
                    <button type="button" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="bottom"
                            title="Voir abonnés">
                        {% fa5_icon 'list' %}
                    </button>
                </a>

            </p>
            <div class="row titre_fiche titre-article-forum">
                <div class="col textcenter">
                    <h3>
                        {% if article.estArchive%}
                        <span class="badge badge-light" title="Article archivé">archivé </span>
                        {%endif%}
                        {% if article.estEpingle%}
                        <span class="fa fa-thumb-tack" title="Article épinglé"> </span>
                        {%endif%}
                        {% if article.estModifiable%}
                        <span class="fa fa-edit" title="Article modifiable">    </span>
                        {%endif%}
                        {{ article.titre }}
                    </h3>
                </div>
            </div>
            {%if article.start_time%}
            <p>
                <a href="{% url 'cal:agenda' %} ">
                    {%if article.end_time and article.start_time != article.end_time %}
                        Du {{ article.start_time|date:"l d F Y" }} au {{ article.end_time|date:"l d F Y" }}
                    {%else%}
                    le {{ article.start_time|date:"l d F Y" }}

                        {% if dates %}
                         + {{dates|length}} date{{dates|pluralize:"s"}}
                        {% endif %}
                    {% endif %}

                </a>
            </p>
            {% endif %}
        </div>
    </div>
    <div class="anchor_blank" id="idContenu"></div>
    <nav class="nav nav-tabs justify-content-center">
        <a class="nav-item nav-link active" href="#contenu" data-toggle="tab"><i
                class="fa fa-align-center icon-left"></i> </a>
        <a class="nav-item nav-link" href="#historique" data-toggle="tab"> <i class="fa fa-info icon-left"></i></a>
        {% if lieux %}
        <a class="nav-item nav-link" href="#lieux" data-toggle="tab">
            <i class="fa fa-map-marker icon-left"></i></a>
        {% endif %}
        {% if dates %}
        <a class="nav-item nav-link" href="#dates" data-toggle="tab"><i class="fa fa-calendar icon-left"></i></a>
        {% endif %}
        {% if article.album %}
        <a class="nav-item nav-link" href="#album"
       onclick="get_album_article('{% url 'blog:get_album_article_ajax' article_slug=article.slug %}')" data-toggle="tab"
       id="navtab_tags"> <i class="fa fa-camera-retro icon-left"></i></a>
        {% endif %}
        {% if salons %}
        <a class="nav-item nav-link" href="#salons" data-toggle="tab"><i class="fa fa-users icon-left"></i></a>
        {% endif %}
        {% if ateliers %}
        <a class="nav-item nav-link" href="#ateliers" data-toggle="tab">{% fa5_icon 'wrench' %}</a>
        {% endif %}
        {% if todos %}
        <a class="nav-item nav-link" href="#todos" data-toggle="tab"> <i class="fa fa-tasks icon-left"></i></a>
        {% endif %}
        {% if reunions %}
        <a class="nav-item nav-link" href="#reunions" data-toggle="tab"><i class="fa fa-users icon-left"></i></a>
        {% endif %}
        {% if documents %}
        <a class="nav-item nav-link" href="#documents" data-toggle="tab"><i class="fa fa-file icon-left"></i></a>
        {% endif %}
        {% if documents_partages %}
        <a class="nav-item nav-link" href="#documents_partages" data-toggle="tab"><i class="fa fa-link icon-left"></i></a>
        {% endif %}
        {% if suffrages or sondages %}
        <a class="nav-item nav-link" href="#suffrages" data-toggle="tab"><i class="fa fa-paper-plane"></i>
            <i class="fa fa-paper-plane-top"></i></a>
        {% endif %}
        <a class="nav-item nav-link" href="#partager" data-toggle="tab"> <i class="fa fa-share icon-left"></i></a>
        <a class="nav-item nav-link" href="#plus" data-toggle="tab"> <i class="fa fa-plus icon-left"></i></a>
    </nav>

    <div class="tab-content">

        <div class="tab-pane fade show active " id="contenu">
            <div class="row justify-content-center">
                <div class="col contenu fiche">
                    {{ article.contenu |safe}}
                        <hr>
                    <p class="textright textepetit" style="font-style: italic;text-align:right;">
                        rédigé par <a href="{% url 'profil' article.auteur.id %}">{{ article.auteur.username }} </a> le {{article.date_creation|date:"DATE_FORMAT"}}
                    </p>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="album">
            <div class="contenu atelier">
                <div id="articles_album"></div>
            </div>
        </div>


        <div class="tab-pane fade" id="documents">
            <div class="contenu atelier">
                <div class="row justify-content-center">
                    <div class="col-sm-12 textcenter">

                        <div class="row justify-content-center">
                            <div class="col-sm-12 col-md-8 textcenter">
                                <h4>Documents : </h4>
                            </div>
                            <div class="col-sm-12 col-md-4 textcenter">
                            <h4> <a class="btn btn-sm btn-success textleft"
                               href="{% url 'photologue:ajouterDocument' article_slug=article.slug %}"><i
                                    class="fa fa-plus"></i> Ajouter un fichier/document</a>
                                </h4>
                            </div>

                        </div>
<table class="table table-condensed table-middle {% if request.user.css_dark %}table-dark{% endif %} sortable textcenter">

        <thead><th>Date</th><th>Document</th><th>Lien</th><th>Groupe</th>
        {%if article.auteur == request.user or article.estModifiable or request.user.is_superuser %}
                     <th>Modifier/Supprimer</th>
        {% endif %}

        </thead>
        <tbody>
                        {% for document in documents %}

                        <tr><td>
                            {{ document.date_creation|date:"d/m/Y" }}
                        </td>
                            <td><a href="{{document.doc.url}}"><i class="fa fa-download" aria-hidden="true"></i>
                                {{ document.titre }} </a>
                            </td>

                                <td>
                                    <button type="button" class="btn btn-light  btn-sm"
                                            onclick="copyToClipboard('https://www.perma.cat{{document.doc.url}}')">
                                        {% fa5_icon 'copy' title='Copier le lien' %}
                                    </button>
                                </td>
                            <td> {{ document.asso.get_logo_nomgroupe_html|safe }}</td>
                            {%if article.auteur == request.user or document.auteur == request.user or article.estModifiable or request.user.is_superuser %}

                            <td><a class="btn btn-sm btn-warning textleft"
                               href="{% url 'photologue:modifierDocument' slug=document.slug%}">
                                <i class="fa fa-edit"></i> </a>
                                <a class="btn btn-sm btn-danger textleft"
                               href="{% url 'photologue:supprimerDocument' slug=document.slug%}"> <i
                                    class="fa fa-times"></i> </a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor%}
        </tbody>
    </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="documents_partages">
            <div class="contenu atelier">
                <div class="row justify-content-center">
                    <div class="col-sm-12 textcenter">

                        <div class="row justify-content-center">
                            <div class="col-sm-12 col-md-8 textcenter">
                                <h4>Documents partagés (framapad): </h4>
                            </div>
                            <div class="col-sm-12 col-md-4 textcenter">
                                <h4>
                                    <a class="btn btn-sm btn-success textleft"
                               href="{% url 'blog:ajouterDocumentPartage' slug_article=article.slug %}"><i
                                    class="fa fa-plus"></i> Ajouter un Document partagé</a>
                                </h4>
                            </div>
                        </div>

<table class="table table-condensed table-middle {% if request.user.css_dark %}table-dark{% endif %} sortable textcenter">

                            <thead>
                            <th>Créé le</th>
                            <th>Nom</th>
                            <th>Lien</th>
                            <th>Edit</th>
                            </thead>
                            <tbody>
                            {% for doc in documents_partages %}
                            <tr>
                                <td>
                                    {{ doc.date_creation|date:"d/m/Y" }}
                                </td>
                                <td>
                                    <a href="{{ doc.get_absolute_url }}" class="btn btn-info" style="width:100%;">{{ doc.nom }}</a>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-light btn-sm"
                                            onclick="copyToClipboard('{{doc.get_absolute_url}}')">
                                        {% fa5_icon 'copy' title='Copier le lien' %}
                                    </button>
                                </td>
                                <td>
                                    {%if article.auteur == request.user or article.estModifiable or request.user.is_superuser %}
                                    <a class="btn btn-sm btn-warning textleft"
                                       href="{% url 'blog:modifierDocumentPartage' slug_docpartage=doc.slug%}"> <i
                                            class="fa fa-edit"></i> </a>
                                    <a class="btn btn-sm btn-danger textleft"
                                       href="{% url 'blog:supprimerDocumentPartage' slug_docpartage=doc.slug%}"  onclick="return confirm('Voulez vous vraiment Supprimer ce document partagé ?')"> <i
                                            class="fa fa-times"></i> </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="reunions">
            <div class="contenu atelier">
                <div class="row justify-content-center">
                    <div class="col-sm-12 textcenter">

                        <div class="row justify-content-center">
                            <div class="col-sm-12 col-md-8 textcenter">
                                <h4>Réunions : </h4>
                            </div>
                            <div class="col-sm-12 col-md-4 textcenter">
                              <h4>
                            {%if article.auteur == request.user or article.estModifiable or request.user.is_superuser %}
                            <a class="btn btn-sm btn-success textleft"
                               href="{% url 'blog:ajouterReunionArticle' slug_article=article.slug %}"><i
                                    class="fa fa-plus"></i> Ajouter une réunion (pour défraiement)</a>
                            {% endif%}
                                </h4>
                            </div>
                        </div>
                        {% for reunion in reunions %}
                        <p>
                            <a href="{{reunion.get_absolute_url}}" target="_blank"> {{ reunion.titre }} </a>
                            {%if article.auteur == request.user or article.estModifiable or request.user.is_superuser %}
                            <a class="btn btn-sm btn-danger textleft"
                               href="{% url 'blog:supprimerReunionArticle' slug_reunion=reunion.slug%}"> <i
                                    class="fa fa-times"></i> </a>
                            {% endif %}
                        </p>
                        {% endfor%}
                            {%if request.user.is_superuser %}
                        <p>
                            <a class="btn btn-sm btn-success textleft"
                               href="{% url 'blog:associerReunionArticle' slug_article=article.slug %}"><i
                                    class="fa fa-plus"></i> Associer une réunion</a>
                        </p>
                            {% endif%}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="todos">
            <div class="contenu atelier">
                <div class="row justify-content-center">
                    <div class="col-sm-12 textcenter">
                        <div class="row justify-content-center">
                            <div class="col-sm-12 col-md-8 textcenter">
                                <h4>Todo : </h4>
                            </div>
                            <div class="col-sm-12 col-md-4 textcenter">
                              <h4>
                            {%if article.auteur == request.user or article.estModifiable or request.user.is_superuser %}
                            <a class="btn btn-sm btn-success textleft"
                               href="{% url 'blog:ajouterTodoArticle' slug_article=article.slug %}"><i
                                    class="fa fa-plus"></i> Ajouter un Todo</a>
                            {% endif%}
                                </h4>
                            </div>
                        </div>
                         <table class="table table-condensed  {% if request.user.css_dark %} table-dark{% endif %} sortable textcenter">
        <thead><th>Créé le</th><th>Titre</th><th>Description</th><th>Fait ?</th>
        {%if article.auteur == request.user or article.estModifiable or request.user.is_superuser %}
                     <th>Modifier/Supprimer</th>
        {% endif %}

        </thead>
        <tbody>
                        {% for todo in todos %}
                        <tr><td>
                            {{ todo.date_creation|date:"d/m/Y" }}
                        </td>
                            <td>
                                {{ todo.titre }}
                            </td>
                            <td style="width:50%;  text-align:left;">
                                {% if todo.description %}
                                {{ todo.description }}
                                {% endif %}
                            </td>
                            <td>
                                <form method="post" action="{% url 'blog:todoArticle_toggle' slug_article=article.slug slug_todo=todo.slug %}" role="form">
                {% csrf_token %}
                <button class="btn {% if todo.estFait %}btn-info{% else %}btn-secondary{% endif %} btn-sm" type="submit" name="toggle_done">
                                {{ todo.estFait|translateOuiNon }}
                </button>
              </form>
                            </td>
                            {%if article.auteur == request.user or article.estModifiable or request.user.is_superuser %}

                            <td><a class="btn btn-sm btn-warning textleft"
                               href="{% url 'blog:modifierTodoArticle' slug=todo.slug%}">
                                <i class="fa fa-edit"></i> </a>
                                <a class="btn btn-sm btn-danger textleft"
                               href="{% url 'blog:supprimerTodoArticle' slug_article=article.slug slug_todo=todo.slug%}"> <i
                                    class="fa fa-times"></i> </a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor%}
        </tbody>
    </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade " id="ateliers">
            <div class="col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 textcenter my-auto">
                <div class="contenu atelier">
                    <div class="row justify-content-center">
                        <div class="col-sm-12 col-md-8 textcenter">
                            <h4>Ateliers : </h4>
                        </div>
                        <div class="col-sm-12 col-md-4 textcenter">
                          <h4>
                                <a class="btn btn-sm  btn-success textleft"
                                  href="{% url 'ateliers:ajouterAtelier_article' article_slug=article.slug %}"><i
                                    class="fa fa-plus"></i> Proposer un Atelier
                                </a>
                            </h4>
                            </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-12">
                    {% for atelier in ateliers %}
                    <p>
                        <a href="{{atelier.get_absolute_url}}"> <i class="fa fa-arrow-right"></i> Atelier du
                            {{atelier.start_time |date:"l d F Y"}} : {{atelier.titre}}</a>

                        {%if atelier.auteur == request.user or article.auteur == request.user or article.estModifiable or request.user.is_superuser %}
                        <a class="btn btn-sm btn-danger textleft"
                           href="{% url 'ateliers:supprimerAtelier' slug=atelier.slug%}"><i class="fa fa-times"></i>
                        </a>
                        {% endif %}
                    </p>
                    {% endfor%}
                    </div>
                </div>
                </div>
            </div>
        </div>


        <div class="tab-pane fade " id="dates">
            <div class="col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 textcenter">
                <div class="contenu atelier">

                    <div class="row justify-content-center">
                            <div class="col-sm-12 col-md-8 textcenter">
                                <h4>Dates : </h4>
                            </div>
                            <div class="col-sm-12 col-md-4 textcenter">
                        <h4><a class="btn btn-sm btn-success textleft"
                              href="{% url 'blog:ajouterEvenementArticle' slug_article=article.slug %}"><i
                                class="fa fa-plus"></i> Ajouter un événement sur l'agenda</a>
                        </h4>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                            <div class="col-sm-12">
                    {%for date in dates %}
                    <p>{{date.start_time |date:"l d F Y"}} : {{date.titre}}

                        {%if article.auteur == request.user or article.estModifiable or request.user.is_superuser %}
                        <a class="btn btn-sm btn-danger textleft"
                           href="{% url 'blog:supprimerEvenementArticle' slug_article=article.slug  id_evenementArticle=date.id %}"><i
                                class="fa fa-times"></i> </a>
                        {% endif %}
                    </p>
                    {%endfor%}

                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade " id="lieux">
            <div class="col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 textcenter">
                <div class="contenu atelier">
                    <div class="row justify-content-center">
                        <div class="col-sm-12 col-md-8 textcenter">
                            <h4>Lieux : </h4>
                        </div>

                        <div class="col-sm-12 col-md-4 textcenter">
                          <h4>
                           <a class="btn btn-sm btn-success textleft"
                              href="{% url 'blog:ajouterAdresseArticle' id_article=article.id %}"><i class="fa fa-plus"></i>
                            Ajouter un lieu</a>
                          </h4>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-12">
                    <p><a class="btn btn-sm btn-primary textleft"
                          href="{% url 'blog:voirCarteLieux_article' id_article=article.id %}"><i class="fa fa-compass"></i>
                        Voir la carte</a></p>
                    <table class="table table-condensed  {% if request.user.css_dark %} table-dark{% endif %} sortable">
                        <thead>
                        <th>Lieu</th>
                        <th>Infos</th>
                        {%if article.auteur == request.user or article.estModifiable or request.user.is_superuser %}
                        <th>Edit</th>
                        {% endif %}

                        </thead>
                        <tbody>
                        {%for lieu in lieux %}
                        <tr>
                            <td>
                                <a href="{{lieu.get_url_map}}">{{lieu}}</a>
                            </td>
                            <td>

                            {% if lieu.infos %}
                                <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#infoLieu_{{lieu.id}}">
  + d'infos...
</button>

<!-- Modal -->
<div class="modal fade" id="infoLieu_{{lieu.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content textleft">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nom : {{lieu.titre|safe}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       {{lieu.infos|safe}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ok</button>
      </div>
    </div>
  </div>
</div>
                            {% endif %}
                            </td>
                            {%if article.auteur == request.user or article.estModifiable or request.user.is_superuser %}
                            <td>
                                <a class="btn btn-sm btn-warning textleft"
                                   href="{% url 'blog:modifierAdresseArticle' slug_article=article.slug  id_adresse=lieu.id %}"><i
                                    class="fa fa-edit"></i> </a>
                                <a class="btn btn-sm btn-danger textleft"
                                   href="{% url 'blog:supprimerAdresseArticle' slug_article=article.slug  id_adresse=lieu.id %}"><i
                                    class="fa fa-times"></i> </a>

                            </td>
                            {% endif %}
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                    {% comment %}
                    <div class="row">
                        <div class="col-md-12">
                            <style>.leaflet-container {width:  100%;min-height: 60vh;}</style>
                            {% leaflet_map "carte" callback="window.map_init_basic" %}
                        </div>
                    </div>
                    {% endcomment %}
                </div>
            </div>

                </div>
            </div>
        </div>
        <div class="tab-pane fade " id="salons">
            <div class="col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 textcenter">
                <div class="contenu atelier">
                    <div class="row justify-content-center">
                        <div class="col-sm-12 col-md-8 textcenter">
                            <h4>Salons de discussions : </h4>
                        </div>

                        <div class="col-sm-12 col-md-4 textcenter">
                        <h4><a class="btn btn-sm btn-success textleft"
                              href="{% url 'blog:ajouterSalonArticle' slug_article=article.slug %}"><i
                                class="fa fa-plus"></i> Ajouter un salon de discussion</a></h4>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-12">
                    {%for salon in salons %}
                    <p><a href="{{salon.get_absolute_url}}"> {{salon.titre}}</a></p>
                    {%endfor%}
                </div>
            </div>

                </div>
            </div>
        </div>

        <div class="tab-pane " id="partager">
            <div class="col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 textcenter">
                <div class="contenu atelier">
                    <div class="row justify-content-center">
                        <div class="col-sm-12 textcenter">
                            <h4>Partager l'article</h4>

                        </div>
                    </div>
                    <table class="table textcenter" style="border:none;">
                        <tr>
                            <td><i class="fa fa-copy iconleft"></i>
                                {% copy_to_clipboard article "Copier le lien" %}</td>
                        </tr>
                        <tr>
                            <td>
                            {% fa5_icon 'envelope' %}
                                {% send_email 'Info Perma.Cat : {{article.titre}}' "Une info qui pourrait t'intéresser " article "Envoyer le lien par mail" %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                            {% fa5_icon 'whatsapp' %}
                                {% post_to_whatsapp article 'Partager sur Whatsapp' %}</td>
                        </tr>
                        <tr>
                            <td>
                            {% fa5_icon 'telegram' %}
                                {% post_to_telegram "{{article.titre}}" article 'Partager sur Telegram' %}</td>
                        </tr>
                        <tr>
                            <td>
                                {% qr_from_text article.get_absolute_url_site size="t" image_format="png" %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="tab-pane " id="historique">
            <div class="col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 textcenter">
                <div class="contenu atelier">

                    <div class="row justify-content-center">
                        <div class="col-sm-12 textcenter">
                            <h4>Informations générales : </h4>
                        </div>
                    </div>

                    <p>
                        rédigé par <a href="{% url 'profil' article.auteur.id %}">{{ article.auteur.username }} </a> le {{article.date_creation|date:"DATE_FORMAT"}},

                        {% get_hit_count for article as nbvues %}
                        {{ nbvues }} vue{{nbvues|pluralize:"s"}}
                    </p>
                    {% if article.tags.names %}
                    <hr>
                    <div class="row-sm-12 justify-content-center">
                        <div class="col-sm-12 ">
                            <em> Mots-clés: </em>{% for tag in article.tags.names %}
                            <span class="badge badge-info"> {{tag}}</span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <p>
                        {% if article.get_partagesAsso %}
                        <em>Article {{article.get_logo_nomgroupe_html|safe}}, partagé avec</em>
                        {{article.get_partagesAssoLogo|safe}},
                        {%endif%}


                        {% if article.estArchive%}
                        - archivé
                        {%endif%}
                        {% if article.estModifiable%}
                        - modifiable
                        {%endif%}
                    </p>
                    {% if article.themes.all %}
                    <hr>
                    <p class="textcenter">
                        <em>Thème{{article.themes.all|pluralize:"s"}}: </em>
                        {% for tag in article.themes.all %}
                        <a href="{% url 'blog:index' %}?theme={{tag}}"> {{tag}}</a>{%if not forloop.last%}, {%endif%}
                        {% endfor %}
                    </p>
                    {% endif %}
                    {% if article.zonegeo %}
                    <p class="textcenter">
                        <em>Zone géographique : </em> {{article.zonegeo}}
                    </p>
                    {% endif %}
                    <hr>
                    <div class="row justify-content-center">
                        <div class="col-sm-12 textcenter">
                            <div class="row">
                                <div class="col-sm-3 textcenter">
                                     <em>Articles liés </em>
                                </div>
                                <div class="col-sm-9 textcenter">
                                    <a class="btn btn-sm btn-success textleft" href="{% url 'blog:ajouterArticleLiens' slug_article=article.slug %}"><i
                                        class="fa fa-plus"></i> Lier à un autre article  </a>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                            {% if articles_liens %}
                            <table class="table table-condensed  {% if request.user.css_dark %} table-dark{% endif %} sortable">
<thead><th>Date</th><th>Type de lien</th><th>Article</th>
{%if article.auteur == request.user or article.estModifiable or request.user.is_superuser %}
             <th>Modifier/Supprimer</th>
{% endif %}

</thead>
<tbody>
                {% for lien in articles_liens %}

                <tr><td>
                    {{ lien.date_creation|date:"d/m/Y" }}
                </td>
                    <td>{{lien.get_type_lien_display}}
                    </td>
                    <td>
                        {% if lien.article == article %}
                             <a href="{{lien.article_lie.get_absolute_url}}">{{lien.article_lie}}</a>
                        {% else %}
                             <a href="{{lien.article.get_absolute_url}}">{{lien.article}}</a>
                        {% endif %}
                    {%if article.auteur == request.user or document.auteur == request.user or article.estModifiable or request.user.is_superuser %}
                    <td>
            <a class="btn btn-sm btn-warning textleft" href="{{lien.get_update_url}}" ><i class="fa fa-edit"></i> </a>
            <a class="btn btn-sm btn-danger textleft" href="{{lien.get_delete_url}}"  onclick="return confirm('Voulez vous vraiment Supprimer ce lien ?')" ><i class="fa fa-times"></i> </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor%}
</tbody>
</table>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-center">
                        <div class="col-sm-12 textcenter">
                            <div class="row">
                                <div class="col-sm-3 textcenter">
                             <em>Projets liés </em>
                                </div>
                                <div class="col-sm-9 textcenter">
                        <a class="btn btn-sm btn-success textleft" href="{% url 'blog:ajouterArticleLienProjet' slug_article=article.slug %}"><i
                                class="fa fa-plus"></i> Lier à un projet </a>
                                </div>
                            </div>
                    {% if projets_liens %}

                            <table class="table table-condensed  {% if request.user.css_dark %} table-dark{% endif %} sortable">
        <thead><th>Date</th><th>Type de lien</th><th>Projet</th>
        {%if article.auteur == request.user or article.estModifiable or request.user.is_superuser %}
                     <th>Modifier/Supprimer</th>
        {% endif %}

        </thead>
        <tbody>
                        {% for lien in projets_liens %}

                        <tr><td>
                            {{ lien.date_creation|date:"d/m/Y" }}
                        </td>
                            <td>{{lien.get_type_lien_display}}
                            </td>
                            <td><a href="{{lien.projet_lie.get_absolute_url}}">{{lien.projet_lie}}</a></td>
                            {%if article.auteur == request.user or article.estModifiable or request.user.is_superuser %}
                            <td>
                    <a class="btn btn-sm btn-warning textleft" href="{{lien.get_update_url}}" ><i class="fa fa-edit"></i> </a>
                    <a class="btn btn-sm btn-danger textleft" href="{{lien.get_delete_url}}"  onclick="return confirm('Voulez vous vraiment Supprimer ce lien ?')"><i class="fa fa-times"></i> </a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor%}
        </tbody>
    </table>
                    {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-center">
                        <div class="col-sm-12 textcenter">
                            <h4>Historique :</h4>
                        </div>
                    </div>
                    <div class="row textcenter">
                        <div class="col-sm-12">
                            {%for action in actions %}
                            {% include "notifications/notifications_template3.html" with action=action%}
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade " id="suffrages">
            <div class="col-sm-12 col-md-10 offset-md-1 textcenter">
                <div class="contenu discussion_sondage">

                    <div class="row justify-content-center">
                        <div class="col-sm-12 textcenter">
                            <h4>Sondage{{sondages|pluralize:",s"}} </h4>
                        </div>
                    </div>

{% if sondages %}
<script>
function get_resultatSondage(url_tag, div_name) {
    $.ajax({
        url: url_tag,
        type: "GET",
        contentType: "application/x-www-form-urlencoded",
        async: false,
        data: { },
        error: function(response, status, error_msg) {
            console.log(error_msg);
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#" + div_name).html(data);  // replace the contents of the city input with the data that came from the server
        }
    });
}
</script>
<div class="row justify-content-center">
    <div class="col-sm-12 textcenter">
    <table class="table table-condensed {% if request.user.css_dark %} table-dark{% endif %}">
        <thead>
        <th>Question</th>
        <th>Voter</th>
        <th>Résultat</th>
        {%if sondage.auteur == request.user or article.estModifiable or request.user.is_superuser %}<th></th>{% endif%}
        </thead>
        <tbody  >
              {% for sondage in sondages %}
            <tr class="tr_vote"><td width="100%; " style="text-align: center; vertical-align: middle;"> <i class="fa fa-arrow-right"></i> {{sondage.question}}</td>
                <td style="text-align: center; vertical-align: middle;"><a class="btn btn-block  btn-sm btn-success textleft" href="{% url 'vote:ajouterVoteBinaire' sondageBinaire_pk=sondage.pk reponse_b='0' %}" >Oui</a>
                    <a class="btn btn-block btn-sm btn-success textleft" href="{% url 'vote:ajouterVoteBinaire' sondageBinaire_pk=sondage.pk reponse_b='1' %}" >Non</a>
                    <a class="btn btn-block btn-sm btn-success textleft" href="{% url 'vote:ajouterVoteBinaire' sondageBinaire_pk=sondage.pk reponse_b='2' %}" >Blanc</a>
                </td>
                <td style="text-align: center; vertical-align: middle;">
                    <a href="#resSondage" onclick="get_resultatSondage('{% url 'vote:get_resultatSondageB' sondage_pk=sondage.pk %}', 'resSondage_{{forloop.counter}}')" data-toggle="tab" id="navtab_archives">
                        <i class="fa fa-2x fa-question-circle"></i></a>

                {%if sondage.auteur == request.user or article.estModifiable or request.user.is_superuser %}
                <td style="text-align: center; vertical-align: middle;"><a class="btn btn-sm btn-primary textleft" href="{% url 'vote:modifierSondageB' pk=sondage.pk %}" ><i class="fa fa-edit"></i></a>
               <a class="btn btn-sm btn-danger textleft" href="{% url 'vote:supprimerSondageB' pk=sondage.pk %}" ><i class="fa fa-close"></i></a></td>
                {% endif %}
                </tr>
              <tr> {%if sondage.auteur == request.user or article.estModifiable or request.user.is_superuser %}<td colspan="4">{%else%}<td colspan="3">{%endif%}<div id="resSondage_{{forloop.counter}}"></div></td></tr>
              {% if not forloop.last %}
        <hr>
              {% endif %}
              {% endfor %}
<tr> {%if sondage.auteur == request.user or article.estModifiable or request.user.is_superuser %}<td colspan="4">{%else%}<td colspan="3">{%endif%}
<a class="btn btn-sm btn-success textleft" href="{% url 'vote:ajouterSondageBinaire' article_slug=article.slug %}" ><i class="fa fa-plus"></i> Ajouter une question</a>

</td></tr>

        </tbody>
    </table>
    </div>
</div>
{% endif %}
{% if suffrages %}
            <hr>
        <div class="row justify-content-center" >
            <div class="col-sm-12 textcenter">
                <h4>Suffrages liés : </h4>
            </div>
        </div>
              {%for suffrage in suffrages %}
            <p><a href="{{suffrage.get_absolute_url}}"> <i class="fa fa-arrow-right"></i> {{suffrage.titre}}</a></p>
              {%endfor%}
{% comment %}
            {%if article.auteur == request.user or article.estModifiable or request.user.is_superuser %}
            <hr>
              <p><a class="btn btn-sm btn-success textleft"
                    href="{% url 'vote:ajouterSuffrage' article_slug=article.slug %}" >
                  <i class="fa fa-plus"></i> Ajouter un suffrage au groupe</a></p>
            {% endif %}
{% endcomment %}

            {% endif %}

      </div>
    </div>
</div>

  <div class="tab-pane fade " id="plus">
        <div class="col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 textcenter">
        <div class="contenu discussion_fiche">

        <div class="row justify-content-center" >
            <div class="col-sm-12 textcenter">
                <h4>Ajouter à l'article : </h4>
            </div>
        </div>
        <p>
          <a class="btn btn-sm btn-block btn-info textleft textnoir" href="{% url 'blog:ajouterEvenementArticle' slug_article=article.slug %}" ><i class="fa fa-plus"></i> Ajouter un événement sur l'agenda <i class="fa fa-calendar "></i></a>
        </p>
       <p>
           <a class="btn btn-sm btn-block btn-info textleft textnoir" href="{% url 'photologue:ajouterDocument' article_slug=article.slug %}" ><i class="fa fa-plus"></i> Ajouter un fichier/document <i class="fa fa-file "></i></a>
       </p>
        <p>
          <a class="btn btn-sm btn-block btn-info textleft textnoir" href="{% url 'blog:ajouterAdresseArticle' id_article=article.id %}" ><i class="fa fa-plus"></i> Ajouter un lieu <i class="fa fa-map-marker "></i></a>
        </p>
       <p>
           <a class="btn btn-sm btn-block btn-info textleft textnoir" href="{% url 'blog:ajouterDocumentPartage' slug_article=article.slug %}" ><i class="fa fa-plus"></i> Ajouter un document partagé (framapad)<i class="fa fa-link "></i></a>
       </p>
        <p>
          <a class="btn btn-sm btn-block btn-info textleft textnoir" href="{% url 'blog:ajouterSalonArticle' slug_article=article.slug%}" ><i class="fa fa-plus"></i> Ajouter un Salon de discussion <i class="fa fa-users "></i></a>
        </p>
        <p>
            <a class="btn btn-sm btn-block  btn-info textleft textnoir" href="{% url 'ateliers:ajouterAtelier_article' article_slug=article.slug %}" ><i class="fa fa-plus"></i>  Ajouter un Atelier {% fa5_icon 'wrench' %}</a>
        </p>
        <p>
            <a class="btn btn-sm btn-block  btn-info textleft textnoir" href="{% url 'blog:ajouterTodoArticle' slug_article=article.slug %}" ><i class="fa fa-plus"></i>  Ajouter un Todo <i class="fa fa-tasks"></i></a>
        </p>
        <p>
          <a class="btn btn-sm btn-block btn-info textleft textnoir" href="{% url 'blog:ajouterReunionArticle' slug_article=article.slug %}" ><i class="fa fa-plus"></i> Ajouter un déplacement (pour défraiement) <i class="fa fa-users "></i></a>
        </p>
        <p>
            <a class="btn btn-sm btn-block  btn-info textleft textnoir" href="{% url 'vote:ajouterSuffrage_article' article_slug=article.slug %}"><i class="fa fa-plus"></i>  Ajouter un sondage <i class="fa fa-paper-plane-top"></i><i class="fa fa-paper-plane"></i></a>
        </p>
        {%if article.auteur == request.user or article.estModifiable or request.user.is_superuser %}
        <p>
            <a class="btn btn-sm btn-block btn-info textleft textnoir" href="{% url 'blog:ajouterAlbumArticle' slug=article.slug %}" ><i class="fa fa-plus"></i> Associer à un album photo <i class="fa fa-camera-retro"></i></a>
        </p>
        {% endif %}
        <p>
            <a class="btn btn-sm btn-block  btn-info textleft textnoir" href="https://www.togetzer.com/index.php?view=evenement&creer_evenement=1" target="_blank" rel="noopener noreferrer nofollow"><i class="fa fa-plus"></i>  Covoiturage</a>
        </p>

          </div>
          </div>
  </div>
</div>


{% include 'commentaires_discussions.html' %}
<hr>

<div class="row">
<div class="col-sm-12">
    <p class="textcenter textepetitgris">Articles du dossier
        <span class="badge badge-success" style="background-color:{{article.get_couleur}}"><a
                    href="{% url 'blog:index_asso' asso=article.asso.slug %}?categorie={{article.categorie}}&ancre_navtab=dossier#ref-navbargroupe">{% if article.get_logo_categorie %}  <img
                    src="{% static article.get_logo_categorie %}" height="16px"/>  {% endif %} {{ article.get_categorie_display2 }}</a>
            </span> :
    </p>
    <ul class="list-group list_group_art_dossier list-group-horizontal position-relative overflow-auto w-100 justify-content-center">
{% for art in articles_dossier %}
    <li class="list-group-item list_art_dossier"><a href="{{art.get_absolute_url}}">{{art.titre|couperTexte2:35}}</a></li>
{% endfor %}
</ul>
</div>
</div>

      <script type="text/javascript">
        function map_init_basic (map, options) {
          var leafIcon = L.icon({
            iconUrl: '{% static 'img/leafgreen.png' %}',
            shadowUrl: '{% static 'img/leafshadow.png' %}',
            iconSize:     [38, 95], // size of the icon
            shadowSize:   [50, 64], // size of the shadow
            iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
        });

          var greyIcon = L.icon({
          iconUrl: '{% static 'img/marker-icon-grey.png' %}',
               shadowUrl: '{% static 'img/marker-shadow.png' %}',
              iconSize: [25, 41],
              iconAnchor: [12, 41],
              popupAnchor: [1, -34],
              shadowSize: [41, 41]
        });
          var greenIcon = L.icon({
              iconUrl: '{% static 'img/marker-icon-2x-green.png' %}',
              shadowUrl: '{% static 'img/marker-shadow.png' %}',
              iconSize: [25, 41],
              iconAnchor: [12, 41],
              popupAnchor: [1, -34],
              shadowSize: [41, 41]
        });

        {% for lieu in lieux %}
            try{
                var lat = {{lieu.adresse.latitude|to_numeric}};
                var lon = {{lieu.adresse.longitude|to_numeric}};
                {% block markers %}
                  var marker = L.marker([lat, lon], {icon: greenIcon}).bindPopup(' <b>{{lieu.get_titre}} {{lieu.adresse.get_adresse_str}} ({{lieu.adresse.latitude|to_numeric|slice:":10"}}, {{lieu.adresse.longitude|to_numeric|slice:":9"}})</b>');
                  marker.addTo(map);
                {% endblock %}
            }
            catch(err){
            }
        {%endfor%}
        {% if lieux|length >= 1 %}
        map.panTo(new L.LatLng(lat, lon));
        {%else%}
        map.panTo(new L.LatLng(42.62914, 2.49939));
        {%endif%}
    }



function get_album_article(url_tag) {
    $.ajax({
        url: url_tag,
        type: "GET",
        contentType: "application/x-www-form-urlencoded",
        async: false,
        data: { },
        error: function(response, status, error_msg) {
            console.log(error_msg);
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#articles_album").html(data);  // replace the contents of the city input with the data that came from the server
        }
    });
}
</script>
{% add_copy_script %}
{% endblock %}
