{% extends 'blog/base_blog2.html' %}
{% load carto_filters %}
{% load static %}
{% block header%}
{% endblock %}
{% block title %} - Visualisation Forum{% endblock %}
{% block subtitle %}
<div class="anchor_blank" id="ref-titre"></div>
<div class="row textcenter">
  <div class="col-sm-12 textcenter">
  </div>
</div>
{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-12 textcenter">
      <div id="soustitre"></div>
</div>
  <div class="col-md-12" id="graph">
      <div id="my_dataviz"></div>
</div>
</div>

<div class="row justify-content-center">
  <div class="col-sm-12 col-md-10 col-lg-8" >
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row justify-content-center">
                    <div class="col-sm-10 textcenter" style="padding-right:0;">
                        {% include 'form_template2.html' with form=form_article_recherche %}
                    </div>

                    <div class="col-sm-2 textcenter" style="padding-left:0;">
                        <button class="btn btn-success my-2 my-sm-0" type="submit" data-toggle="tooltip"
                        data-placement="bottom" title="Lire">Lire</button>
                    </div>
                </div>
            </form>
  </div>
</div>

<script type="text/javascript" src="{% static 'd3/d3.v7.min.js' %}"  charset="utf-8"></script>

      <script type="text/javascript">

d3.json("{% url 'blog:get_articles_asso_d3_bubble' asso_abreviation=asso_abreviation %}")
.then(function(data) {

// Specify the dimensions of the chart.
  const width = 928;
  const height = 600;
  const margin = 1; // to avoid clipping the root circle stroke
  const name = d => d.name; // "Strings" of "flare.util.Strings"
  const group = d => d.group; // "util" of "flare.util.Strings"
  const names = d => d.name.split(" "); // ["Legend", "Item"] of "flare.vis.legend.LegendItems"
// -1- Create a tooltip div that is hidden by default:
  const tooltip = d3.select("#my_dataviz")
    .append("div")
      .style("opacity", 0)
      .attr("class", "tooltip")
      .style("background-color", "black")
      .style("border-radius", "5px")
      .style("padding", "10px")
      .style("color", "white")

  // -2- Create 3 functions to show / update (when mouse move but stay on same circle) / hide the tooltip
  const showTooltip = function(event, d) {
    tooltip
      .transition()
      .duration(200)
    tooltip
      .style("opacity", 1)
      .html(d.data.name)
      .style("left", (event.x)/2 + "px")
      .style("top", (event.y)/2+30 + "px")
  }
  const moveTooltip = function(event, d) {
    tooltip
      .style("left", (event.x)/2 + "px")
      .style("top", (event.y)/2+30 + "px")
  }
  const hideTooltip = function(event, d) {
    tooltip
      .transition()
      .duration(200)
      .style("opacity", 0)
  }

  // Specify the number format for values.
  const format = d3.format(",d");

  // Create a categorical color scale.
  const color = d3.scaleOrdinal(d3.schemeTableau10);

  // Create the pack layout.
  const pack = d3.pack()
      .size([width - margin * 2, height - margin * 2])
      .padding(3);

  // Compute the hierarchy from the (flat) data; expose the values
  // for each node; lastly apply the pack layout.
  const root = pack(d3.hierarchy({children: data})
      .sum(d => d.value));

  // Create the SVG container.
  const svg = d3.select("#my_dataviz").append("svg")
      .attr("width", width)
      .attr("height", height)
      .attr("viewBox", [-margin, -margin, width, height])
      .attr("style", "max-width: 100%; height: auto; font: 10px sans-serif;")
      .attr("text-anchor", "middle");

  // Place each (leaf) node according to the layout’s x and y values.
  const node = svg.append("g")
    .selectAll()
    .data(root.leaves())
    .join("g")
      .attr("transform", d => `translate(${d.x},${d.y})`);

  // Add a title.
  node.append("title").text(d => d.data.name)

  // Add a filled circle.
  node.append("circle")
      .attr("fill-opacity", 0.7)
      .attr("fill", d => color(group(d.data)))
      .attr("r", d => d.r);
      //.on("mouseover", showTooltip )
   // .on("mousemove", moveTooltip )
   // .on("mouseleave", hideTooltip );

  // Add a label.
  const text = node
        .append("text")
        .attr("clip-path", d => `circle(${d.r})`)
        .append("svg:a").attr("xlink:href", d => d.data.url2);


  // Add a tspan for each CamelCase-separated word.
  text.selectAll()
    .data(d => names(d.data))
    .join("tspan")
      .attr("x", 0)
      .attr("y", (d, i, nodes) => `${i - nodes.length / 2 + 0.35}em`)
      .text(d => d);

  // Add a tspan for the node’s value.
  //text.append("tspan")
  //    .attr("x", 0)
  //    .attr("y", d => `${names(d.data).length / 2 + 0.35}em`)
  //    .attr("fill-opacity", 0.7)
  //    .text(d => format(d.value));


  return Object.assign(svg.node(), {scales: {color}});

}).catch(function(error) {
    console.warn(error)
  });

</script>
{% endblock %}

    
