{% extends 'blog/base_blog2.html' %}
{% load carto_filters %}
{% load static %}
{% block header%}
{% endblock %}
{% block title %} - Visualisation Forum{% endblock %}
{% block subtitle %}
<div class="anchor_blank" id="ref-titre"></div>
<div class="row textcenter">
  <div class="col-sm-12 textcenter">
  </div>
</div>
{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-12" id="graph">
      <div id="my_dataviz"></div>
</div>
</div>

<div class="row justify-content-center">
  <div class="col-sm-12 col-md-10 col-lg-8" >
  </div>
</div>

<script type="text/javascript" src="{% static 'd3/d3.v7.min.js' %}"  charset="utf-8"></script>

      <script type="text/javascript">

d3.json("{% url 'blog:get_articles_asso_d3_network' asso_abreviation=asso_abreviation %}")
.then(function(data) {// Specify the dimensions of the chart.
  const width = 928;
  const height = 600;

console.log(data)

// -1- Create a tooltip div that is hidden by default:
  const tooltip = d3.select("#my_dataviz")
    .append("div")
      .style("opacity", 0)
      .attr("class", "tooltip")
      .style("background-color", "black")
      .style("border-radius", "5px")
      .style("padding", "10px")
      .style("color", "white")

  // -2- Create 3 functions to show / update (when mouse move but stay on same circle) / hide the tooltip
  const showTooltip = function(event, d) {
    tooltip
      .transition()
      .duration(200)
    tooltip
      .style("opacity", 1)
      .html(d.data.name)
      .style("left", (event.x)/2 + "px")
      .style("top", (event.y)/2+30 + "px")
  }
  const moveTooltip = function(event, d) {
    tooltip
      .style("left", (event.x)/2 + "px")
      .style("top", (event.y)/2+30 + "px")
  }
  const hideTooltip = function(event, d) {
    tooltip
      .transition()
      .duration(200)
      .style("opacity", 0)
  }
  drag = simulation => {

  function dragstarted(d) {
    if (!d3.event.active) simulation.alphaTarget(0.3).restart();
    d.fx = d.x;
    d.fy = d.y;
  }

  function dragged(d) {
    d.fx = d3.event.x;
    d.fy = d3.event.y;
  }

  function dragended(d) {
    if (!d3.event.active) simulation.alphaTarget(0);
    d.fx = null;
    d.fy = null;
  }

  return d3.drag()
      .on("start", dragstarted)
      .on("drag", dragged)
      .on("end", dragended);
}

  // Specify the color scale.
  const color = d3.scaleOrdinal(d3.schemeCategory10);

  // The force simulation mutates links and nodes, so create a copy
  // so that re-evaluating this cell produces the same result.
  const links = data.links.map(d => ({...d}));
  const nodes = data.nodes.map(d => ({...d}));
const simulation = d3.forceSimulation(nodes)
      .force("link", d3.forceLink(links).id(d => d.id))
      .force("charge", d3.forceManyBody())
      .force("center", d3.forceCenter(width / 2, height / 2));

  const svg = d3.select("#my_dataviz").append("svg")
      .style("overflow", "scroll")
      .style("-webkit-overflow-scrolling", "touch")
      .attr("viewBox", [0, 0, width, height]);

  const link = svg.append("g")
      .attr("stroke", "#999")
      .attr("stroke-opacity", 0.6)
    .selectAll("line")
    .data(links)
    .join("line");
  //    .attr("stroke-width", d => Math.sqrt(d.value));

  const node = svg.append("g")
    .selectAll(".node")
    .data(nodes)
    .join("g")
      .attr('class', 'node')
      .call(drag(simulation));

  node.append('circle')
      .attr("r", d => d.rayon)
      .attr("fill", d => color(d.group));

  node.append("text")
      .text(function(d) {
        return d.name;
      })
      .style('fill', '#000')
      .style('font-size', '12px')
      .attr('x', 2)
      .attr('y', 1);

  simulation.on("tick", () => {
    link
        .attr("x1", d => d.source.x)
        .attr("y1", d => d.source.y)
        .attr("x2", d => d.target.x)
        .attr("y2", d => d.target.y);

    node
        .attr("transform", d => `translate(${d.x}, ${d.y})`);
  });

  return svg.node();
}).catch(function(error) {
    console.warn(error)
  });

</script>
{% endblock %}

    
