{% extends 'blog/base_blog2.html' %}
{% load carto_filters %}
{% load static %}
{% block header%}
{% endblock %}
{% block title %} - Visualisation Forum{% endblock %}
{% block subtitle %}
<div class="anchor_blank" id="ref-titre"></div>
<div class="row textcenter">
  <div class="col-sm-12 textcenter">
  </div>
</div>
{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-12" id="graph">
      <div id="my_dataviz"></div>
</div>
</div>

<div class="row justify-content-center">
  <div class="col-sm-12 col-md-10 col-lg-8" >
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row justify-content-center">
                    <div class="col-sm-10 textcenter" style="padding-right:0;">
                        {% include 'form_template2.html' with form=form_article_recherche %}
                    </div>

                    <div class="col-sm-2 textcenter" style="padding-left:0;">
                        <button class="btn btn-success my-2 my-sm-0" type="submit" data-toggle="tooltip"
                        data-placement="bottom" title="Lire">Lire</button>
                    </div>
                </div>
            </form>
  </div>
</div>

<script type="text/javascript" src="{% static 'd3/d3.v7.min.js' %}"  charset="utf-8"></script>

      <script type="text/javascript">

// set the dimensions and margins of the graph
var margin = {top: 10, right: 30, bottom: 30, left: 40},
  width = 800 - margin.left - margin.right,
  height = 800 - margin.top - margin.bottom;

// append the svg object to the body of the page
const svg = d3.select("#my_dataviz")
.append("svg")
      .style("overflow", "scroll")
      .style("-webkit-overflow-scrolling", "touch")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
.append("g")
  .attr("transform",
        `translate(${margin.left}, ${margin.top})`);

d3.json("{% url 'blog:get_articles_asso_d3_network' asso_abreviation=asso_abreviation %}")
.then(function(data) {

  // Initialize the links
  const link = svg
    .selectAll("line")
    .data(data.links)
    .join("line")
      .style("stroke", "#aaa")

  // Initialize the nodes
  const nodes = svg
    .selectAll("g")
    .data(data.nodes)
    .join("g");

  nodes.append("circle")
      .attr("r", 20)
      .style("fill", "#69b3a2")

  //nodes.append("text")
   // .attr("text-anchor", "middle")
   // .attr("alignment-baseline", "middle")
  //  .text(d => d.name)


 const simulation = d3.forceSimulation(data.nodes)                 // Force algorithm is applied to data.nodes
      .force("link", d3.forceLink()                               // This force provides links between nodes
            .id(function(d) { return d.id; })                     // This provide  the id of a node
            .links(data.links)                                    // and this the list of links
      )
      .force("charge", d3.forceManyBody().strength(-400))         // This adds repulsion between nodes. Play with the -400 for the repulsion strength
      .force("center", d3.forceCenter(width / 2, height / 2))     // This force attracts nodes to the center of the svg area
      .on("end", ticked);

  // This function is run at each iteration of the force algorithm, updating the nodes position.
  function ticked() {
    link
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    nodes.attr("transform", d => `translate(${d.x+6},${d.y-6})`);
  }

}).catch(function(error) {
    console.warn(error)
  });

</script>
{% endblock %}

    
