{% extends 'blog/base_blog2.html' %}
{% load carto_filters %}
{% load static %}
{% block header%}
{% endblock %}
{% block title %} - Visualisation Forum{% endblock %}
{% block subtitle %}
<div class="anchor_blank" id="ref-titre"></div>
<div class="row textcenter">
  <div class="col-sm-12 textcenter">
  </div>
</div>
{% endblock %}
{% block content %}

<div class="row justify-content-center">
  <div class="col-md-12 overflow-auto" id="graph">
      <div id="my_dataviz"></div>
</div>
</div>

<hr>
<h6 class="textcenter">Noeud cliqué : </h6>
<div class="row justify-content-center">
  <div class="col-sm-12 col-md-10 col-lg-8" >
      <div id="lien" class="textcenter"><a href=""></a></div>
  </div>
</div>
<hr>
<h6 class="textcenter">Accéder à un article par son titre :</h6>
<div class="row justify-content-center">
  <div class="col-sm-12 col-md-10 col-lg-8" >
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row justify-content-center">
                    <div class="col-sm-10 textcenter" style="padding-right:0;">
                        {% include 'form_template2.html' with form=form_article_recherche %}
                    </div>

                    <div class="col-sm-2 textcenter" style="padding-left:0;">
                        <button class="btn btn-success my-2 my-sm-0" type="submit" data-toggle="tooltip"
                        data-placement="bottom" title="Lire">Lire</button>
                    </div>
                </div>
            </form>
  </div>
</div>

<script type="text/javascript" src="{% static 'd3/d3.v7.min.js' %}"  charset="utf-8"></script>

      <script type="text/javascript">

d3.json("{% url 'blog:get_articles_asso_d3_network_dossier' asso_abreviation=asso_abreviation %}")
.then(function(data) {// Specify the dimensions of the chart.
  const width = 928;
  const height = 600;

console.log(data)

// -1- Create a tooltip div that is hidden by default:
  const tooltip = d3.select("#my_dataviz")
    .append("div")
      .style("opacity", 0)
      .attr("class", "tooltip")
      .style("background-color", "black")
      .style("border-radius", "5px")
      .style("padding", "10px")
      .style("color", "white")

  // -2- Create 3 functions to show / update (when mouse move but stay on same circle) / hide the tooltip
  const showTooltip = function(event, d) {
    tooltip
      .transition()
      .duration(200);
    tooltip
      .style("opacity", 1)
      .html(d.name)
      .style("left", (event.x)/2 + "px")
      .style("top", (event.y)/2+30 + "px");
  }
  const moveTooltip = function(event, d) {
    tooltip
      .style("left", (event.x)/2 + "px")
      .style("top", (event.y)/2+30 + "px");
  }
  const hideTooltip = function(event, d) {
    tooltip
      .transition()
      .duration(200)
      .style("opacity", 0);
  }

  // Specify the color scale.
  const color = d3.scaleOrdinal(d3.schemeCategory10);

  // The force simulation mutates links and nodes, so create a copy
  // so that re-evaluating this cell produces the same result.
  const links = data.links.map(d => ({...d}));
  const nodes = data.nodes.map(d => ({...d}));

  // Create a simulation with several forces.
  const simulation = d3.forceSimulation(nodes)
      .force("link", d3.forceLink(links).id(d => d.id))
      .force("charge", d3.forceManyBody())
      .force("center", d3.forceCenter(width / 2, height / 2))
      .on("tick", ticked);

  // Create the SVG container.
  const svg = d3.select("#my_dataviz")
      .style("overflow", "scroll")
      .style("-webkit-overflow-scrolling", "touch")
      .append("svg")
      .attr("width", width)
      .attr("height", height)
      .attr("viewBox", [0, 0, width, height])
      .attr("style", "max-width: 100%; height: auto;");

  // Add a line for each link, and a circle for each node.
  const link = svg.append("g")
      .attr("stroke", "#999")
      .attr("stroke-opacity", 0.6)
    .selectAll()
    .data(links)
    .join("line")
      .attr("stroke-width", d => Math.sqrt(d.value));

  const node = svg.append("g")
      .attr("stroke", "#fff")
      .attr("stroke-width", 1.5)
    .selectAll()
    .data(nodes)
    .join("circle")
      .attr("r", d => d.rayon)
      .attr("fill", d => color(d.group))
      .attr("xlink:href", function(d) {return d.url});

node.on("mouseover", showTooltip )
    .on("mousemove", moveTooltip )
    .on("mouseleave", hideTooltip );

node.on("click", function(event, d) {
    d3.select("#lien")
      .select("a")
       .attr("href", d.url)
      .html(d.name)
    });


  // Add a drag behavior.
  node.call(d3.drag()
        .on("start", dragstarted)
        .on("drag", dragged)
        .on("end", dragended));

  // Set the position attributes of links and nodes each time the simulation ticks.
  function ticked() {
    link
        .attr("x1", d => d.source.x)
        .attr("y1", d => d.source.y)
        .attr("x2", d => d.target.x)
        .attr("y2", d => d.target.y);

    node
        .attr("cx", d => d.x)
        .attr("cy", d => d.y);
  }

  // Reheat the simulation when drag starts, and fix the subject position.
  function dragstarted(event) {
    if (!event.active) simulation.alphaTarget(0.3).restart();
    event.subject.fx = event.subject.x;
    event.subject.fy = event.subject.y;
  }

  // Update the subject (dragged node) position during drag.
  function dragged(event) {
    event.subject.fx = event.x;
    event.subject.fy = event.y;
  }

  // Restore the target alpha so the simulation cools after dragging ends.
  // Unfix the subject position now that it’s no longer being dragged.
  function dragended(event) {
    if (!event.active) simulation.alphaTarget(0);
    event.subject.fx = null;
    event.subject.fy = null;
  }

  return svg.node();
}).catch(function(error) {
    console.warn(error)
  });

</script>
{% endblock %}

    
