{% extends 'blog/base_blog2.html' %}
{% load carto_filters %}
{% load static %}
{% block header%}
{% endblock %}
{% block title %} - Visualisation Forum{% endblock %}
{% block subtitle %}
<div class="anchor_blank" id="ref-titre"></div>
<div class="row textcenter">
  <div class="col-sm-12 textcenter">
      <h5>Visualisation des articles du forum par Dossier</h5>
  </div>
</div>
{% endblock %}
{% block content %}

<div class="row justify-content-center overflow-auto">
  <div class="col-md-12 overflow-auto" id="graph">
      <div id="my_dataviz"></div>
</div>
</div>

<style>
    .article_epingle{font-weight: bold;}
</style>

<script type="text/javascript" src="{% static 'd3/d3.v7.min.js' %}"  charset="utf-8"></script>

      <script type="text/javascript">

{% block json_source %}
d3.json("{% url 'blog:get_articles_asso_d3_hierar_dossier' asso_abreviation=asso_abreviation %}")
.then(function(data) {// Specify the dimensions of the chart.
{% endblock  %}

const { innerWidth, innerHeight } = window;
const w = innerWidth * 0.7;
const h = innerHeight * 0.7;
// Specify the dimensions of the chart.
const format = d3.format(",");
  const width = w < 900 ? 900 : w;
  const nodeSize = 20;
  const root = d3.hierarchy(data).eachBefore((i => d => d.index = i++)(0));
  const nodes = root.descendants();
  const height = (nodes.length + 1) * nodeSize;

  const columns = [
    {
      label: "Commentaires",
      value: d => d.nb_comm,
      format: (value, d) => d.value == 0 ? format(value) : "-",
      x: width-60
    }
  ];

  const svg = d3.select("#my_dataviz")
      .style("overflow", "auto")
      .style("-webkit-overflow-scrolling", "auto").append("svg")
      .attr("width", width)
      .attr("height", height)
      .attr("viewBox", [-nodeSize / 2, -nodeSize * 3 / 2, width, height])
      .attr("style", "max-width: 100%; height: auto; font: 10px sans-serif; overflow: visible;");

  const link = svg.append("g")
      .attr("fill", "none")
      .attr("stroke", "#999")
    .selectAll()
    .data(root.links())
    .join("path")
      .attr("d", d => `
        M${d.source.depth * nodeSize},${d.source.index * nodeSize}
        V${d.target.index * nodeSize}
        h${nodeSize}
      `);


  const node = svg.append("g")
    .selectAll()
    .data(nodes)
    .join("g")
      .attr("transform", d => `translate(0,${d.index * nodeSize})`);

  node.append("circle")
      .attr("cx", d => d.depth * nodeSize)
      .attr("r", 3)
      .attr("fill", d => d.data.couleur)
      .attr("class", d => d.data.type);

  node.append("text")
      .attr("dy", "0.32em")
      .attr("x", d => d.depth * nodeSize + 6)
      .attr("class", d => d.data.type)
       .append("svg:a").attr("xlink:href", d => d.data.url)
      .text(d => d.data.name);

  node.append("title")
      .text(d => d.ancestors().reverse().map(d => d.data.name).join("/"));

  for (const {label, value, x} of columns) {
    svg.append("text")
        .attr("dy", "0.32em")
        .attr("y", -nodeSize)
        .attr("x", x)
        .attr("text-anchor", "end")
        .attr("font-weight", "bold")
        .text(label);

    node.append("text")
        .attr("dy", "0.32em")
        .attr("x", x)
        .attr("text-anchor", "end")
        .attr("fill", d => d.children ? null : "#555")
      .data(root.copy().sum(value).descendants())
        .text(d => format(d.value, d));
  }

}).catch(function(error) {
    console.warn(error)
  });

</script>
{% endblock %}

    
