{% load i18n %}
{% load static %}
{% load theme %}


<nav class="layout-navbar {{container_class}} navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
  {% if not navbar_hide_toggle %}
  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
    <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
      <i class="icon-base bx bx-menu icon-md"></i>
    </a>
  </div>
  {% endif %}
  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

  {% comment %}
    <!-- Search -->
    <div class="navbar-nav align-items-center">
      <div class="nav-item d-flex align-items-center">
        <i class="icon-base bx bx-search icon-22px"></i>
        <input type="text" class="form-control border-0 shadow-none ps-1 ps-sm-2" placeholder="Search..." aria-label="Search...">
      </div>
    </div>
    <!-- /Search -->
  {% endcomment %}

    <ul class="navbar-nav flex-row align-items-center ms-auto">
      <!-- Place this tag where you want the button to render. -->
      <li class="nav-item lh-1 me-4">
        <a class="dropdown-toggle p-0" href="javascript:void(0);" data-bs-toggle="dropdown"><i class="fa fa-star"></i>Favoris</a>
        <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="{% url 'mesFavoris' %}">{% translate 'Gérer mes favoris' %}</a></li>

          {% for fav in favoris_list %}
              <li><a class="dropdown-item" href="{{fav.url}}"> {{fav.nom}}</a></li>
          {% endfor %}
        </ul>
      </li>

      <!-- User -->
      <li class="nav-item navbar-dropdown dropdown-user dropdown">
        <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
          <div class="avatar avatar-online">
            <img src="{% static 'dashboard/assets/img/avatars/1.png' %}" alt class="rounded-circle" />
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar avatar-online">
                    <img src="{% static 'dashboard/assets/img/avatars/1.png' %}" alt class="w-px-40 h-auto rounded-circle" />
                  </div>
                </div>
                <div class="flex-grow-1">
                  <h6 class="mb-0">{{request.user.username}}</h6>
                </div>
              </div>
          </li>
          <li>
            <div class="dropdown-divider my-1"></div>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'profil_courant' %}"> <i class="icon-base bx bx-user icon-md me-3"></i><span>Mon Profil</span> </a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'mesSuivis' %}"> <i class="icon-base bx bx-cog icon-md me-3"></i><span>Mes abonnements / suivis</span> </a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'mesActions' %}"> <i class="icon-base bx bx-cog icon-md me-3"></i><span>Mon historique</span> </a>
          </li>
          <li>
            <div class="dropdown-divider my-1"></div>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'logout' %}"> <i class="icon-base bx bx-power-off icon-md me-3"></i><span>Déconnexion</span> </a>
          </li>
        </ul>
      </li>
      <!--/ User -->
    </ul>
  </div>
</nav>
