{% spaceless %}
{% load static %}
{% load theme %}
<!DOCTYPE html>
<html lang="fr" class="layout-menu-fixed layout-compact layout-menu-collapsed"  data-assets-path="{% static 'dashboard/assets/' %}"  data-framework="django" data-template="vertical-menu"><head>
    <title>{% block title %}{% endblock %} Perma.Cat</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <!-- Add Meta -->
  <!-- remove while creating package  -->
  <!-- Og Meta -->
  <meta name="robots" content="noindex, nofollow" />
  {% comment %}
  <meta name="description" content="{% get_theme_variables 'template_description' %}" />
  <meta name="keywords" content="{% get_theme_variables 'template_keyword' %}" />
  <meta property="og:url" content="{% get_theme_variables 'product_page' %}" />
  <meta property="og:image" content="{% get_theme_variables 'og_image' %}" />
  <meta property="og:description" content="{{ template_description }}" />
  <meta property="og:site_name" content="{{ creator_name }}" />
  <!-- Canonical SEO -->
  <link rel="canonical" href="{% get_theme_variables 'product_page' %}">
  <!-- remove while creating package end  -->
  <!-- Include the styles partial -->
  {% include "layout/partials/styles.html" %}
  {% include "layout/partials/scripts_includes.html" %}

  dans body :
  {% include is_front|yesno:"./partials/scripts_front.html,./partials/scripts.html" %}
  {% endcomment %}
  <meta property="og:title" content="{% get_theme_variables 'og_title' %}" />
  <meta property="og:type" content="{% get_theme_variables 'og_type' %}" />

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />

  {% include "layout/partials/styles.html" %}

  {% block vendor_css %}{% endblock vendor_css %}

  <!--Page CSS-->
  {% block page_css %}{% endblock page_css %}


  {% block header %}{% endblock header %}
  <!-- Include the scripts partial (required ) -->
  {% include "layout/partials/scripts_includes.html" %}

</head>

<body>
  <!-- beautify ignore:end -->

  {% block layout %}
  {% endblock layout %}

  {% include "layout/partials/scripts.html" %}

  <!--Vendors Javascript-->
  {% block vendor_js %} {% endblock vendor_js %}

  <!--Page Javascript-->
  {% block page_js %} {% endblock page_js %}

  {% block script %} {% endblock script %}
  {% block scriptblock %} {% endblock %}
</body>
<footer class="content-footer footer bg-footer-theme">
  <div class="container-fluid">
    <div class="{% block  footerclass %}footer-container {% endblock %} align-items-center justify-content-center ">
      {% block footer_block %} {% endblock footer_block %}
    <p class="textcenter"><a href="#top" id="scroll-to-top" class="btn"><i class="fa fa-angle-up"></i></a></p>
    <p class="textcenter textepetit">&copy; PermaCat; {% now 'd/m/Y' %}</p>
    </div>
  </div>
</footer>
</html>
{% endspaceless %}