{% load static %}
{% load cookielaw_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>PermAgora Catalane - Présentation</title>
  <meta name="description" content="Présentation de l'association PermAgora Catalane">
  <meta name="keywords" content="permaculture,66,jardins,permagora">

  <!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'permagora/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'permagora/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'permagora/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'permagora/site.webmanifest '%}">
<link rel="mask-icon" href="{% static 'permagora/safari-pinned-tab.svg' %}" color="#78d55b">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="msapplication-TileImage" content="{% static 'permagora/mstile-144x144.png' %}">
<meta name="theme-color" content="#ffc40d">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'permagorapresentation/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'permagorapresentation/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'permagorapresentation/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'permagorapresentation/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'permagorapresentation/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'permagorapresentation/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Yummy
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

      <a href="#intro" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{% static 'permagora/favicon-32x32.png' %}" alt="">
        <h1 class="sitename">PermAgora </h1> <span>Catalane</span>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#intro" class="active">Accueil<br></a></li>
          <li><a href="#historique">Historique</a></li>
          <li><a href="#valeurs">Nos Valeurs</a></li>
          <li><a href="#branches">Branches</a></li>
          <li><a href="#lequipe">L'équipe</a></li>
          <li><a href="#photos">Photos</a></li>
          <li class="dropdown"><a href="#"><span>Projets en cours</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <!--li><a href="#">projet1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li-->
              <li><a href="{% url 'bienvenue' %}">Perma.Cat</a></li>
              <li><a href="{% url 'jardins:accueil' %}">Jardinothèque</a></li>
              <li><a href="{% url 'ducepaujus:accueil_ducepaujus' %}">Du Cep au Jus</a></li>
              <li><a href="https://tinyurl.com/mu9kw47n">Carte broyat</a></li>
              <li><a href="{% url 'agora:acceuil' %}">Agora de la transition</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <!--a class="btn-getstarted" href="index.html#book-a-table">Book a Table</a-->

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="intro" class="hero section light-background">

      <div class="container">
        <div class="row gy-4 justify-content-center justify-content-lg-between">
          <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up">Préserver les équilibres du Vivant</h1>
            <p data-aos="fade-up" data-aos-delay="100">L'association PermAgora Catalane propose un cadre collectif en gouvernance partagée afin de fournir une structure aux projets de transition de notre territoire</p>
            <!--div class="d-flex" data-aos="fade-up" data-aos-delay="200">

              <a href="#book-a-table" class="btn-get-started">Book a Table</a>
              <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
            </div-->
          </div>
          <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
            <img src="{% static 'permagorapresentation/photos/vue2_resized.jpeg' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="historique" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Historique<br></h2>
        <p><span>petit retour</span> <span class="description-title">sur nos actions</span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'permagorapresentation/photos/spirale.jpg' %}" class="img-fluid mb-4" alt="">
            <!--div class="book-a-table">
              <h3>Book a Table</h3>
              <p>+1 5589 55488 55</p>
            </div-->
          </div>
          <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
               Le collectif a demarré en 2021 en vue de créer une structure porteuse d'un projet d'écovillage. Pour arriver à mettre en oeuvre un tel projet, nous avons décidé d'agir pas à pas, en commençant par travailler ensemble sur des solutions concrètes pour s'adapter aux problématiques d'aujourd'hui et de demain (changement climatique, préservation du vivant et du vivre ensemble). Ceci dans l'espoir d'aider à la création de synergies, de coopérations et in fine de faire de notre département un grand écovillage ;)
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> <span>Accompagnement d'un réseau de jardins partagés</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Formations et conférences</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Ateliers participatifs</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Coopération avec d'autres associations (La Belle Vie, Ramène Ta Graine, PermaCat, TRAM66, ...) </span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Organisation de l'Agora de la Transition et d'espaces de coopération</span></li>
              </ul>

              <!--ul>
                <li><i class="bi bi-check-circle-fill"></i> <span>Équivalence: chacun a la même valeur</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Volonté individuelle et collective de "faire avancer le groupe"</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Énergie constructive, de co-création, de coopération de co-construction</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Joie, légèreté et liberté</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Clarté et simplicité</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Confidentialité</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Bienveillance pour soi, pour l'autre, et pour le groupe</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Authenticité et respect</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Prendre toute sa place et sa "juste place"</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Servir l'objectif du groupe</span></li>
              </ul-->
              <!--p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
              </p-->

              <!--div class="position-relative mt-4">
                <img src="{% static 'permagorapresentation/img/about-2.jpg' %}" class="img-fluid" alt="">
                <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
              </div-->
            </div>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Why Us Section -->
    <section id="valeurs" class="why-us section light-background">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="why-box">
              <h3>Nos Valeurs</h3>
              <p>
              L'association vise à construire des agro-écosystèmes sociaux résilients et abondants, où la coopération remplace la compétition, et où chaque membre est à la fois un contributeur et un bénéficiaire. Elle est un terreau fertile pour le développement d'une communauté consciente, autonome et solidaire
              </p>
              <!--div class="text-center">
                <a href="#" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
              </div-->
            </div>
          </div>

          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="row" data-aos="fade-up" data-aos-delay="200">
              <div class="col-xl-4">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <h4>Équivalence: chacun a la même valeur</h4>
                </div>
              </div>
              <div class="col-xl-4">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <h4>Volonté individuelle et collective de "faire avancer le groupe"</h4>
                </div>
              </div>
              <div class="col-xl-4" >
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <h4>Énergie constructive, de co-création, de coopération de co-construction</h4>
                </div>
              </div>
              <div class="col-xl-4">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <h4>Joie, légèreté et liberté</h4>
                </div>
              </div>
              <div class="col-xl-4">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <h4>Clarté et simplicité</h4>
                </div>
              </div>
              <div class="col-xl-4">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <h4>Confidentialité, Authenticité et Respect</h4>
                </div>
              </div>
              <div class="col-xl-4">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <h4>Bienveillance pour soi, pour l'autre, et pour le groupe</h4>
                </div>
              </div>
              <div class="col-xl-4">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <h4>Prendre toute sa place et sa "juste place"</h4>
                </div>
              </div>
              <div class="col-xl-4">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <h4>Servir l'objectif du groupe</h4>
                </div>
              </div>

              <!--div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-gem"></i>
                  <h4>Ullamco laboris ladore lore pan</h4>
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                </div>
              </div>
              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-inboxes"></i>
                  <h4>Labore consequatur incidid dolore</h4>
                  <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                </div>
              </div-->
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Why Us Section -->

    <!-- Stats Section -->
    <!--section id="statistics" class="stats section dark-background">

      <img src="{% static 'permagorapresentation/img/stats-bg.jpg' %}" alt="" data-aos="fade-in">

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
              <p>Workers</p>
            </div>
          </div>

        </div>

      </div>

    </section--><!-- /Stats Section -->

    <!-- Menu Section -->
    <section id="branches" class="menu section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Les branches d'activité</h2>
        <p><span>Nos différents</span> <span class="description-title">Axes de travail</span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">

          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
              <h4>Jardins</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
              <h4>Éducation</h4>
            </a><!-- End tab nav item -->

          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
              <h4>Labo d'idées</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
              <h4>Évènements</h4>
            </a>
          </li><!-- End tab nav item -->

        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

          <div class="tab-pane fade active show" id="menu-starters">

            <div class="tab-header text-center">
              <p>Développer l'agroécologie sur le territoire</p>
              <h3>Jardins</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="{% static 'permagorapresentation/photos/jardin_resized.jpg' %}" class="glightbox"><img src="{% static 'permagorapresentation/photos/jardin_resized.jpg' %}" class="menu-img img-fluid" alt=""></a>
                <h4>Jardins Partagés</h4>
                <p class="ingredients">
                  Accompagnement à la création de jardins partagés avec comme base les principes de la Permaculture.
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="{% static 'permagorapresentation/photos/adeline_resized.jpg' %}" class="glightbox"><img src="{% static 'permagorapresentation/photos/adeline_resized.jpg' %}" class="menu-img img-fluid" alt=""></a>
                <h4>Formations</h4>
                <p class="ingredients">
nous proposons des modules de formation, pour le jardin et les humains, pour des jardins privés, partagés, ou communaux...
                </p>
                <!--p class="price">
                  $14.95
                </p-->
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="{% static 'permagorapresentation/photos/atelier_resized.jpg' %}" class="glightbox"><img src="{% static 'permagorapresentation/photos/atelier_resized.jpg' %}" class="menu-img img-fluid" alt=""></a>
                <h4>Connecter les communautés</h4>
                <p class="ingredients">
                  Mise à disposition d’outils numériques : jardinothèque (cartographie pour des échanges d'informations, de plantes et de graines),
                  forum de discussion, carte de récupération de broyat afin d’intégrer un réseau de jardiniers...
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Starter Menu Content -->

          <div class="tab-pane fade" id="menu-breakfast">
                <!--a href="{% static 'permagorapresentation/photos/atelier_resized.jpg' %}" class="glightbox"><img src="{% static 'permagorapresentation/photos/atelier_resized.jpg' %}" class="menu-img img-fluid" alt=""></a-->
            <div class="tab-header text-center">
              <p>Interventions de la crèche à l'université</p>
              <h3>Éducation</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="{% static 'permagorapresentation/photos/jardins2_resized.jpg' %}" class="glightbox"><img src="{% static 'permagorapresentation/photos/cris_resized.jpg' %}" class="menu-img img-fluid" alt=""></a>
                <h4>Ateliers participatifs</h4>
                <p class="ingredients">
                  Cycle « De la graine à l’assiette », ateliers de permaculture...
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="{% static 'permagorapresentation/photos/adeline_resized.jpg' %}" class="glightbox"><img src="{% static 'permagorapresentation/photos/adeline_resized.jpg' %}" class="menu-img img-fluid" alt=""></a>
                <h4>Permaculture humaine</h4>
                <p class="ingredients">
                  Arbre à palabres, justice restaurative, jeux coopératifs...
                  Formation à la communication relationelle
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="{% static 'permagorapresentation/photos/cris_resized.jpg' %}" class="glightbox"><img src="{% static 'permagorapresentation/photos/cris_resized.jpg' %}" class="menu-img img-fluid" alt=""></a>
                <h4>Compostage</h4>
                <p class="ingredients">
                  Formation pour appprendre à composter ses déchets
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="{% static 'permagorapresentation/photos/abeilles3_resized.jpg' %}" class="glightbox"><img src="{% static 'permagorapresentation/photos/abeilles3_resized.jpg' %}" class="menu-img img-fluid" alt=""></a>
                <h4>Projets autour des abeilles</h4>
                <p class="ingredients">
                  Ruches de biodiversité, rucher communal...
                </p>
              </div><!-- Menu Item -->
            </div>
          </div><!-- End Breakfast Menu Content -->

          <div class="tab-pane fade" id="menu-lunch">
            <div class="tab-header text-center">
              <p>Développer ses projets en lien avec le vivant</p>
              <h3>Labo d'idées</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="{% static 'permagorapresentation/atelier_resized.jpg' %}" class="glightbox"><img src="{% static 'permagorapresentation/atelier_resized.jpg' %}" class="menu-img img-fluid" alt=""></a>
                <h4>Coopération et intelligence collective</h4>
                <p class="ingredients">
De façon autonome ou en coopération avec l’équipe, en utilisant des outils de l’intelligence collective et de la Gouvernance Partagée.
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="{% static 'permagorapresentation/photos/plateforme.jpg' %}" class="glightbox"><img src="{% static 'permagorapresentation/photos/plateforme.jpg' %}" class="menu-img img-fluid" alt=""></a>
                <h4>Plateforme web collaborative</h4>
                <p class="ingredients">
                  Un outil de travail gratuit, inter et intra-collectifs : forum de discussion, annuaire, gestion des adhésions, partage de documents, agenda, etc...
                </p>
              </div><!-- Menu Item -->


              <div class="col-lg-4 menu-item">
                <a href="{% static 'permagorapresentation/photos/solaire_resized.jpg' %}" class="glightbox"><img src="{% static 'permagorapresentation/photos/solaire_resized.jpg' %}" class="menu-img img-fluid" alt=""></a>
                <h4>Recherche-action / éducation populaire</h4>
                <p class="ingredients">
                    Nous proposons une approche populaire de partage des connaissance, en s'inscrivant dans une démarche d'innovation sociale par des actions et des réflexions collectives
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Lunch Menu Content -->

          <div class="tab-pane fade" id="menu-dinner">

            <div class="tab-header text-center">
              <p>Participer à des moments d'échange publics</p>
              <h3>Évènements</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="{% static 'permagorapresentation/photos/Eloi_resized.jpg' %}" class="glightbox"><img src="{% static 'permagorapresentation/photos/Eloi_resized.jpg' %}" class="menu-img img-fluid" alt=""></a>
                <h4>Conférences</h4>
                <p class="ingredients">
                  Nous proposons des conférences/débats : Permaculture, la multiplication
des plantes, les monnaies, le changement climatique, la Sécurité Sociale de l’Alimentation, l’intelligence collective, entre autre...
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="{% static 'permagorapresentation/photos/evenement_resized.jpg' %}" class="glightbox"><img src="{% static 'permagorapresentation/photos/evenement_resized.jpg' %}" class="menu-img img-fluid" alt=""></a>
                <h4>Participation aux evenements locaux</h4>
                <p class="ingredients">
                  Éco festivals, Aravia, Forum des assos, etc.
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="{% static 'permagorapresentation/photos/agora_resized.jpg' %}" class="glightbox"><img src="{% static 'permagorapresentation/photos/agora_resized.jpg' %}" class="menu-img img-fluid" alt=""></a>
                <h4>Agora de la Transition</h4>
                <p class="ingredients">
                  Nous avons organisé l’Agora de la Transition, et nous voulons récidiver !
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Dinner Menu Content -->

        </div>

      </div>

    </section><!-- /Menu Section -->

    <!-- Testimonials Section -->
    <!--section id="testimonials" class="testimonials section light-background">

      <div class="container section-title" data-aos="fade-up">
        <h2>TESTIMONIALS</h2>
        <p>What Are They <span class="description-title">Saying About Us</span></p>
      </div>

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Saul Goodman</h3>
                      <h4>Ceo &amp; Founder</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="{% static 'permagorapresentation/img/testimonials/testimonials-1.jpg' %}" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Sara Wilsson</h3>
                      <h4>Designer</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="{% static 'permagorapresentation/img/testimonials/testimonials-2.jpg' %}" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Jena Karlis</h3>
                      <h4>Store Owner</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="{% static 'permagorapresentation/img/testimonials/testimonials-3.jpg' %}" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>John Larson</h3>
                      <h4>Entrepreneur</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="{% static 'permagorapresentation/img/testimonials/testimonials-4.jpg' %}" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section--><!-- /Testimonials Section -->

    <!-- Events Section -->
    <!--section id="events" class="events section">

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 1
                }
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: {% static 'permagorapresentation/img/events-1.jpg' %}">
              <h3>Custom Parties</h3>
              <div class="price align-self-start">$99</div>
              <p class="description">
                Quo corporis voluptas ea ad. Consectetur inventore sapiente ipsum voluptas eos omnis facere. Enim facilis veritatis id est rem repudiandae nulla expedita quas.
              </p>
            </div>

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: {% static 'permagorapresentation/img/events-2.jpg' %}">
              <h3>Private Parties</h3>
              <div class="price align-self-start">$289</div>
              <p class="description">
                In delectus sint qui et enim. Et ab repudiandae inventore quaerat doloribus. Facere nemo vero est ut dolores ea assumenda et. Delectus saepe accusamus aspernatur.
              </p>
            </div>

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: {% static 'permagorapresentation/img/events-3.jpg' %}">
              <h3>Birthday Parties</h3>
              <div class="price align-self-start">$499</div>
              <p class="description">
                Laborum aperiam atque omnis minus omnis est qui assumenda quos. Quis id sit quibusdam. Esse quisquam ducimus officia ipsum ut quibusdam maxime. Non enim perspiciatis.
              </p>
            </div>

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: {% static 'permagorapresentation/img/events-4.jpg' %}">
              <h3>Wedding Parties</h3>
              <div class="price align-self-start">$899</div>
              <p class="description">
                Laborum aperiam atque omnis minus omnis est qui assumenda quos. Quis id sit quibusdam. Esse quisquam ducimus officia ipsum ut quibusdam maxime. Non enim perspiciatis.
              </p>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section--><!-- /Events Section -->

    <!-- Chefs Section -->
    <section id="lequipe" class="chefs section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>L'équipe</h2>
        <p><span>Nos</span> <span class="description-title">membres actifs<br></span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'permagorapresentation/img/chefs/chefs-1.jpg' %}" class="img-fluid" alt="">
                <!--div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div-->

                <div class="social">
                  <a href=""><i class="bi bi-sunrise"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Florent Felix</h4>
                <span>Happyculteur</span>
                <p> Module de formation sur les pollinisateurs et les abeilles au jardin.</p>
                  <ul>
<li>"A l'école des abeilles": Projet adaptable sur les abeilles: De la matinée d'information à la construction et l'installation de ruches ( avec les écoles / collèges/ Lycées )</li>
 <li>"Du cep au jus": De la taille au jus de raisin, création d'un collectif autour de la vigne avec un Esat.</li>
 <li>Accompagnement des projets / lien avec les associations à vocation sociale.</li>
                </ul>
              </div>
            </div>
          </div><!-- End Chef Team Member -->

          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'permagorapresentation/img/chefs/chefs-2.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-sunrise"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Pascale Rusig</h4>
                <span>Administratrice</span>
                <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis. Voluptate sed quas reiciendis animi neque sapiente.</p>
              </div>
            </div>
          </div><!-- End Chef Team Member -->

          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'permagorapresentation/img/chefs/chefs-3.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-sunrise"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Christophe Cloarec</h4>
                <span>Jardinier forestier</span>
                <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut architecto porro aspernatur molestiae modi.</p>
              </div>
            </div>
          </div><!-- End Chef Team Member -->

          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'permagorapresentation/img/chefs/chefs-3.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-sunrise"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Catherine Vinas</h4>
                <span>Chercheuse en vie meilleure</span>
                <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut architecto porro aspernatur molestiae modi.</p>
              </div>
            </div>
          </div><!-- End Chef Team Member -->

          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'permagorapresentation/img/chefs/chefs-2.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-sunrise"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Eloi Grau</h4>
                <span>Paysan chercheur</span>
                <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut architecto porro aspernatur molestiae modi.</p>
              </div>
            </div>
          </div><!-- End Chef Team Member -->

          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'permagorapresentation/img/chefs/chefs-1.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-sunrise"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Adeline Olives</h4>
                <span>Animatrice permaculturelle</span>
                <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut architecto porro aspernatur molestiae modi.</p>
              </div>
            </div>
          </div><!-- End Chef Team Member -->

        </div>

      </div>

    </section><!-- /Chefs Section -->

    <!-- Book A Table Section -->
    <!--section id="book-a-table" class="book-a-table section">

      <div class="container section-title" data-aos="fade-up">
        <h2>Book A Table</h2>
        <p><span>Book Your</span> <span class="description-title">Stay With Us<br></span></p>
      </div>

      <div class="container">

        <div class="row g-0" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 reservation-img" style="background-image: url(assets/img/reservation.jpg' %});"></div>

          <div class="col-lg-8 d-flex align-items-center reservation-form-bg" data-aos="fade-up" data-aos-delay="200">
            <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form">
              <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="date" name="date" class="form-control" id="date" placeholder="Date" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="time" class="form-control" name="time" id="time" placeholder="Time" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="number" class="form-control" name="people" id="people" placeholder="# of people" required="">
                </div>
              </div>

              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
              </div>

              <div class="text-center mt-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
                <button type="submit">Book a Table</button>
              </div>
            </form>
          </div>

        </div>

      </div>

    </section--><!-- /Book A Table Section -->

    <!-- Gallery Section -->
    <section id="photos" class="gallery section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Photos</h2>
        <p><span>Quelques</span> <span class="description-title">Souvenirs</span></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "centeredSlides": true,
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 0
                },
                "768": {
                  "slidesPerView": 3,
                  "spaceBetween": 20
                },
                "1200": {
                  "slidesPerView": 5,
                  "spaceBetween": 20
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'permagorapresentation/photos/adeline_resized.jpg' %}"><img src="{% static 'permagorapresentation/photos/adeline_resized.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'permagorapresentation/photos/atelier_resized.jpg' %}"><img src="{% static 'permagorapresentation/photos/atelier_resized.jpg' %}" class="img-fluid" alt=""></a></div>
           <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'permagorapresentation/photos/cris_resized.jpg' %}"><img src="{% static 'permagorapresentation/photos/cris_resized.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'permagorapresentation/photos/Eloi_resized.jpg' %}"><img src="{% static 'permagorapresentation/photos/Eloi_resized.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'permagorapresentation/photos/fleurs_resized.jpg' %}"><img src="{% static 'permagorapresentation/photos/fleurs_resized.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'permagorapresentation/photos/jardin_resized.jpg' %}"><img src="{% static 'permagorapresentation/photos/jardin_resized.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'permagorapresentation/photos/solaire_resized.jpg' %}"><img src="{% static 'permagorapresentation/photos/solaire_resized.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'permagorapresentation/photos/spirale.jpg' %}"><img src="{% static 'permagorapresentation/photos/spirale.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'permagorapresentation/photos/stand_resized.jpg' %}"><img src="{% static 'permagorapresentation/photos/stand_resized.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'permagorapresentation/photos/vigne8_resized.jpeg' %}"><img src="{% static 'permagorapresentation/photos/vigne8_resized.jpeg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'permagorapresentation/photos/vue1_resized.jpeg' %}"><img src="{% static 'permagorapresentation/photos/vue1_resized.jpeg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'permagorapresentation/photos/vue2_resized.jpeg' %}"><img src="{% static 'permagorapresentation/photos/vue2_resized.jpeg' %}" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Gallery Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>Contact</h2>
        <p><span>Une question ? Vous voulez nous rejoindre ?</span> <span class="description-title">permagora@perma.cat</span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <!--div class="mb-5">
          <iframe style="width: 100%; height: 400px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen=""></iframe>
        </div--><!-- End Google Maps -->

        <!--div class="row gy-4">

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
              <i class="icon bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="300">
              <i class="icon bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+1 5589 55488 55</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="400">
              <i class="icon bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>info@example.com</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="500">
              <i class="icon bi bi-clock flex-shrink-0"></i>
              <div>
                <h3>Opening Hours<br></h3>
                <p><strong>Mon-Sat:</strong> 11AM - 23PM; <strong>Sunday:</strong> Closed</p>
              </div>
            </div>
          </div>

        </div-->

        <form action="" method="post" class="php-email-form">
              {% csrf_token %}
          <div class="row gy-4">

            <div class="col-md-6">
                                        <input name="nom" type="text" class="form-control"
                                               id="id_nom" placeholder="Nom" required=""  {% if not request.user.is_anonymous %}value="{{request.user.username}}"{% endif %}/>
            </div>

            <div class="col-md-6 ">
                                        <input name="email" type="text" class="form-control"
                                               id="id_email" placeholder="Email" required=""  {% if not request.user.is_anonymous %}value="{{request.user.email}}"{% endif %}/>
            </div>


            <div class="col-md-12">
                        <textarea name="msg" rows="6" class="form-control"
                                  id="id_msg" placeholder="Message" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Chargement</div>
              <div class="error-message"></div>
              <div class="sent-message">Votre message a bien été envoyé, merci !</div>
              {% if request.user.is_anonymous %}
                                    <div class="container"  style="width:250px; margin-bottom:20px;">
              {% include 'form_template2bis.html' with form=form_captcha %}
                                    </div>
              {% endif %}
              <button type="submit" id="form-submit" class="button">
                                            Envoyer le Message
                              </button>
              {% if msg2 %}
              <p>{{msg2|safe}}</p>
              {% endif %}

            </div>

          </div>
        </form><!-- End Contact Form -->

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer dark-background">

    <!--div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div class="address">
            <h4>Address</h4>
            <p>A108 Adam Street</p>
            <p>New York, NY 535022</p>
            <p></p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Contact</h4>
            <p>
              <strong>Phone:</strong> <span>+1 5589 55488 55</span><br>
              <strong>Email:</strong> <span>info@example.com</span><br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Opening Hours</h4>
            <p>
              <strong>Mon-Sat:</strong> <span>11AM - 23PM</span><br>
              <strong>Sunday</strong>: <span>Closed</span>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <h4>Follow Us</h4>
          <div class="social-links d-flex">
            <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div-->

    <div class="container copyright text-center mt-4">
      <p>© <span>2025</span> <strong class="px-1 sitename">PermAgora</strong></p>
      <div class="credits textepetit">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a href="https://themewagon.com">ThemeWagon</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'permagorapresentation/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'permagorapresentation/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'permagorapresentation/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'permagorapresentation/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'permagorapresentation/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'permagorapresentation/js/main.js' %}"></script>

</body>

</html>