{% extends 'base_asso.html' %}
{% load static %}
{% block header %}
<script src="{% static 'js/sorttable.js' %}"></script>
{% endblock %}
{% block title %} -
Coopérateurs
{% endblock %}
{% block subtitle %}
<div class="row">
    <div class="col-sm-12 textcenter">
        <h3>Liste des adhésions : {{asso}}</h3>
    </div>
</div>
{% endblock %}
{% block content %}

{% comment %}
<div class="row justify-content-center">
    <div class="col-sm-12 textcenter
" id="{{mails.type}}">
        <ul>

{% for adhesion in listeAdhesions %}
            <li>{{adhesion}}</li>
{%endfor%}
        </ul>
</div>

<hr>
{% endcomment %}

<div class="row textcenter">
    <div class="col-sm-12">
    <a class="dropdown-item" href="{% url 'ajouterAdhesion' slugAsso=asso.slug  %}">
    <button type="button" class="btn btn-primary">
      Ajouter adhésion
    </button>
    </a>
    </div>
</div>
<hr>
<div class="row contenu reunion">
<div class="col justify-content-center">
<table class="table table-condensed tableprofils table-striped table-middle sortable">
        <thead class="thead-inverse">
            <tr>
                <th>asso</th>
                <th>user</th>
                <th>email</th>
                <th>date</th>
                <th>année</th>
                <th>montant</th>
                <th>moyen</th>
                <th>detail</th>
                {% if request.user.is_superuser %}
                <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
    {% for adhesion in listeAdhesions %}
    <tr>
        <td><a href="{{adhesion.user.get_absolute_url}}">{%if not adhesion.asso%} permacat {%else%}{{adhesion.asso}}{%endif%}</a></td>
        <td><a href="{{adhesion.user.get_absolute_url}}">{{adhesion.user}}</a></td>
        <td><a href="{{adhesion.user.get_absolute_url}}">{{adhesion.user.email}}</a></td>
        <td><a href="{{adhesion.user.get_absolute_url}}">{{adhesion.date_cotisation|date:"d/m"}}</a></td>
        <td><a href="{{adhesion.user.get_absolute_url}}">{{adhesion.date_cotisation|date:"Y"}}</a></td>
        <td><a href="{{adhesion.user.get_absolute_url}}">{{adhesion.montant}}</a></td>
        <td><a href="{{adhesion.user.get_absolute_url}}">{{adhesion.get_moyen_display}}</a></td>
        <td><a href="{{adhesion.user.get_absolute_url}}">{{adhesion.detail}}</a></td>
        {% if request.user.is_superuser %}
            <td>
                <a href="{{adhesion.get_update_url}}" class="btn btn-warning btn-sm"><i class="fa fa-edit" aria-hidden="true"></i> Modifier</a>
                <a href="{{adhesion.get_delete_url}}" class="btn btn-danger  btn-sm"><i class="fa fa-times" aria-hidden="true"></i> Supprimer</a>
            </td>
        {% endif %}
        </tr>
    {% endfor %}
        </tbody>
</table>

</div>
</div>

{% endblock %}
