{% extends 'base_asso.html' %}
{% block title %} - Accueil{% endblock %}
{% block subtitle %}

<h2 class = "textcenter rowbienvenue">Les groupes du site</h2>

{% endblock %}
{% block content %}
				<div class="row">
					<div class="col">
				<p>
					Il y a actuellement sur le site : l'association PermaCat, l'association RamèneTaGraine, l'association PermAgora,
					le syndicat de la Confédération Paysanne 66, le collectif Viure, le projet Bzzz, la collectif pour la SSA et un espace pour les jardins partagés
</p>
				</div>
				</div>
{% endblock %}