{% extends 'base_altermarche.html' %}
    {% load static %}
{% load activity_tags %}
{% load fontawesome_5 %}

{% block header %}
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
<style>
    @media (min-width: 990px){
        .rowprincipal{
            padding-left:190px;
        }
    }
</style>
{% endblock %}

{% block title %} - AlterMarché {% endblock %}

{% block clspanel %}claspanel{% endblock %}
 {% block content %}
{% block sidebar %}
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar ">
    <div class="position-sticky textcenter">
        <a href="{% url 'marche' %}?base" >
            <button type="button" class="btn  btn-info btn-sm" >
               {% fa5_icon 'home' title='home' %}
            </button>
        </a>
      <div class="">
        <!-- Collapse 1 -->

        <ul id="sidebar_menu" class="">
          {% block sidebar_sousmenu %}
            {% endblock  %}
        </ul>
    <!-- Collapsed content -->
        <!-- Collapse 2 -->
      </div>
    </div>
  </nav>
  <!-- Sidebar -->
{% endblock  %}
{% block contenu %}
{% endblock  %}
{% endblock %}
