{% extends 'bourseLibre/base_produits.html' %}
{% load fontawesome %}
{% load activity_tags %}
{%block subtitle%}


<div class="row justify-content-center">
    <div class="col-md-8 offset-md-2 ">
                <h3>Petites Annonces</h3>
        <h4>{% if asso_courante %}Annonces du groupe : {{asso_courante}}{% endif %}</h4>
        <h5> {% if typeOffre %} Type : {{typeOffre}} {% endif %} {% if categorie_parent %} {{categorie_parent}} {% endif %}{% if request.GET.monnaie %} Monnaie : {{request.GET.monnaie}} {% endif %}</h5>

        <p class="textsmall sidebar_toggle_inverse">(Passez la souris à gauche pour faire apparaître le menu)</p>
            </div>
            <div class="col-md-2 ">
            <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#help" title="En savoir plus...">
             {% fontawesome_icon 'question-circle' %}
            </button>
            <!-- Modal -->
                <div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog textaide" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                          <div class="row justify-content-center">
                           <h5 > Qu'est ce que l'Altermarché ?</h5>
                          </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body textleft">
                          <p>L'altermarché est l'espace de "petites annonces", d'échange de biens et services mais uniquement en monnaies alternatives (pas en euros). L'association Permacat organise aussi des marchés "physiques" à Perpignan</p>
                            <p>Les échange peuvent se faire sous forme de don, de troc, ou de monnaies alternatives: Soudaqui (monnaie locale), de junes (monnaie virtuelle) ou de SEL (Systeme d'Echange Local)</p>
                          <p>Chacun est libre d'ajouter une offre ou une demande (dans le respect des conditions générales d'utilisation) </p>
                          <p>Pour vous tenir au courant des nouvelles offres de l'altermarché vous pouvez vous "abonner" en ciquant sur la cloche. Vous recevrez alors ces informations par mail.</p>
                        </div>
                    </div>
                  </div>
                </div>

                <a href="{% url 'suivre_produits' %}">
                {% if request.user|is_following:suivi %}
                <button type="button" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="bottom" title="Vous êtes abonné : Cliquez ici pour arrêter de recevoir un mail à chaque nouvelle annonce">
                     {% fontawesome_icon 'bell' %}
                </button>
                {% else %}
                <button type="button" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="bottom" title="Vous n'êtes pas abonné : Cliquez ici  pour recevoir un mail à chaque nouvelle annonce">
                     {% fontawesome_icon 'bell-slash' %}
                </button>
                {% endif %}
                    </a>
                </div>
        </div>

<div class="row justify-content-center sidebar_toggle">
            <div class="col-md-4">
             <div class="row no-gutters justify-content-center">
                 <form class="form-inline justify-content-center  navbar-form " action="{% url 'chercher_produits' %}" method="get" role = "search">
                    {% csrf_token %}
                    <input class="form-control" name="id_recherche" placeholder="rechercher..." type="text">
                    <button class="btn btn-info" type="submit" >{% fontawesome_icon 'search' %}</button>

                 </form>
             </div>
            </div>
        </div>
<div class="row justify-content-center sidebar_toggle">
    <div class="col-sm-12 textcenter">
    <a href="{% url 'produit_proposer_entree' %}">
        <button type="button" class="btn btn-success">
            <i class="fa fa-plus"></i> &nbsp;Ajouter une annonce
        </button>
    </a>
    </div>
</div>
<hr>

<div class="row justify-content-center sidebar_toggle">
    <nav class="navbar navbar-expand-md justify-content-center  navbar-light bg-light">
        <div class="navbar-header">
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarProduit" aria-controls="navbarProduitContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navbarProduit">
            <ul class="nav navbar-nav">
                {% comment %}
                <li class="nav-item dropdown active">
                <button class="btn btn-info dropdown-toggle btn-block" type="button" id="menuOffreOuDemande2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{typeOffre}}
                  </button>
                <div class="dropdown-menu"  aria-labelledby="menuOffreOuDemande2">
                     <a class="dropdown-item"  href="{%url 'marche' %}">Offres et demandes</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item"  href="{% url 'marche_offres' %}">Offres-></a>
                     <a class="dropdown-item"  href="{% url 'marche_recherches' %}"><-Demandes</a>
                     <a class="dropdown-item"  href="{% url 'marche' %}?expire=1">Expiré</a>
                </div>
                </li>
                {% endcomment %}
            <li class="nav-item" >
                <a href="?"> <button class="btn btn-block {% if typeFiltre == 'aucun' %}btn-primary {%endif%}">Tout </button>
                </a>
            </li>
            <li class="nav-item dropdown active">
                <button class="btn dropdown-toggle btn-block
                {% if categorie_parent == 'aliment' or categorie_parent == 'vegetal' or categorie_parent == 'service' or categorie_parent == 'objet' or categorie_parent == 'offresEtDemandes' %}btn-primary {%endif%}"
                        type="button" id="menuAliment2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if categorie_parent %} {{categorie_parent}} {% else %}Type d'annonce{% endif %}
                </button>
                </button>
                <div class="dropdown-menu"  aria-labelledby="menuAliment2">
                     <a class="dropdown-item"  href="?categorie=offresEtDemandes">Liste d'offres et demandes</a>
                     <a class="dropdown-item"  href="?categorie=aliment">Aliments</a>
                     <a class="dropdown-item"  href="?categorie=vegetal">Végétal</a>
                     <a class="dropdown-item"  href="?categorie=service">Service</a>
                     <a class="dropdown-item"  href="?categorie=objet">objet</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
                {% comment %}
            <li class="nav-item dropdown active">
                <button class="btn dropdown-toggle btn-block {% if categorie_parent == 'vegetal' %}btn-primary {%endif%}" type="button" id="menuvegetal2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {%if souscategorie and categorie_parent == 'vegetal'%}{{souscategorie}}{%else%}Végétal {%endif%}</button>
                </button>
                <div class="dropdown-menu"  aria-labelledby="menuvegetal2">
                     <a class="dropdown-item"  href="?categorie=vegetal">tous les vegetaux</a>
                    <div class="dropdown-divider"></div>
                    {% for souscat in choixPossibles.vegetal.souscategorie %}
                     <a class="dropdown-item"  href="?souscategorie={{souscat}}">{{souscat}}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item dropdown active">
                <button class="btn dropdown-toggle btn-block {% if categorie_parent == 'service' %}btn-primary {%endif%}" type="button" id="menuservice2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {%if souscategorie and categorie_parent == 'service'%}{{souscategorie}}{%else%}Service {%endif%}</button>
                </button>
                <div class="dropdown-menu"  aria-labelledby="menuservice2">
                     <a class="dropdown-item"  href="?categorie=service">tous les services</a>
                    <div class="dropdown-divider"></div>
                    {% for souscat in choixPossibles.service.souscategorie %}
                     <a class="dropdown-item"  href="?souscategorie={{souscat}}">{{souscat}}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item dropdown active">
                <button class="btn dropdown-toggle btn-block {% if categorie_parent == 'objet' %}btn-primary {%endif%}" type="button" id="menuobjet2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {%if souscategorie and categorie_parent == 'objet'%}{{souscategorie}}{%else%}Objet {%endif%}</button>
                </button>
                <div class="dropdown-menu"  aria-labelledby="menuobjet2">
                     <a class="dropdown-item"  href="?categorie=objet">tous les objets</a>
                    <div class="dropdown-divider"></div>
                    {% for souscat in choixPossibles.objet.souscategorie %}
                     <a class="dropdown-item"  href="?souscategorie={{souscat}}">{{souscat}}</a>
                    {% endfor %}
                </div>
            </li>
                {% endcomment %}


            {%if producteur_list %}
            <li class="nav-item dropdown active">
                <button class="btn dropdown-toggle  btn-block {% if request.GET.producteur %}btn-primary{%endif%}" type="button" id="menuproducteur2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   {% if request.GET.producteur %} Par: {{request.GET.producteur}} {%else%}Auteur{%endif%}
           </button>
                <div class="dropdown-menu"  aria-labelledby="menuProducteur"  id="idProducteur2">
                    {% for producteur in producteur_list %}
                      <a class="dropdown-item" href="?producteur={{producteur}}">{{producteur}}</a>
                    {% endfor %}
                </div>
            </li>
        {%endif%}


            {%if monnaie_list %}
            <li class="nav-item dropdown active">
                <button class="btn dropdown-toggle  btn-block {% if request.GET.monnaie %}btn-primary{%endif%}" type="button" id="menuMonnaie2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   {% if request.GET.monnaie %} Monnaie: {{request.GET.monnaie}} {%else%}Monnaie{%endif%}
           </button>
                <div class="dropdown-menu"  aria-labelledby="menuMonnaie"  id="idMonnaie2">
                    {% for monnaie in monnaie_list %}
                      <a class="dropdown-item" href="?monnaie={{monnaie}}">{{monnaie}}</a>
                    {% endfor %}
                </div>
            </li>
        {%endif%}

        {% if request.user.adherent_pc or request.user.adherent_rtg  or request.user.adherent_fer  or request.user.adherent_scic or request.user.adherent_citealt or request.user.adherent_bzz2022 %}
            <li class="nav-item dropdown active">
             <button type="button" class="btn btn-block {% if asso_courante %}btn-primary{%else%} btn-light{%endif%}  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               data-target = "#idPermacat2">
                {% if asso_courante %}{{asso_courante}}{%else%}Groupe{%endif%}
             </button>
                <div class="dropdown-menu"  aria-labelledby="menuStatut"  id=idPermacat2">
                    {% for abrev, nom_asso  in asso_list %}
                      <a class="dropdown-item" href="?asso={{abrev}}">{{nom_asso}}</a>
                    {%endfor%}
                </div>
            </li>
        {%endif%}

            <li class="nav-item dropdown active">
                <button class="btn dropdown-toggle btn-block btn-light" type="button" id="menuOrdreTri" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Trier par...
           </button>
                <div class="dropdown-menu"  aria-labelledby="menuOrdreTri"  id="idOrdreTri">
                {% for ordre in ordreTriPossibles %}
                 <a class="dropdown-item"  href="?{{ request.GET.urlencode }}&ordre={{ordre}}">{{ordre}}</a>
                    {% endfor %}
                </div>
            </li>
            </ul>
        </div>
    </nav>
</div>
{%endblock subtitle%}

{% block clspanel %}claspanel{% endblock %}
{% block sidebar_sousmenu %}
        <!-- Collapsed content -->
          <li class="list-group-item py-1">
            <a href="{% url 'produit_proposer_entree' %}">
                <button type="button" class="btn btn-success">
                    <i class="fa fa-plus"></i> &nbsp;Ajouter une annonce
                </button>
            </a>
            </li>

            <li class="list-group-item py-1">
             <button type="button" class="btn btn-block {% if request.GET.asso %}btn-primary{%else%} btn-light{%endif%}  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               data-target = "#idPermacat">
                {% if asso_courante %}{{asso_courante}}{%else%}Groupe{%endif%}
              </button>
                <div class="dropdown-menu"  aria-labelledby="menuStatut"  id=idPermacat">
                    {% for abrev, nom_asso  in asso_list %}
                      <a class="dropdown-item" href="?asso={{abrev}}">{{nom_asso}}</a>
                    {%endfor%}
                </div>
            </li>
                {% comment %}
          <li class="list-group-item py-1">
            <button class="btn btn-light dropdown-toggle btn-block" type="button" id="menuOffreOuDemande" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{typeOffre}}
                  </button>
                <div class="dropdown-menu"  aria-labelledby="menuOffreOuDemande">
                     <a class="dropdown-item"  href="{% url 'marche_offres' %}">Offres</a>
                     <a class="dropdown-item"  href="{% url 'marche_recherches' %}">Demandes</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item"  href="{% url 'marche' %}?expire=1">Expirées</a>
                </div>
          </li>
                {% endcomment %}

             {%if producteur_list %}
            <li class="list-group-item py-1">
                <button class="btn dropdown-toggle  btn-block {% if request.GET.producteur %}btn-primary{%else%}btn-light{%endif%}" type="button" id="menuproducteur" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   {% if request.GET.producteur %} Par: {{request.GET.producteur}} {%else%}Auteur{%endif%}
           </button>
                <div class="dropdown-menu"  aria-labelledby="menuProducteur"  id="idProducteur">
                    {% for producteur in producteur_list %}
                      <a class="dropdown-item" href="?{{ request.GET.urlencode }}&producteur={{producteur}}">{{producteur}}</a>
                    {% endfor %}
                </div>
            </li>
        {%endif%}


            {%if monnaie_list %}
            <li class="list-group-item py-1">
                <button class="btn dropdown-toggle  btn-block {% if request.GET.monnaie %}btn-primary{%else%}btn-light{%endif%}" type="button" id="menuMonnaie" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   {% if request.GET.monnaie %} Monnaie: {{request.GET.monnaie}} {%else%}Monnaie{%endif%}
           </button>
                <div class="dropdown-menu"  aria-labelledby="menuMonnaie"  id="idMonnaie">
                    {% for monnaie in monnaie_list %}
                      <a class="dropdown-item" href="?{{ request.GET.urlencode }}&monnaie={{monnaie}}">{{monnaie}}</a>
                    {% endfor %}
                </div>
            </li>
        {%endif%}


          <li class="list-group-item py-1"> <button class="btn dropdown-toggle btn-block
                {% if categorie_parent == 'aliment' or categorie_parent == 'vegetal' or categorie_parent == 'service' or categorie_parent == 'objet' or categorie_parent == 'offresEtDemandes' %}btn-primary {%else%}btn-light{%endif%}"
                        type="button" id="menuAliment" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if categorie_parent %} {{categorie_parent}} {% else %}Type d'annonce{% endif %}
                </button>
                </button>
                <div class="dropdown-menu"  aria-labelledby="menuAliment">
<a class="dropdown-item"  href="{% url 'marche' %}&categorie=listeOffresEtDemandes">Liste d'offres/demandes</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"  href="?{{ request.GET.urlencode }}&categorie=aliment">Aliments</a>
                     <a class="dropdown-item"  href="?{{ request.GET.urlencode }}&categorie=vegetal">Végétal</a>
                     <a class="dropdown-item"  href="?{{ request.GET.urlencode }}&categorie=service">Services</a>
                     <a class="dropdown-item"  href="?{{ request.GET.urlencode }}&categorie=objet">Objets</a>

                </div>
          </li>
 <li class="list-group-item py-1">
              <button class="btn dropdown-toggle btn-block btn-light" type="button" id="menuOrdreTri2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Trier par...
               </button>
                <div class="dropdown-menu"  aria-labelledby="menuOrdreTri"  id="idOrdreTri2">
                {% for ordre in ordreTriPossibles %}
                 <a class="dropdown-item"  href="?{{ request.GET.urlencode }}&ordre={{ordre}}">{{ordre}}</a>
                    {% endfor %}
                </div>
          </li>
            <li class="list-group-item py-1">
                <button class="btn dropdown-toggle btn-block btn-light" type="button" id="menuDistance2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Rayon
           </button>
                <div class="dropdown-menu"  aria-labelledby="menuDistance"  id="idDistance2">
                {% for distance in distancePossibles %}
                 <a class="dropdown-item"  href="?{{ request.GET.urlencode }}&distance={{distance}}">{{distance}} km</a>
                    {% endfor %}
                </div>
            </li>
          <li class="list-group-item py-1">
            <form class="form-inline justify-content-center  navbar-form " action="{% url 'chercher_produits' %}" method="get" role = "search">
                    {% csrf_token %}
                     <input class="" name="id_recherche" placeholder="Rechercher..." type="text">
                     <button class="btn btn-info" type="submit" >{% fontawesome_icon 'search' %}</button>
                 </form>
          </li>

{% endblock %}
{% block contenu %}
{% include 'pagination_new.html' %}
<div class="card-deck listOffres infinite-container">
    {% for produit in produits_list %}
        {% include "bourseLibre/produit_template3.html" with produit=produit %}
    {% endfor %}
</div>
{% include 'pagination_new.html' %}

{% endblock %}
