    {% extends 'bourseLibre/base_produits.html' %}
    {% load app_filters %}
    {% block title %} - Proposer une annonce{% endblock %}
    {% block subtitle %}
    {% csrf_token %}
    <style>.soustitre,.bodycontenu{background-color: {{ bgcolor }};}</style>
    <div class="row justify-content-center">
    <h4>Quel {{ type_produit }} proposez-vous ?</h4>
    </div>
    {% endblock %}
    {% block contenu %}
    <form id="myForm" class="form-horizontal" role="form" action="" method="post"
        enctype="multipart/form-data">
            {% include 'form_template.html'%}
    </form>
    {% endblock %}
