
{% extends 'base_jardin.html' %}
{% load static %}
{% block header %}

    <!-- Bootstrap -->
    <link href="{% static './css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Phonebook css -->
    <link href="{% static './css/phonebook.css' %}" rel="stylesheet">
{% comment %}
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
{% endcomment %}
{% endblock %}
 {% block panel-heading %}{%endblock%}
{% block div-container-global %} style="padding-top:0;{% endblock%}

{% block footer %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
    <script src="{% static './js/1.11.0-jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static './js/bootstrap.min.js' %}"></script>
    <!-- Phonebook js -->
    <script src="{% static './js/phonebook.js' %}"></script>
    <!-- Translate JS -->
    {% comment %}
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    {% endcomment %}
{% endblock %}
