{% extends 'blog/base_blog.html' %}
{% load static %}

{% block header %}
	<link rel="stylesheet" href="{% static 'css/permachat_style.css' %}" type="text/css" media="screen" />
	<script src="{% static 'js/jquery-1.12.2.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/reconnecting-websocket.min.js' %}" type="text/javascript"></script>
{% endblock %}

{%block bodyEntete%} style="visibility: collapse;" {%endblock%}
{%block banniere %}
{% endblock  %}

{% block panel-heading %}{%endblock%}