{% extends 'base_asso.html' %}
{% load static %}
{% block title %} - Accueil{% endblock %}
{% block subtitle %}

<h2 class = "textcenter rowbienvenue">Viure</h2>

{% include "asso/presentation_asso_template.html" with adherent=request.user.adherent_viure assos='viure' %}

<h4 class = "textcenter rowbienvenue">Qui sommes nous ?</h4>
{% endblock %}
{% block content %}
<div class="row">
	<div class="col textcenter">
		<p>La coordination Viure a pour vocation de réunir les acteurs engagés du territoire  pour la préservation des terres agricoles et des espaces naturels des Pyrénées Orientales.</p>
<p class="textcenter"><a href="https://www.viure.fr" target="_blank">Site officiel : Viure.fr</a></p>

<hr>

		{% if request.user.is_anonymous %}
			<p class="textcenter">
				 <a class="btn btn-warning" href="{% url 'login'%}" disabled> Il faut vous connecter pour pouvoir s'inscrire dans ce groupe</a>
			</p>
		{% else %}
			{% if request.user.adherent_viure %}
			<p class="textcenter">
				 <a class="btn btn-warning" href="{% url 'inscription_viure' %}"> Vous êtes inscrit-e -> Cliquer ici pour vous désinscrire</a>
			</p>
			{% else %}
			<p class="textcenter">
				 <a class="btn btn-primary" href="{% url 'inscription_viure' %}"> Vous ne faites pas partie du groupe -> Cliquer ici pour vous inscrire</a>
			</p>
			{% endif %}
		{% endif %}

	</div>
</div>

		{% if request.user.adherent_viure %}
<hr>
<h4 class="textcenter">Carte des luttes dans les PO :</h4>
<iframe width="100%" height="300px" frameborder="0" allowfullscreen allow="geolocation" src="//umap.openstreetmap.fr/fr/map/carte-des-luttes-dans-les-po_1035312?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=none&captionBar=false&captionMenus=true"></iframe>
<p><a href="//umap.openstreetmap.fr/fr/map/carte-des-luttes-dans-les-po_1035312?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=none&captionBar=false&captionMenus=true">Voir en plein écran</a></p>

		{% endif %}
{% endblock %}
