{% load fontawesome_5 %}
{% load app_filters %}
{% load static %}
{% load activity_tags %}

{% if articleList %}
<ul class="p-0 m-0">
    {% for article in articleList %}
        <li class="d-flex align-items-center mb-5">
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                <a href="{{article.get_absolute_url}}">
                <div class="me-2">
                    <small>
                         <span class="badge bg-label-info"> {{ article.get_categorie_display2 }}</span>
                    </small>
                    <h6 class="mb-0"> {{article.titre}}</h6>
                </div>
                </a>
            </div>
        </li>
    {% endfor %}
</ul>

{% else %}
    <div class="row col-sm-12">Pas d'article</div>
{% endif %}