{% load fontawesome_5 %}
{% load app_filters %}
{% load static %}
{% load activity_tags %}

{% if commList %}
<ul class="p-0 m-0">
    {% for comm in commList %}
        <li class="d-flex align-items-center mb-5">
            <div class="d-flex w-100 flex-wrap align-items-center gap-2">
                <a href="{{ comm.get_absolute_url }}">
                <div class="me-2">
                    <h6 class="mb-0">
                        <em>{{comm.auteur_comm}}</em>: {{comm.commentaire|htmlClean|safe|sansp|couperTexte:200}}
                    </h6>
                        <small>
                            <span class="badge bg-label-secondary"> {{ comm.date_creation|date:"DATE_FORMAT" }}</span>
                            <span class="badge bg-label-primary">{{comm.article.titre}}</span>
                        </small>
                </div>
                </a>
            </div>
        </li>
    {% endfor %}
</ul>

{% else %}
    <div class="row col-sm-12">Pas de nouveaux commentaires</div>
{% endif %}