{% load fontawesome_5 %}
{% load app_filters %}
{% load static %}
{% load activity_tags %}

{% if datesList %}
<ul class="p-0 m-0">
    <li class="d-flex align-items-center">
        <div class="d-flex w-100 align-items-center justify-content-between">
            <div class="me-2"><em>Titre de l'évènement</em></div>
            <div><em>Date</em></div>
        </div>
    </li>
    {% for date  in datesList %}
        <li class="d-flex align-items-center">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <div class="me-2">
                <a href="{{date.get_absolute_url}}">
                    <h6><i class="icon-base bx {{date.get_bx_icon}}"></i> {{date.titre|couperTexte:42}}</h6>
                </a>
              </div>
              <div>
                <a href="{{date.get_absolute_url}}">
                    <h6 class="mb-0">
                        {{ date.start_time | date:"l j M" }}
                    </h6>
                </a>
              </div>
                </a>
            </div>
        </li>
    {% endfor %}
</ul>

{% else %}
    <div class="row col-sm-12">Pas de dates prévues prochainement</div>
{% endif %}

{% if request.session.asso_slug %}
{% include 'pagination_new_asso.html' %}
{% else %}
{% include 'pagination_new.html' %}
{% endif %}


