{% load fontawesome_5 %}
{% load app_filters %}
{% load static %}
{% load activity_tags %}

{% if docList %}
<ul class="p-0 m-0">
    {% for doc in docList %}
        <li class="d-flex align-items-center mb-5">
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                <div class="me-2">
                    <a href="{{doc.get_absolute_url_fichier}}">
                        <h6 class="mb-0">{{doc.titre}}</h6>
                    </a>
                        {% if doc.article %}
                        <a href="{{doc.get_absolute_url}}">
                        <small class="mb-0">
                            <span class="badge bg-label-primary"> {{ doc.article.titre }}</span>
                         </small>
                        </a>
                        {% endif %}
                </div>
                {% comment %}
                    <span class='badge bg-label-secondary'> {{ doc.date_creation|date:'DATE_FORMAT' }}</span>
                    {% if doc.tags.names %} - {% include 'listeTags_view_template2.html' with tags=doc.tags.names %} {% endif %}
                    </div>
                {% endcomment %}
            </div>
        </li>
    {% endfor %}
</ul>

{% else %}
    <div class="row col-sm-12">Pas de documents ({{ request.session.asso_slug }}</div>
{% endif %}

{% if request.session.asso_slug %}
{% include 'pagination_new_asso.html' %}
{% else %}
{% include 'pagination_new.html' %}
{% endif %}


