{% extends 'base_notifications.html' %}
{% load activity_tags %}
{% load fontawesome %}
{% block content %}
<div class="row justify-content-center" >
    <nav class="navbar navbar-expand-lg justify-content-center">
        <div class="navbar-header">
             <button class="btn btn-groupe navbar-toggler dropdown-toggle btn-warning" style="background-color:#ffc241;" type="button" data-toggle="collapse" data-target="#navbar_asso" aria-controls="navbarProduitContent" aria-expanded="false" aria-label="Toggle navigation">
             <p>{% if asso_courante %} Groupe : {{asso_courante}} {% else %} Choisir un groupe {% endif %} </p> </button>
        </div>
        <div class="navbar-collapse collapse " id="navbar_asso">
            <ul class="navbar-nav subnavbar2 align-items-center">
                {% for  asso_id, asso_nom in asso_list %}
                <a  href="{% url 'notificationsParGroupe' %}?asso={{asso_id}}#ref-titre">
                    <li class="nav-item btn-choixgroupe btn shadow-trespetit {%if asso_courante_abreviation == asso_id %} btn-warning{% else %}btn-info{% endif %}">
                          <h6>{{asso_nom}}</h6>
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>
<hr>
{% if actions %}
<div class="row justify-content-center"
    <div class="card-deck notif justify-content-between">
    <div class="card carte-notif notif3  d-md-flex textcenter">
    <ul class="list-group list-group-flush">
      {% for action in actions %}
          {% include "notifications/notifications_templateParDate.html" with action=action %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

{% endblock %}
