{% extends 'base.html' %}
{%block bodyEntete%} style="visibility: collapse;" {%endblock%}
{% block panel-heading %} {%endblock%}

{% block submenu %}

<div class="sticky-top">
    <nav class="navbar navbar-light bs-dark navbar-expand-xl bg-dark navbar-dark shadow-petit">
        <button class="navbar-toggler navbar-toggler-right navbar-btn" type="button" data-toggle="collapse" data-target="#navbar2" aria-controls="navbar2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
        <div class="navbar-collapse collapse mx-auto" id="navbar2">
            <ul class="navbar-nav mx-auto subnavbar">
		<li class="nav-item nav-notif"><a class="dropdown-item"  href="{% url 'notifications_news'  %}">Dernières Notifications</a></li>
		<li class="nav-item nav-notif"><a class="dropdown-item"  href="{% url 'notificationsParDate'  %}"> Par date</a></li>
        <li class="nav-item nav-notif"><a class="dropdown-item"  href="{% url 'notifications'  %}"> Par type</a></li>
        <li class="nav-item nav-notif"><a class="dropdown-item"  href="{% url 'notificationsParGroupe'  %}"> Par groupe</a></li>
        <li class="nav-item nav-notif "><a class="dropdown-item"  href="{% url 'articles_visites'  %}"> Dernières Visites</a></li>
        {% if request.user.is_superuser %}
        <li class="nav-item nav4"> <a class="dropdown-item" href="https://www.perma.cat/gestion/hitcount/hit/"> Hits </a></li>
        {% endif %}

            </ul>
        </div>
    </nav>
</div>


{% endblock %}