{% extends 'layout/layout_vertical_menu.html' %}
{% load static %}
{% load fontawesome_5 %}

{% block page_css %}
    {% if request.user.css_dark %}
        <link rel="stylesheet" href="{% static 'css/bootstrap_dark.min.css' %}" type='text/css'/>
        <link href="{% static 'css/style_dark.css' %}" type="text/css" rel="stylesheet" />
    {% else %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type='text/css'/>
        <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" />
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}" type='text/css'/>

    <link href="{% static 'css/cookielaw.css'%}" rel="stylesheet" />
<link rel="icon" type="image/png" sizes="192x192" href="{% static 'android-chrome-192x192.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

    <link href="{% static 'css/fontfamily.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/style_list.css'%}" type="text/css" rel="stylesheet" />
    <link href="{% static 'tam-emoji/css/emoji.css' %}" rel="stylesheet" type='text/css'>

    <script src="{% static 'js/sorttable.js' %}"></script>
    {% fontawesome_5_static %}
    {%block header %}
    {%endblock%}
    {%block header2 %}
    {%endblock%}
{% endblock %}


{% block content_total %}
{%block loader %}
 <div class="loader" id="loader">Chargement de Perma.Cat</div>
{%endblock%}
<div class="contenucharge" id="contenucharge">
    <div class="container-fluid" id="top" {% block div-container-global %} {% endblock%}>
        <div class="row rowprincipal justify-content-center">
            <div class="colprincipal">
                {% block bodycontenucomplet%}
                <div class="panel bodycontenucomplet {% block clspanel %}{% endblock %}">
                    <div class="panel-body">
                            <div class="anchor_blank" id="ref-titre"></div>
                        {% block submenu%}{% endblock %}
                        <div class="panel-body panelsoustitre  ">
                            <div class="row justify-content-sm-center">
                                <div class="col-sm-12 col-md-12 col-lg-12 textcenter">
                                        {% block subtitle %}{% endblock %}
                                </div>
                            </div>
                            <div class="panel-body bodycontenu">
                                {% block content %}{% endblock %}
                            </div>
                        </div>
                </div>
                </div>
                {% endblock bodycontenucomplet %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
