{% load blog_filters %}
{% load app_filters %}
{% load avatar_tags %}

<div class="anchor_blank" id="idConversation"></div>
<div class=" commentaires"  id="idConversation_2">

    {% if commentaires %}
<div class="conversation">
              <div class="conversation-container">
    {% for comment in commentaires %}
        <div class="message {% if request.user == comment.auteur_comm %} sent {% else %} received {% endif %} "  id="comm_{{comment.id}}">

                {% ifchanged %}<a href="{% url 'profil_nom' comment.auteur_comm %}"> {% avatar comment.auteur_comm 40 class="img-circle-profil" id="user_avatar" %} {{comment.auteur_comm}}</a>{% endifchanged %}
                <span class="metadata">{% if comment.pascetteannee %}{{ comment.date_creation|date:"d/m - Y" }}{% else %}{% ifchanged comment.date_creation|date:"l d F" %}{{ comment.date_creation|date:"l d F" }}, {% endifchanged %}{{ comment.date_creation|date:"G:i" }}{% endif %}

                {% if request.user == comment.auteur_comm or request.user.is_superuser %}
                <a class="boutonediter" href="{{ comment.get_edit_url  }}" role="button" help_text="éditer"><i class="fa fa-edit"></i></a>
                {% endif %}
                   </span>
                <p>{{ comment.commentaire|safe|usermention}}</p>
        </div>
{% endfor %}
    </div>
    </div>
    {% endif %}

    {% comment %}
{% for comment in commentaires %}


    <div class="row {% if comment.auteur.id == request.user.id %} msg-auteur  {%else%} msg-destinataire{%endif%}">

        <div class="col-sm-3 col-md-3 col-lg-2">
            <p class="infos  textepetit ">
                {% ifchanged %}<a href="{% url 'profil_nom' comment.auteur_comm %}"> {{comment.auteur_comm}}</a><br>{% endifchanged %}{{ comment.date_creation|date:"d/m/Y, G:i" }}

                {% if request.user == comment.auteur_comm or request.user.is_superuser %}
                <a class="boutonediter" href="{{ comment.get_edit_url  }}" role="button" help_text="éditer"><i class="fa fa-edit"></i></a>
                {% endif %}
</p>

            </div>
        <div class=" col-sm-9 col-md-9 col-lg-10 message
                {% if request.user == comment.auteur_comm %} sent {% else %} received {% endif %} ">
                <p>{{ comment.commentaire|safe}}</p>
        </div>
    </div>
{% endfor %}
    {% endcomment %}
</div>
{% if commentaires %}

<hr>

{% endif %}
{%if not request.user.is_anonymous %}
{% if commentaires %}
<h5>Répondre :</h5>
{%else%}
<h5>Commencer la discussion :</h5>
{%endif%}

<div class="anchor_blank" id="idComenter"></div>
<form id="myForm" class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="Nouveau Message" value="{{ message_defaut }}">
    {% include 'form_template3.html' %}

</form>
 {% else %}
<p><small>Vous devez vous <a href="/auth/login/">authentifier</a> pour laisser un message.</small></p>
 {% endif %}


    <script>

    var messageBody = document.querySelector('#idConversation_2');
    messageBody.scrollTop = idConversation_2.scrollHeight - idConversation_2.clientHeight;

    $(function() {
    // Enable on all forms
    $('form').areYouSure();
    });


</script>