{% load widget_tweaks %}
{% load app_filters %}
{% load static %}
{% block header %}
{{ form.media }}
<script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tempusdominus-bootstrap-4.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/tempusdominus-bootstrap-4.min.css' %}" />
{% endblock %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

    {% for error in form.errors %}
    <div class="invalid-feedback">
      {{ error }}
    </div>
    {% endfor %}

{% for field in form.visible_fields %}
<div class="form-group">
{% with tyype=field|field_type %}
{% with entete=field|field_entete %}

{% if entete %}
    {{field.label_tag}}{% if field.field.required %} *{% endif %}
{%endif%}
{{ field.errors }}
{% if tyype == 'SummernoteWidget' or tyype == 'CheckboxSelectMultiple' %}
    {{field}}
{% elif tyype == 'CheckboxInput' %}
  {{field}} {{field.label}}
{% else %}
{%if field.errors %}

    {% render_field field class="form-control is-invalid" placeholder=field.label %}
{% else %}
{% if not entete %}
    {% render_field field class="form-control" placeholder=field.label%}
{% else %}
    {% render_field field class="form-control" %}
{% endif %}
{% endif %}
{% endif %}

{% if field.help_text %}
<small class="form-text text-muted">{{ field.help_text }}</small>
{% endif %}
{%endwith%}
{%endwith%}
    </div>
  {% endfor %}


