
<div class="pagination">
    <a class="pagination-number" href="?lettre=a">A</a>
    <a class="pagination-number" href="?lettre=b">B</a>
    <a class="pagination-number" href="?lettre=c">C</a>
    <a class="pagination-number" href="?lettre=d">D</a>
    <a class="pagination-number" href="?lettre=e">E</a>
    <a class="pagination-number" href="?lettre=f">F</a>
    <a class="pagination-number" href="?lettre=g">G</a>
    <a class="pagination-number" href="?lettre=h">H</a>
    <a class="pagination-number" href="?lettre=i">I</a>
    <a class="pagination-number" href="?lettre=j">J</a>
    <a class="pagination-number" href="?lettre=k">K</a>
    <a class="pagination-number" href="?lettre=l">L</a>
    <a class="pagination-number" href="?lettre=m">M</a>
    <a class="pagination-number" href="?lettre=n">N</a>
    <a class="pagination-number" href="?lettre=o">O</a>
    <a class="pagination-number" href="?lettre=p">P</a>
    <a class="pagination-number" href="?lettre=q">Q</a>
    <a class="pagination-number" href="?lettre=r">R</a>
    <a class="pagination-number" href="?lettre=s">S</a>
    <a class="pagination-number" href="?lettre=t">T</a>
    <a class="pagination-number" href="?lettre=u">U</a>
    <a class="pagination-number" href="?lettre=v">V</a>
    <a class="pagination-number" href="?lettre=w">W</a>
    <a class="pagination-number" href="?lettre=x">X</a>
    <a class="pagination-number" href="?lettre=y">Y</a>
    <a class="pagination-number" href="?lettre=z">Z</a>
</div>