{% extends 'base_adherents.html' %}

{% block headerDocument%}
{% load leaflet_tags %}
{% load static %}
{% load fontawesome %}
{% endblock %}
{% block header %}
{% leaflet_js %}
{% leaflet_css %}
{% endblock %}

{% block subtitle %}

<div class="row rowcentre" id="titre">
    <div class="col-sm-12 textcenter">
        {%if request.user.is_superuser %}
        <div class="btn-group">
            <a href="{%if request.user.is_authenticated %}{% url 'adherents:adherent_modifier' pk=adherent.pk %}{% endif %}">
                <button type="button" class="btn btn-sm btn-warning">
                    &nbsp;Modifier
                </button>
            </a>
        </div>
        {% endif %}
        {%if request.user.is_superuser %}
        <a href="{%if request.user.is_authenticated %}{% url 'adherents:adherent_supprimer' pk=adherent.pk %}{% endif %}">
            <button type="button" class="btn btn-sm btn-danger">
                &nbsp;Supprimer
            </button>
        </a>
        {% endif %}
    </div>
</div>
<div class="row titre_jardin">
    <div class="col textcenter">
        <h3> {{adherent}} </h3>
    </div>
</div>

{% endblock %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-10">
        <table class="table table-condensed tablepanier table-striped">
            <tbody>

            {% if adherent.profil %}
            <tr>
                <td style="width:250px">Profil :</td>
                <td><a href="{{adherent.profil.get_absolute_url}}">{{adherent.profil}}</a></td>
            </tr>
            {% endif %}
            <tr>
                <td style="width:250px">Nom :</td>
                <td>{{adherent.nom}}</td>
            </tr>
            <tr>
                <td style="width:250px">Statut :</td>
                <td>{{adherent.get_statut_display}}</td>
            </tr>
            <tr>
                <td style="width:250px">Email :</td>
                <td>{{adherent.email}}</td>
            </tr>
            {% if adherent.adresse.telephone %}
            <tr>
                <td style="width:250px">Telephone *:</td>
                <td>{{ adherent.adresse.telephone }}</td>
            </tr>
            {% endif %}

            <tr>
                <td style="width:250px">Production :</td>
                <td>{{adherent.get_production_str}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        {%if request.user.is_superuser %}
        <a href="{% url 'adherents:adherents_modifier_adresse' adherent.adresse.pk %}">
            <button type="button" class="btn btn-sm btn-warning">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Modifier
            </button>
        </a>
        {%endif%}
        {%if request.user.is_superuser %}
        <a href="https://www.perma.cat/gestion/bourseLibre/adresse/{{adherent.adresse.id}}/change/">
            <button type="button" class="btn btn-sm btn-warning">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Admin Modifier
            </button>
        </a>
        {%endif%}
        <table class="table table-condensed tablepanier table-striped">
            <tbody>
            {%if adherent.adresse.rue %}
            <tr>
                <td style="width:250px">Adresse ^:</td>
                <td>{{ adherent.adresse.rue }}</td>
            </tr>
            {% endif %}
            {%if adherent.adresse.commune %}
            <tr>
                <td style="width:250px">Commune :</td>
                <td>{{ adherent.adresse.commune }}</td>
            </tr>
            {% endif %}
            {%if adherent.adresse.code_postal %}
            <tr>
                <td style="width:250px">Code postal :</td>
                <td>{{ adherent.adresse.code_postal }}</td>
            </tr>
            {% endif %}
            {%if adherent.adresse.pays %}
            <tr>
                <td style="width:250px">Pays ^:</td>
                <td>{{ adherent.adresse.pays }}</td>
            </tr>
            {% endif %}
            <tr>
                <td style="width:200px">lat/lon ^:</td>
                <td>{{ adherent.adresse.latitude }} / {{ adherent.adresse.longitude }}</td>
            </tr>

            </tbody>
        </table>
        <small> {% if request.user == user %}Les champs notés par un ^ ne sont visibles que par vous et l'administrateur
            du site. {%endif%}Les champs notés par un * ne sont visibles que par les membres du collectif
            concerné</small>
    </div>

    <div class="col-md-6">
        <style>leaflet-container {width:  100%;height: 90vh;}</style>
        <script type="text/javascript">
                function map_init_basic (map, options) {

          var greenIcon = L.icon({
            iconUrl: '{% static 'img/leafgreen.png' %}',
            shadowUrl: '{% static 'img/leafshadow.png' %}',

            iconSize:     [38, 95], // size of the icon
            shadowSize:   [50, 64], // size of the shadow
            iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
        });

                var lat = {{adherent.adresse.get_latitude}};
                var lon = {{adherent.adresse.get_longitude}};
                L.marker([lat, lon], {icon: greenIcon}).addTo(map);
                map.panTo(new L.LatLng(lat, lon));
            }


        </script>
        {% leaflet_map "yourmap" callback="window.map_init_basic" %}
    </div>
</div>

<hr>
<h5>Cotisations </h5>
{% include 'adherents/template_adhesion_liste2.html' %}

<div class="row">
    <div class="col-md-12 textcenter">
        <a href="{% url 'adherents:adhesion_creer' adherent.pk %}">
            <button type="button" class="btn btn-sm btn-danger">
                <span class="fa fa-plus"></span>&nbsp;Ajouter une cotisation
            </button>
        </a>
    </div>
</div>
{% endblock %}