{% extends 'base_adherents.html' %}
{% block subtitle %}

<div class="row">
    <div class="col textcenter">
       <h3> Modifier l'adhérent {{adherent}} </h3>
    </div>
</div>

<div class="row-sm-12 row-lg-6 mx-auto textcenter justify-content-center">
{%if request.user.is_superuser or request.user.estmembre_bureau_conf  %}
<a href="{% url 'adherents:adherents_modifier_adresse' pk=adherent.adresse.pk %}">
    <button type="button" class="btn btn-sm btn-warning">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;Modifier l'adresse / telephone
    </button>
</a>
</div>
{% endblock %}
{% block content %}

<div class="row-sm-12 row-lg-6 mx-auto">
    <form id="myForm" class="form-horizontal" role="form" action="" method="post"
        enctype="multipart/form-data">
            {% include 'form_template.html'%}
    </form>
</div>


{%endif%}
{% endblock %}