{% extends 'base_phoning.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-sm-12 textcenter">
        <a href="{% url 'adherents:phoning_projet_courant' %}">
            <button type="button" class="btn btn-info">
                Revenir à la liste
            </button>
        </a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12 textcenter">
        <a href="{% url 'adherents:phoning_contact_ajouter' %}">
            <button type="button" class="btn btn-success">
                Ajouter UN Contact à la liste (manuellement)
            </button>
        </a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12 textcenter">
        <a href="{% url 'adherents:phoning_contact_ajouter_listetel' %}">
            <button type="button" class="btn btn-success">
                Ajouter DES contacts (liste de numéros de TEL)
            </button>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 textcenter">
        <a href="{% url 'adherents:phoning_contact_ajouter_csv' %}">
            <button type="button" class="btn btn-success">
                Ajouter DES contacts (fichier CSV en texte)
            </button>
        </a>
        {% if request.user.is_superuser %}
    </div>
</div>
<div class="row">
    <div class="col-sm-12 textcenter">
        <a href="{% url 'adherents:phoning_ajouterAdherents' %}">
            <button type="button" class="btn btn-success">
                Ajouter LES adhérents
            </button>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 textcenter">
        <a href="{% url 'adherents:phoning_csv_inversernomprenom' %}">
            <button type="button" class="btn btn-success">
                Inverser Nomprenoms CSV
            </button>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 textcenter">
        <a href="{% url 'adherents:nettoyer_noms' %}">
            <button type="button" class="btn btn-success">
                nettoyer noms
            </button>
        </a>
    </div>
</div>


<div class="row">
    <div class="col-sm-12 textcenter">
        <a href="{% url 'adherents:phoning_csv_editNonVotants' %}">
            <button type="button" class="btn btn-success">
                phoning_csv_editNonVotants
            </button>
        </a>
    </div>
</div>
        {% endif %}
<hr>
<div class="row">
    <div class="col-sm-12 textcenter">
        <a href="{% url 'adherents:phoning_supprimer_doublons' %}">
            <button type="button" class="btn btn-success">
                Supprimer doublons (param 'tel')
            </button>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 textcenter">
        <a href="{% url 'adherents:nettoyer_telephones' %}">
            <button type="button" class="btn btn-success">
                Nettoyer numeros
            </button>
        </a>
    </div>
</div>
</div>

{% endblock %}

