{% extends 'base_adherents.html' %}

{% block headerDocument%}
{% load leaflet_tags %}
{% load static %}
{% load fontawesome %}
{% endblock %}
{% block header %}
{% leaflet_js %}
{% leaflet_css %}
{% endblock %}

{% block subtitle %}
<div class="row titre_adherents">
    <div class="col textcenter">
        <h3>Les Listes de diffusion par Mail </h3>
    </div>
</div>
{% if request.user.estmembre_bureau_conf %}
<div class="row ">
    <div class="col textcenter">
        <a class="btn btn-danger"   href="{% url 'adherents:listeDiffusionConf_creer' %}">Ajouter une liste</a></li>
    </div>
</div>
{% endif %}
{% endblock %}


{% block content %}
 {% include 'adherents/template_listeDiffusionConf_liste.html'%}

{% if request.user.estmembre_bureau_conf %}
<div class="row ">
    <div class="col textcenter">

    <a href="{% url 'adherents:get_csv_listeMails' %}" target="_blank" rel="noopener noreferrer nofollow">
        <button type="button" class="btn btn-sm btn-primary">
            &nbsp;Exporter en CSV
        </button>
    </a>
		<a class="btn btn-success" href="{% url 'adherents:inscriptionMail_liste' %}">Gérer la liste des inscriptions</a></li>
    </div>
</div>
<hr>
 {% include 'adherents/template_actions.html'%}
{% endif %}
{% endblock %}