
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-8 textcenter">
        <table class="table table-condensed tableprofils table-striped sortable">
            <thead><tr>
                <th >Asso</th>
                <th style="width:100%;">Nom de la liste</th>
            </tr></thead>
            <tbody>
{% for liste in projets %}
            <tr>
                <td>{{liste.asso.get_logo_nomgroupe_html|safe }} </td>
                <td  style="width:100%;"><a href="{{liste.get_absolute_url}}"> {{liste}} </a></td>
            </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>
