
<div class="row">
    <div class="col textcenter">
        <table class="table table-condensed tableprofils table-striped table-middle {% if request.user.css_dark %}table-dark{% endif %} sortable">
            <thead><tr>
                <th>Année</th>
                <th>Date</th>
                <th>Montant</th>
                <th>Moyen</th>
                <th>Details</th>
                <th></th>
            </tr></thead>
            <tbody>
{% for adhesion in adhesions %}
            <tr>
                <td>{{adhesion.date_cotisation|date:"Y"}}</td>
                <td>{{adhesion.date_cotisation|date:"d/m"}}</td>
                <td>{{adhesion.montant}}</td>
                <td>{{adhesion.get_moyen_display}}</td>
                <td>{% if adhesion.detail %}{{adhesion.detail}}{% endif %}</td>
                <td>
                    {% if is_membre_bureau %}
                    <a class="btn btn-sm btn-warning textleft" href="{{adhesion.get_update_url}}" ><i class="fa fa-edit"></i> </a>
                    <a class="btn btn-sm btn-danger textleft" href="{{adhesion.get_delete_url}}" ><i class="fa fa-times"></i> </a>
                    {% endif %}
                </td>
            </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>
