
{% if is_membre_bureau %}
<div class="row">
    <div class="col textcenter">
        <table class="table table-condensed tableprofils table-striped table-middle sortable">
            <thead><tr>
                <th>Date</th>
                <th>Commentaire</th>
                <th></th>
            </tr></thead>
            <tbody>
{% for comm in commentaires %}
            <tr>
                <td>{{comm.date_creation|date:"d/m/Y"}}</td>
                <td>{{comm.commentaire}}</td>
                <td>
                    <a class="btn btn-sm btn-warning textleft" href="{{comm.get_update_url}}" ><i class="fa fa-edit"></i> </a>
                    <a class="btn btn-sm btn-danger textleft" href="{{comm.get_delete_url}}" ><i class="fa fa-times"></i> </a>

                </td>
            </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>
                    {% endif %}
