
<div class="row">
    <div class="col textcenter">
        <table class="table table-condensed tableprofils table-striped sortable">
            <thead><tr>
                <th>Année</th>
                <th>Montant</th>
                <th>Moyen</th>
                <th>Details</th>
                <th></th>
            </tr></thead>
            <tbody>
{% for adhesion in adhesions %}
            <tr>
                <td>{{adhesion.date_cotisation|date:"Y"}}</td>
                <td>{{adhesion.montant}}</td>
                <td>{{adhesion.moyen}}</td>
                <td>{% if adhesion.detail %}{{adhesion.detail}}{% endif %}</td>
                <td>
                    <a class="btn btn-sm btn-danger textleft" href="{{adhesion.get_delete_url}}" ><i class="fa fa-times"></i> </a>
                    <a class="btn btn-sm btn-danger textleft" href="{{adhesion.get_update_url}}" ><i class="fa fa-edit"></i> </a>
                </td>
            </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>
