{% load app_filters %}
{% load avatar_tags %}
{% load static %}

{%include 'pagination_alphabet.html' %}
{% include 'pagination_new.html' %}
{% if is_membre_bureau %}
<nav class="nav nav-tabs justify-content-center">
        {% comment %}
    <a class="nav-item nav-link active" href="#adresse" data-toggle="tab"><h6>Liste</h6></a>
      <a class="nav-item nav-link" href="#adhesions" data-toggle="tab"><h6>Adhésions</h6></a>
    {% endcomment %}
</nav>
{% endif %}
<div class="tab-content">
  <div class="tab-pane fade show active" id="adresse">
   <div class="row">
    <div class="col-md-12">
        <div style="overflow-x:auto;">
    <table class="table table-condensed tableprofils table-striped sortable table-phoning">
        <thead class="thead-inverse">
            <tr>
                <th>Nom Prénom Tel Edit</th>
                <th>Contacts</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
        <tr style="background-color:{{contact.get_background_color}} ; outline: thin solid;" >
            <td> {% if contact.adherent %} <a href="{% url 'adherents:adherent_detail' contact.adherent.pk %}">
                    {{ contact.nom }}  {{ contact.prenom }} </a>
                    {{ contact.adherent.get_statut_display}} </a> -
                {% else %}
                    {{ contact.nom }}  {{ contact.prenom }} -
                {% endif %}
                {% if contact.adresse.telephone %}<a href="tel:{{ contact.adresse.telephone }}">{{ contact.adresse.telephone }}
               <i class="fa fa-phone"></i> </a>
                {% else %} - {% endif %}
                {% if contact.commentaire %}[{{ contact.commentaire }}]{% endif %}
                   - <a class="btn btn-sm btn-warning textleft" href="{{contact.get_update_url}}" ><i class="fa fa-edit"></i> </a>
                 <a class="btn btn-sm btn-danger textleft" href="{{contact.get_delete_url2}}" onclick="return confirm('Voulez vous vraiment Supprimer cette ligne ?')" ><i class="fa fa-times"></i> </a>
            </td>
             <td style="width:80%;">
                 {%if contact.get_contacts_html %}
                     <ul>
                     {{ contact.get_contacts_html|safe }}
                        <a class="btn btn-sm btn-primary textleft" href="{{contact.get_ajoutContact_url}}" ><i class="fa fa-plus"></i> </a>
                     </ul>
                 {% else %}
                 <a class="btn btn-sm btn-primary textleft" href="{{contact.get_ajoutContact_url}}" ><i class="fa fa-plus"></i> </a>
                 {% endif %}
             </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    </div>

  </div>
{% comment %}
{% if is_membre_bureau %}
  <div class="tab-pane fade" id="adhesions">
   <div class="row">
    <div class="col-md-12">
        <div style="overflow-x:auto;">
    <table class="table table-condensed tableprofils table-striped sortable">
        <thead class="thead-inverse">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adhésions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
        <tr>
            <td>{{ adherent.nom }}</td>
            <td><a href="{% url 'adherents:contact_detail' contact.pk %}"> {{ contact.prenom }}</a></td>
            <td>{% for ad in contact.get_adhesions %} {{ad}} {%if not forloop.last%}; {%endif%}{% endfor%}</td>
      </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    </div>
  </div>
{% endif %}
{% endcomment %}
</div>
{% include 'pagination_new.html' %}
<p class="textcenter textepetit">({{contacts|length}} contacts)</p>

