{% extends 'base_asso.html' %}
{% load static %}
{% block title %} - Accueil{% endblock %}
{% block subtitle %}

<h2 class = "textcenter rowbienvenue">Collectif Système Local d'Alimentation - pour aller vers une Sécurité Sociale de l'Alimentation dans le 66</h2>


{%if request.user.is_authenticated %}
{%if request.user.adherent_ssa %}
<div class="row">
	<div class="col-sm-12">
		<div class="btn-group">
			 <a class="btn btn-success" href="{% url 'carte'  asso=assos %}"> Carte / Annuaire </a>
			 <a class="btn btn-success" href="{% url 'blog:index_asso' asso=assos%}"> Forum </a>
		</div>
	</div>
</div>
{% endif%}
{% endif%}
<h4 class = "textcenter rowbienvenue">Qui sommes nous ?</h4>
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
		<p>Le collectif a été initié suite à la projection du film "Manger pour vivre" et à la suite de la conférence gesticulée
		de Mathieu Dalmais. La raison d'être exacte du collectif n'est aps encore bien définie à ce jour, mais l'idée est de mettre en place un Système Local de l'Alimentation (SLA) inspiré par l'idée de Sécurité Sociale de l'Alimentation (SSA). Le projet exact est en cours de discussion collective...
		</p><p>N'hésitez pas à nous rejoindre !
		</p>
		<p></p>
	</div>
</div>
		{% if request.user.is_anonymous %}
			<p class="textcenter">
				 <a class="btn btn-warning" href="{% url 'login'%}" disabled> Il faut être connecté pour pouvoir s'inscrire dans ce groupe</a>
			</p>
		{% else %}

			{% if request.user.adherent_ssa %}
			<p class="textcenter">
				 <a class="btn btn-warning" href="{% url 'inscription_asso' asso_slug='ssa' %}"> Tu es inscrit-e -> Tu peux te désinscrire du groupe en cliquant ici</a>
			</p>
			{% else %}
			<p class="textcenter">
				 <a class="btn btn-primary" href="{% url 'inscription_asso' asso_slug='ssa' %}">Vous ne faites pas partie du groupe -> Inscrivez-vous en cliquant ici</a>
			</p>
			{% endif %}
		{% endif %}

	</div>
</div>
{% endblock %}
