{% extends 'base_jardin.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'jardins/garelick/css/style_jardins.css' %}">
{% endblock %}
 {% block panel-heading %}{%endblock%}
{% block div-container-global %} style="padding-top:0;"{% endblock%}
{% block surtitle %}
Jardinothèque Catalane
{% endblock %}


{% block titreBlog %}
<h1>Jardinothèque de Perma.Cat</h1>
{% endblock  %}

{%block loader %}
{% endblock  %}
{%block bodyEntete%} style="visibility: collapse;" {%endblock%}
{% block navbar %}
{% endblock %}
{% block submenu %}
<div class="sticky-top">
    <nav class="navbar navbar-light bs-dark navbar-expand-xl  shadow-petit">
        <button class="navbar-toggler navbar-toggler-right navbar-btn" type="button" data-toggle="collapse" data-target="#navbar2" aria-controls="navbar2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
        <div class="navbar-collapse collapse mx-auto" id="navbar2">
    <ul class="navbar-nav mx-auto subnavbar align-items-center">
		<li class="nav-item">
                <a href="{% url 'jardins:accueil' %}">
            <div class="row row_banniere_ordi" >
                <img  src="{% static 'jardins/garelick/images/jardinotheque_logo.png' %}"  height="50px" style="height:50px;" alt="Logo_jardins"/>
            </div>
            </a>
        </li>
		<li class="nav-item nav-jardin"><a class="dropdown-item"   href="{% url 'jardins:carte_jardins' %}"> La Carte</a></li>
		<li class="nav-item nav-jardin"><a class="dropdown-item"   href="{% url 'jardins:plantes' %}"> Les Plantes</a></li>
        {% if request.user.adherent_jp %}
            <li class="nav-item nav-jardin"><a class="dropdown-item"   href="{% url 'jardins:carte_jardiniers' %}"> Les Jardinier-es </a></li>
            <li class="nav-item nav-jardin"><a class="dropdown-item"   href="{% url 'blog:index_asso' asso='jp'%}#ref-titre"> Forum </a></li>
            <li class="nav-item nav-jardin"><a class="dropdown-item"   href="{% url 'marche' %}?asso=jp#ref-titre"> Annonces </a></li>
        {% endif %}
		<li class="nav-item "><a href="{% url 'bienvenue' %}"><img  src="{% static 'favicon.ico' %}"  height="44" alt="Retour sur perma.cat"/></a>
        </li>
                {% comment %}
        <li class="nav-item dropdown">
           <a data-toggle="dropdown" class="nav-link dropdown-toggle  navbar-menu" href="{% url 'profil_courant' %}" aria-haspopup="true" aria-expanded="false"  >
             <i class="fa fa-plus iconleft" title="Ajouter"></i>
           </a>
            <ul class="dropdown-menu dropdown-menu-right nav9-dropdown" aria-labelledby="navbarDropdownMenuLink">
                <li class="nav-item nav-jardin"><a class="dropdown-item"   href="{% url 'jardins:ajouterJardin_intro'  %}"> Ajouter un jardin </a></li>
                <li class="nav-item nav-jardin"><a class="dropdown-item"   href="{% url 'jardins:grainotheque_ajouter'  %}"> Ajouter une grainothèque </a></li>
            </ul>
        </li>
                {% endcomment %}
            </ul>
        </div>
    </nav>

</div>
{% endblock %}
