{% load app_filters %}
{% load avatar_tags %}

{% block header %}
{% load static %}
{% endblock %}

{% block content %}

   <div class="row">
    <div class="col-md-12">
        <div style="overflow-x:auto;">
    <table class="table table-condensed tablejardin table-striped sortable">
        <thead class="thead-inverse">
            <tr>
                <th style="min-width:40%;">Nom</th>
                <th>Type de jardin</th>
                {% if request.user.is_authenticated %}<th>Email</th>{% endif %}
                <th>Commune</th>
            </tr>
        </thead>
        <tbody>
        {% for jardin in jardins %}
        <tr>
           <td style="width-min:30%;" class="titre_forum"><a href="{% url 'jardins:jardin_lire' jardin.slug %}">{{ jardin.titre }}</a></td>
            <td>{{ jardin.get_categorie_display }}</td>
            {% if request.user.is_authenticated %}<td>{{ jardin.email_contact }}</td>{% endif %}
            <td>{%if jardin.adresse.commune %}{{ jardin.adresse.commune }} ({{ jardin|distance:request.user }} km) {% else %}-{% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    </div>


{% endblock %}
