{% extends 'base_agenda.html' %}
{% load fontawesome_5 %}
{% load app_filters %}
{% load static %}
{%block banniere %}
	<div class="row row_banniere_ordi" >
		<div class="col col-xs-12 d-flex justify-content-around">
            <img  src="{% static 'img/banniere/agenda_ordi.png' %}" width="224" height="120" alt="Logo_Agenda"/>
            <img  src="{% static 'img/banniere/agenda.png' %}" height="120" alt="Logo_Agenda"/>
        </div>
    </div>
	<div class="row row_banniere_smartphone">
		<div class="col col-xs-12 d-flex justify-content-center">
            <img  src="{% static 'img/banniere/agenda_smart.png' %}" height="120" alt="Logo_Agenda"/>
        </div>
    </div>
{% endblock  %}
{% block subtitle %}
<div class="row justify-content-center" >
    <nav class="navbar navbar-expand-lg justify-content-center">
        <div class="navbar-header">
             <button class="btn btn-lg navbar-toggler dropdown-toggle btn-groupe" type="button" data-toggle="collapse" data-target="#navbar_asso" aria-controls="navbarProduitContent" aria-expanded="false" aria-label="Toggle navigation">
             <p>{% if asso_courante %} Groupe : {{asso_courante}} {% else %} Choisir un groupe {% endif %} </p> </button>
        </div>
        <div class="navbar-collapse collapse " id="navbar_asso">
            <ul class="navbar-nav subnavbar2 align-items-center">
                <a  href="{% url 'cal:agenda' %}#ref-titre">
                    <li class="nav-item btn-choixgroupe btn shadow-trespetit {%if asso_slug%} btn-success{% else %}btn-primary{% endif %}">
                          <h6>Tout</h6>
                    </li>
                </a>
                {% for  asso_ab, asso_nom in asso_list %}
                <a  href="{% url 'cal:agenda' %}?{{ request.GET.urlencode|sansAsso}}&asso={{asso_ab}}#ref-titre">
                    <li class="nav-item btn-choixgroupe btn shadow-trespetit {%if asso_slug == asso_ab %} btn-warning{% else %}btn-info{% endif %}">
                          <h6>{{asso_nom}}</h6>
                    </li>
                </a>
                {% endfor %}
                <a type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#help" title="En savoir plus...">
                 {% fa5_icon 'question-circle' %}
                </a>
                <!-- Modal -->
                <div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog textaide" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                          <div class="row justify-content-center">
                           <h5 > Qu'est ce que l'agenda ?</h5>
                          </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body textleft">
            <p>L'agenda permet de visualiser les différents événements annoncés sur le site (dans les articles, le jardin, les ateliers, etc) sur un calendrier</p>
                          <p>Cliquer sur un évènement pour accéder à la page correspondante.</p>
            <p>Pour ajouter un événement, vous pouvez soit créer un article et lui associer une ou plusieurs dates, soit créer un atelier et y indiquer la date, etc...</p>
                      </div>
                    </div>
                  </div>
                </div>
            </ul>
        </div>
    </nav>
</div>
<hr>
{% endblock %}

{% block content %}


<div class="row moiscal">

    <div class="col-sm-12 textcenter">

        <a class="btn btn-light calleft btn-sm" href="{% url 'cal:agenda' %}?{{ request.GET.urlencode|sansMois}}&{{prev_month}}"> <i class="fa fa-arrow-left"></i> </a>

        {{mois|translate_month}} {{annee}}

        <a class="btn btn-light calright btn-sm" href="{% url 'cal:agenda' %}?{{ request.GET.urlencode|sansMois}}&{{next_month}}">  <i class="fa fa-arrow-right"></i> </a>

    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-12 textcenter">
        <button id="btn-afficher-calendrier" class="btn btn-light btn-sm ">
            Afficher les jours passés du mois
        </button>

        {{ calendar }}
    </div>
</div>

<script>
const bouton = document.getElementById('btn-afficher-calendrier');
const elements = document.getElementsByClassName('daybefore');
bouton.addEventListener('click', function() {
    // Boucle à travers TOUS les éléments de la collection
    for (let i = 0; i < elements.length; i++) {
            elements[i].style.display = 'flex';
        }
        bouton.style.display = 'none';
});

</script>

{% endblock %}
