{% extends 'base_site.html' %}

  {% load static %}

  {% block header %}
  <script src="{% static 'dashboard/libs/jquery/jquery.js' %}"></script>
{% endblock %}

{% block subtitle %}
        <h3 class="mb-1 me-2">Selectionner un Collectif pour accéder à son espace dédié</h3>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-sm-12 order-0 mb-6 mt-6">
             <form id="articleForm" class="form-horizontal" role="form" action="" method="post">
                        {% csrf_token %} {% include 'form_template2_nolabel.html'%}
            <div class="justify-content-center textcenter">
                        <button id="btn-valider" type="submit" class="btn btn-primary">Valider</button>
                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}




