{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Tableau de bord {% endblock %}

{% block content %}

  <div class="row">
    <!-- Raccourcis -->
    {% block raccourcis %}
    {% endblock %}
    {% block agenda %}
    <!-- Prochains RDV -->
    <div class="col-lg-6 col-sm-12 order-1 mb-6">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div class="card-title mb-0">
            <h5 class="mb-1 me-2">Prochains rendez-vous</h5>
              <p class="card-subtitle">Inscrits à <a href="{% url 'cal:agenda' %}">l'agenda </a></p>
          </div>
          <div class="d-block">
            <a class="btn btn-primary me-1 dropdown-toggle" data-bs-toggle="collapse" href="#dernieres_dates"
             onclick="get_derniers('{% url 'dashboard:prochainesDates' asso=request.session.asso_slug %}', '#dernieres_dates');"
               role="button" aria-expanded="true" aria-controls="collapseExample">
              Voir
            </a>
          </div>
        </div>
        <div class="card-body">
          <div id="dernieres_dates"></div>
        </div>
      </div>
    </div>
    {% endblock %}
    {% block epingles %}
    <!-- Dossiers principaux -->
    {% endblock %}

    {% block derniersArticles %}
    <!-- Derniers Articles -->
    <div class="col-lg-6 col-sm-12 order-1 mb-6">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div class="card-title mb-0">
            <h5 class="mb-1 me-2">Derniers Articles</h5>
              <p class="card-subtitle">Sur le <a href="{% url 'blog:acceuil' %}">Forum </a></p>
          </div>
          <div class="d-block">
            <a class="btn btn-primary me-1 dropdown-toggle" data-bs-toggle="collapse" href="#derniers_articles"
             onclick="get_derniers('{% url 'dashboard:derniersArticles' asso=request.session.asso_slug %}', '#derniers_articles');"
               role="button" aria-expanded="true" aria-controls="collapseExample">
              Voir
            </a>
          </div>
        </div>
        <div class="card-body">
          <div id="derniers_articles"></div>
        </div>
      </div>
    </div>
    {% endblock %}
    {% block derniersDocs %}
    <!-- derniers docs -->
    <div class="col-lg-6 col-sm-12 order-2 mb-6">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div class="card-title mb-0">
            <h5 class="mb-1 me-2"> Derniers Documents</h5>
              <p class="card-subtitle">A disposition du Collectif</p>
          </div>
          <div class="d-block">
            <a class="btn btn-primary me-1 dropdown-toggle" data-bs-toggle="collapse" href="#derniers_docs"
             onclick="get_derniers('{% url 'dashboard:derniersDocs' asso=request.session.asso_slug %}', '#derniers_docs');"
               role="button" aria-expanded="true" aria-controls="collapseExample">
              Voir
            </a>
          </div>
        </div>
        <div class="card-body">
          <div id="derniers_docs"></div>
        </div>
      </div>
    </div>
    {% endblock %}
    {% block derniersComm %}
    <!-- derniers Comm -->
    <div class="col-lg-6 col-sm-12 order-3 mb-6">
      <div class="card ">
        <div class="card-header d-flex justify-content-between">
          <div class="card-title mb-0">
            <h5 class="mb-1 me-2"><i class="icon-base bx bx-comment"></i> Derniers Commentaires</h5>
              <p class="card-subtitle">Et discussions dans les Articles</p>
          </div>
          <div class="d-block">
            <a class="btn btn-primary me-1 dropdown-toggle" data-bs-toggle="collapse" href="#derniers_commentaires"
             onclick="get_derniers('{% url 'dashboard:derniersCommentaires' asso=request.session.asso_slug %}', '#derniers_commentaires');"
               role="button" aria-expanded="true" aria-controls="collapseExample">
              Voir
            </a>
          </div>
        </div>
        <div class="card-body">
          <div id="derniers_commentaires"></div>
        </div>
      </div>
    </div>
    {% endblock %}

  </div>

{% endblock %}

  {% block script %}
  <script src="{% static 'dashboard/assets/js/ui-popover.js' %}"></script>
<script>
$( document ).ready(function() {
});
function get_derniers(url_tag, id_html) {

    $.ajax({
        url: url_tag,
        type: "GET",
        contentType: "application/x-www-form-urlencoded",
        async: false,
        data: { },
        error: function(response, status, error_msg) {
            console.log(error_msg);
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $(id_html).html(data);  // replace the contents of the city input with the data that came from the server
        }
    });
}

  </script>
{% endblock %}




