{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Tableau de bord SSA 66{% endblock %}

{% block content %}

{% comment %}
  <div class="row">
      <div class="col-xxl-4 mb-6 order-0 profile-report">
          <div class="card h-100">
            <div class="card-header d-flex justify-content-between">
              <div class="card-title mb-0">
                <h5 class="mb-1 me-2">Raccourcis</h5>
              </div>
            </div>
            <div class="card-body">
          <ul class="p-0 m-0">
                <li class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                  <a  href="https://www.perma.cat/salon/d/gt-animation">
                  <div class="mt-sm-auto">
                      <span class="text-success text-nowrap fw-medium"></span>
                    <h4 class="mb-0">Salon GT Animation</h4>
                  </div>
                  </a>
                </li>
                <li class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                  <a  href="https://docs.google.com/spreadsheets/d/1gL3aDbIqWRd1kTmSgaRYsLa1PfQoAj2QXdKmDk7Z-MU/edit?gid=7005119">
                  <div class="mt-sm-auto">
                      <span class="text-success text-nowrap fw-medium"></span>
                    <h4 class="mb-0">[doc partagé] Acteurs locaux </h4>
                  </div>
                  </a>
                </li>
                <li class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                  <a  href="https://semestriel.framapad.org/p/constitution-du-cla">
                  <div class="mt-sm-auto">
                      <span class="text-success text-nowrap fw-medium"></span>
                    <h4 class="mb-0">[doc partagé] Constitution CLA</h4>
                  </div>
                  </a>
                </li>
                <li class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                  <a  href="https://semestriel.framapad.org/p/pruises-de-notes-et-cr-reunions">
                  <div class="mt-sm-auto">
                      <span class="text-success text-nowrap fw-medium"></span>
                    <h4 class="mb-0">[doc partagé] Prises de ntes et CR</h4>
                  </div>
                  </a>
                </li>
          </ul>
            </div>
          </div>
        </div>
    <div class="col-xxl-8 mb-6 order-1">
      <div class="card h-100">
        <div class="card-header d-flex justify-content-between">
          <div class="card-title mb-0">
            <h5 class="mb-1 me-2"><i class="icon-base bx bx-book"></i>Dossiers principaux (Articles du forum)</h5>
          </div>
          <div class="dropdown">
            <button class="btn text-body-secondary p-0" type="button" id="articles" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-base bx bx-dots-vertical-rounded icon-lg"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="articles">
              <a class="dropdown-item" href="{% url 'blog:acceuil' %}">Acceuil du Forum</a>
              <a class="dropdown-item" href="{% url 'blog:index_asso' asso=request.session.asso_slug %}?ancre_navtab=dossier#ref-navbargroupe">Dossiers</a>
              <a class="dropdown-item" href="{% url 'blog:index_asso' asso=request.session.asso_slug %}?ancre_navtab=tags#ref-navbargroupe">Mots-clé</a>
              <a class="dropdown-item" href="{% url 'blog:index_asso' asso=request.session.asso_slug %}?ancre_navtab=archives#ref-navbargroupe">Archives</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ul class="p-0 m-0">
              <a href="https://www.perma.cat/forum/article/documentation-generale#ref-titre">
            <li class="d-flex align-items-left mb-5">
              <div class="avatar flex-shrink-0 me-3">
                <span class="avatar-initial rounded bg-label-primary">
                  <i class="icon-base bx bx-mobile-alt"></i>
                </span>
              </div>
              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                <div class="me-2">
                  <h6 class="mb-0">Documentation Générale</h6>
                  <small>Toutes les infos sur la SSA</small>
                </div>
              </div>
            </li>
              </a>
              <a href="https://www.perma.cat/forum/article/reunions#ref-titre">
            <li class="d-flex align-items-center mb-5">
              <div class="avatar flex-shrink-0 me-3">
                <span class="avatar-initial rounded bg-label-success">
                  <i class="icon-base bx bx-closet"></i>
                </span>
              </div>
              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                <div class="me-2">
                  <h6 class="mb-0">Réunions du collectif</h6>
                  <small>Comptes Rendus, prochaines dates, organisation...</small>
                </div>
              </div>
            </li>
              </a>
              <a href="https://www.perma.cat/forum/article/valeurs-objectifs-et-raison-detre-du-collectif#ref-titre">
            <li class="d-flex align-items-center mb-5">
              <div class="avatar flex-shrink-0 me-3">
                <span class="avatar-initial rounded bg-label-info">
                  <i class="icon-base bx bx-home-alt"></i>
                </span>
              </div>
              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                <div class="me-2">
                  <h6 class="mb-0">Nos Valeurs, Objectifs et Raison d'être</h6>
                  <small>Les fondements du collectif</small>
                </div>
              </div>
            </li>
              </a>
              <a href="https://www.perma.cat/forum/article/communication-1">
            <li class="d-flex align-items-center">
              <div class="avatar flex-shrink-0 me-3">
                <span class="avatar-initial rounded bg-label-secondary">
                  <i class="icon-base bx bx-football"></i>
                </span>
              </div>
              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                <div class="me-2">
                  <h6 class="mb-0">Communication</h6>
                  <small>Infos : Mails, site web, visio, ... </small>
                </div>
              </div>
            </li>
              </a>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endcomment %}


  <div class="row">
    <!-- Salons -->
    <div class="col-lg-6  col-sm-12 order-0 mb-6">
      <div class="card h-100">
        <div class="card-header d-flex justify-content-between">
            <h5 class="mb-1 me-2">Liens directs </h5>
        </div>
        <div class="card-body">
        <ul class="p-0 m-0">
          <li class="d-flex align-items-center mb-5">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <div class="me-2">
                      <span class="text-success text-nowrap fw-medium"></span>
                      <a  href="https://www.perma.cat/salon/d/gt-animation">
                        <h6 class="mb-0"><i class="icon-base bx bx-group"></i>  GT Animation </h6>
                      </a>
                  </div>
                  <div>
                      <a  href="https://www.perma.cat/forum/article/reunions">
                          <small><span class="badge bg-label-primary"><i class="icon-base bx bx-book-alt icon-xs"></i> Réunions du collectif</span></small>
                      </a>
                  </div>
                </div>
          </li>

          <li class="d-flex align-items-center mb-5">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <div class="me-2">
                      <span class="text-success text-nowrap fw-medium"></span>
                      <a  href="https://docs.google.com/spreadsheets/d/1gL3aDbIqWRd1kTmSgaRYsLa1PfQoAj2QXdKmDk7Z-MU/edit?gid=7005119"  target="_blank">
                        <h6 class="mb-0"><i class="icon-base bx bx-book-content"></i>  Acteurs locaux </h6>
                      </a>
                  </div>
                  <div>
                      <a  href="https://www.perma.cat/forum/article/acteurs-locaux">
                          <small><span class="badge bg-label-primary"><i class="icon-base bx bx-book-alt icon-xs"></i>  Acteurs locaux et partenariats</span></small>
                      </a>
                  </div>
                </div>
          </li>

          <li class="d-flex align-items-center mb-5">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <div class="me-2">
                      <span class="text-success text-nowrap fw-medium"></span>
                      <a  href="https://semestriel.framapad.org/p/constitution-du-cla"  target="_blank">
                        <h6 class="mb-0"><i class="icon-base bx bx-book-content"></i>  Constitution CLA</h6>
                      </a>
                  </div>
                  <div>
                      <a href="https://www.perma.cat/forum/article/acteurs-locaux">
                          <small><span class="badge bg-label-primary"><i class="icon-base bx bx-book-alt icon-xs"></i>  Acteurs locaux et partenariats</span></small>
                      </a>
                  </div>
                </div>
          </li>
          <li class="d-flex align-items-center mb-5">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <div class="me-2">
                      <span class="text-success text-nowrap fw-medium"></span>
                      <a href="https://semestriel.framapad.org/p/constitution-du-cla"  target="_blank">
                        <h6 class="mb-0"><i class="icon-base bx bx-book-content"></i>  Prises de notes et CR</h6>
                      </a>
                  </div>
                  <div>
                      <a  href="https://www.perma.cat/forum/article/reunions">
                          <small> <span class="badge bg-label-primary"><i class="icon-base bx bx-book-alt icon-xs"></i>  Réunions du collectif</span></small>
                      </a>
                  </div>
                </div>
          </li>
        </ul>
        </div>
      </div>
    </div>
    <!-- Dossier principaux -->
    <div class="col-lg-6 col-sm-12 order-1 mb-6">
      <div class="card h-100">
        <div class="card-header d-flex justify-content-between">
          <div class="card-title mb-0">
            <h5 class="d-mb-1 me-2">Articles principaux</h5>
          </div>
        </div>
        <div class="card-body">
          <ul class="p-0 m-0">
            <li class="d-flex align-items-center mb-5">
              <div class="d-flex w-100 align-items-center justify-content-between ">
                  <div class="me-2">
                  <a href="https://www.perma.cat/forum/article/communication-1">

                      <h6 class="mb-0"><i class="icon-base bx bx-book-alt icon-sm"></i> Documentation Générale</h6>
                  </a>
                    <small>Toutes les infos sur la SSA</small>
                  </div>
                  <div>
                  <a href="https://www.perma.cat/forum/articles/ssa?categorie=documentation&ancre_navtab=dossier#ref-navbargroupe">
                      <small><span class="badge bg-label-info"><i class="icon-base bx bx-folder icon-xs"></i>  Documentation </span></small>
                    </a>
                  </div>
              </div>
            </li>
            <li class="d-flex align-items-center mb-5">
              <div class="d-flex w-100 align-items-center justify-content-between">
                <div class="me-2">
                  <a href="https://www.perma.cat/forum/article/reunions#ref-titre">

                    <h6 class="mb-0"><i class="icon-base bx bx-book-alt icon-sm"></i> Réunions du collectif</h6>
                  </a>
                  <small>Comptes Rendus, prochaines dates, organisation...</small>
                </div>
                <div class="me-2">
                  <a href="https://www.perma.cat/forum/articles/ssa?categorie=Agenda&ancre_navtab=dossier#ref-navbargroupe">
                  <small> <span class="badge bg-label-info"><i class="icon-base bx bx-folder icon-xs"></i>   Agenda </span></small>
                  </a>
                </div>
              </div>
            </li>
            <li class="d-flex align-items-center mb-5">
              <div class="d-flex w-100 align-items-center justify-content-between ">
                <div class="me-2">
                  <a href="https://www.perma.cat/forum/article/communication-1">
                  <h6 class="mb-0"><i class="icon-base bx bx-book-alt icon-sm"></i> Communication</h6>
                  </a>
                  <small>Infos : Mails, site web, visio, ... </small>
                </div>
                <div class="me-2">
                  <a href="https://www.perma.cat/forum/articles/ssa?categorie=organisation&ancre_navtab=dossier#ref-navbargroupe">
                  <small> <span class="badge bg-label-info"><i class="icon-base bx bx-folder icon-xs"></i> Organisation du Groupe</span></small>
                  </a>
                </div>
              </div>
            </li>
            <li class="d-flex align-items-center mb-5">
              <div class="d-flex w-100 align-items-center justify-content-between ">
                <div class="me-2">
                  <a href="https://www.perma.cat/forum/article/valeurs-objectifs-et-raison-detre-du-collectif#ref-titre">
                  <h6 class="mb-0">
                      <i class="icon-base bx bx-book-alt icon-sm"></i> Nos Valeurs, Objectifs et Raison d'être</h6>
                  </a>
                  <small>Les bases du collectif</small>
                </div>
                <div class="me-2">
                  <a href="https://www.perma.cat/forum/articles/ssa?categorie=organisation&ancre_navtab=dossier#ref-navbargroupe">
                  <small> <span class="badge bg-label-info"><i class="icon-base bx bx-folder icon-xs"></i> Organisation du Groupe</span></small>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- derniers docs -->
    <div class="col-lg-6 col-sm-12 order-0 mb-6">
      <div class="card h-100">
        <div class="card-header d-flex justify-content-between">
          <div class="card-title mb-0">
            <h5 class="d-mb-1 me-2"> Derniers Documents</h5>
          </div>
          <div class="dropdown">
            <button class="btn text-body-secondary p-0" type="button" id="orderStatistics" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-base bx bx-dots-vertical-rounded icon-lg"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orderStatistics">
              <a class="dropdown-item" href="{% url 'photologue:doc-list'  %}?asso={{request.session.asso_slug}}">Tous les documents du groupe</a>
              <a class="dropdown-item" href="{% url 'photologue:doc-list' %}?reset_asso=True">Tous les documents de la plateforme</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="derniers_docs"></div>
        </div>
      </div>
    </div>
    <!-- Derniers Dossier -->
    <div class="col-lg-6 col-sm-12 order-1 mb-6">
      <div class="card h-100">
        <div class="card-header d-flex justify-content-between">
          <div class="card-title mb-0">
            <h5 class="d-mb-1 me-2">Derniers Articles</h5>
          </div>
          <div class="dropdown">
            <button class="btn text-body-secondary p-0" type="button" id="forum" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-base bx bx-dots-vertical-rounded icon-lg"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="articles">
              <a class="dropdown-item" href="{% url 'blog:acceuil' %}">Acceuil du Forum</a>
              <a class="dropdown-item" href="{% url 'blog:voir_articles_liens_d3_tree' asso_slug=request.session.asso_slug %}">Arborescence</a>
              <a class="dropdown-item" href="{% url 'blog:index_asso' asso=request.session.asso_slug %}?ancre_navtab=dossier#ref-navbargroupe">Dossiers</a>
              <a class="dropdown-item" href="{% url 'blog:index_asso' asso=request.session.asso_slug %}?ancre_navtab=tags#ref-navbargroupe">Mots-clé</a>
              <a class="dropdown-item" href="{% url 'blog:index_asso' asso=request.session.asso_slug %}?ancre_navtab=archives#ref-navbargroupe">Archives</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="derniers_articles"></div>
        </div>
      </div>
    </div>
    <!-- derniers Comm -->
    <div class="col-lg-6 col-sm-12 order-2 mb-6">
      <div class="card h-100">
        <div class="card-header d-flex justify-content-between">
          <div class="card-title mb-0">
            <h5 class="d-mb-1 me-2"><i class="icon-base bx bx-comment"></i> Derniers Commentaires</h5>
          </div>
        </div>
        <div class="card-body">
          <div id="derniers_commentaires"></div>
        </div>
      </div>
    </div>

    <!-- Derniers Dossier -->
    <div class="col-lg-6 col-sm-12 order-1 mb-6">
      <div class="card h-100">
        <div class="card-header d-flex justify-content-between">
          <div class="card-title mb-0">
            <h5 class="d-mb-1 me-2">Prochains rendez-vous</h5>
          </div>
        </div>
        <div class="card-body">
          <div id="dernieres_dates"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

  {% block script %}
  <script src="{% static 'dashboard/assets/js/ui-popover.js' %}"></script>
<script>
$( document ).ready(function() {
    get_derniers('{% url 'dashboard:derniersDocs' asso=request.session.asso_slug %}', "#derniers_docs");
    get_derniers('{% url 'dashboard:derniersArticles' asso=request.session.asso_slug %}', "#derniers_articles");
    get_derniers('{% url 'dashboard:derniersCommentaires' asso=request.session.asso_slug %}', "#derniers_commentaires");
    get_derniers('{% url 'dashboard:prochainesDates' asso=request.session.asso_slug %}', "#dernieres_dates");
});
function get_derniers(url_tag, id_html) {

    $.ajax({
        url: url_tag,
        type: "GET",
        contentType: "application/x-www-form-urlencoded",
        async: false,
        data: { },
        error: function(response, status, error_msg) {
            console.log(error_msg);
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $(id_html).html(data);  // replace the contents of the city input with the data that came from the server
        }
    });
}

  </script>
{% endblock %}


